.about {
  padding-top: 70px;
  background-color: black;
  color: white;
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.62;
  }
  &__container {
    width: var(--smallContainerWidth);
    margin-left: auto;
    margin-right: auto;
  }
  &__first {
    margin-bottom: 55px;
  }
  &__second {
    font-size: 0;
  }
  &__slider {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    height: 360px;
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    &:before,
    &:after {
      position: absolute;
      top: 70px;
      font-size: 20px;
      font-weight: 600;
      color: #50535C;
    }
    &:before {
      content: 'Наше прошлое';
      left: 18%;
      transform: rotate(-30deg);
      transform-origin: 0;
    }
    &:after {
      content: 'Наше будущее';
      right: 18%;
      transform: rotate(30deg);
      transform-origin: 100%;
    }
  }
  &__gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 76px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.73) 38%, black);
  }
  &__circle {
    width: 100%;
    height: 800px;
    border: 4px solid white;
    border-radius: 50%;
    position: relative;
  }
  &__svg {
    width: 100%;
    border-radius: 50%;
  }
  &__dots .owl-dot {
    width: 80px;
    height: 80px;
    background-color: black;
    border: solid 4px white;
    font-size: 26px;
    font-weight: 600;
    line-height: 2.79;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 1;
    cursor: pointer;
    padding: 0;
    user-select: none;
    transition-property: box-shadow, width, height, font-size, font-weight, background-color, color, margin-left, margin-top;
    transition-duration: 400ms;
    transition-timing-function: ease;
    &.active {
      width: 120px;
      height: 120px;
      font-size: 40px;
      font-weight: 900;
      background-color: white;
      color: var(--firstColor);
      margin-left: -60px;
      margin-top: -60px;
    }
    &:not(.active):hover {
      box-shadow: 0 0 40px 5px var(--firstColor);
    }
    span {
      display: block;
      transform: rotateZ(-90deg);
    }
  }
  &__content {
    width: 60%;
    overflow: hidden;
    position: absolute;
    bottom: 51px;
    left: 20%;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.62;
  }
  &__slide {
    table {
      border-spacing: 0 25px;
    }
    td {
      vertical-align: top;
    }
  }
}
.file {
  margin-top: 27px;
  display: inline-block;
  width: 130px;
  height: 140px;
  background-color: black;
  border: solid 4px var(--firstColor);
  &_l {float: left;}
  &_r {float: right;}
  &__name {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 16px;
  }
  &__size {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.5;
    padding-left: 16px;
  }
}
