.contacts {
  height: 605px;
  background-color: white;
  overflow: hidden;
  &__info {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
  }
  &__container {
    width: calc(var(--containerWidth) / 2);
    margin-left: auto;
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 170px;
    position: relative;
  }
  &__svg {
    position: absolute;
    left: -90px;
    bottom: -30px;
    width: 800px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 50px;
  }
  &__label {
    font-size: 22px;
    font-weight: 600;
    color: #858585;
    line-height: normal;
  }
  &__address {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 35px;
  }
  &__phone {
    display: inline-block;
    color: var(--firstColor);
    font-size: 24px;
    font-weight: 600;
    padding-top: 7px;
    margin-bottom: 20px;
    margin-left: -10px;
  }
  &__email {
    display: inline-block;
    color: var(--firstColor);
    font-size: 24px;
    font-weight: 600;
    padding-top: 7px;
    margin-bottom: 20px;
  }
  &__button {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    cursor: pointer;
    padding: 10px;
    left: -10px;
    top: -10px;
    span {
      transform: translate(0, 0);
      display: block;
      color: white;
      background-color: var(--firstColor);
      padding: 15px 22px;
      position: relative;
      z-index: 1;
      user-select: none;
      transition: 300ms ease;
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      transform: translate(10px, 10px);
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      color: var(--firstColor);
      background-color: #dedede;
      z-index: 0;
      transition: 300ms ease;
    }
    &:hover {
      span {
        transform: translate(10px, 10px);
        color: var(--firstColor);
        background-color: #dedede;
      }
      &:after {
        transform: translate(0, 0);
        color: white;
        background-color: var(--firstColor);
      }
    }
  }
  &__map {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    background-color: black;
  }
}
