.footer {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
  &__container {
    overflow: hidden;
    padding-top: 66px;
    padding-bottom: 66px;
  }
  &__copy {
    display: inline-block;
    float: left;
    width: 50%;
  }
  &__ida {
    display: inline-block;
    float: left;
    width: 50%;
  }
  &__link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
