.header {
  top: 60px;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 2;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    /*display: flex;*/

    display: none;
    width: 200px;
    align-items: center;
  }
  &__logo {
    width: 287px;
    height: 49px;
    background-image: url(../images/logo2.svg);
  }
  &__tenders {
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s;
    a {
        transition: all 0.3s;
        margin:0 10px;
    }
    a:hover {
     opacity:0.5;
    }
    &:hover {
    }
  }

  &__phone {
    width: 200px;
    font-size: 30px;
    font-weight: 600;
  }
}
.menu {
  margin-right: 13px;
  &__line {
    display: block;
    width: 38px;
    height: 5px;
    background-color: white;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
