.intro {
  height: 730px;
  position: relative;
}
.slider {
  .owl-stage {
    transition-timing-function: ease !important;
  }
  .owl-nav.disabled+.owl-dots {
    margin-top: 0;
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    text-align: left;
    color: white;
    width: var(--containerWidth);
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-dot {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 26px;
    opacity: 0.46;
    margin-right: 40px;
    border-bottom: solid 7px transparent;
    &.active {
      opacity: 1;
      border-color: black;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.slide {
  height: 730px;
  position: relative;
  background-color: var(--firstColor);
  color: white;
  &__svg {
    height: 89%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    &.is-active {
      opacity: 1;
    }
  }
  &__info {
    position: absolute;
    bottom: 150px;
    width: 100%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__first {
    display: flex;
  }
  &__name {
    margin-left: 25px;
  }
  &__type {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
  }
  &__title {
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
  }
  &__facts {
    display: flex;
  }
  &__fact {
    margin-right: 58px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__number {
    font-size: 60px;
    font-weight: 600;
    line-height: 0.8;
  }
  &__units {
    font-size: 30px;
    font-weight: 600;
  }
}
