.news {
  background-color: var(--firstColor);
  color: white;
  &__container {
    padding: 40px 30px 120px;
    position: relative;
  }
  &__blocks {
    margin-top: 20px;
    overflow: hidden;
  }
  &__block {
    display: inline-block;
    width: 300px;
    float: left;
    margin-right: 100px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__date {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.4;
    opacity: 0.4;
    margin-bottom: 7px;
  }
  &__month {
    font-size: 30px;
    line-height: 1.8;
    vertical-align: top;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  &__text {
    font-size: 16px;
    line-height: 1.25;
    opacity: 0.6;
  }
  &__button {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 20px;
    background-color: white;
    padding: 12px 20px;
    color: var(--firstColor);
    transition: 300ms ease;
    user-select: none;
    cursor: pointer;
  }
}
