.popup {
  &__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__form {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &__label {
    display: block;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  &__input,
  &__textarea {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border: 1px solid black;
  }
  &__textarea {
    resize: none;
  }
  &__button {
    font-size: 22px;
    font-weight: 600;
    background-color: var(--firstColor);
    color: white;
    border: none;
    padding: 15px 22px;
    cursor: pointer;
  }
  &__success {
    display: none;
  }
  &__text {
    font-size: 18px;
    line-height: 1.4;
  }
}
.remodal {
  max-width: 500px;
}
.remodal-overlay {
  background-color: rgba(19, 31, 107, 0.9);
}
