.projects {
  background-color: black;
  color: white;
  &__title {
    width: var(--smallContainerWidth);
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    margin-bottom: 35px;
  }
  &__slider {
    width: 100%;
    margin-left: auto;
    .owl-stage-outer {
      padding-bottom: 20px;
      padding-left: calc((100% - var(--containerWidth)) / 2);
    }
    .owl-nav.disabled+.owl-dots {
      margin-top: 0;
    }
    .owl-item {
      backface-visibility: hidden;
      transform: translateZ(0);
    }
    .owl-dots {
      position: absolute;
      top: -70px;
      right: 300px;
    }
    .owl-dots .owl-dot span {
      width: 18px;
      height: 18px;
      background-color: #141519;
    }
    .owl-dots .owl-dot.active span {
      background-color: white;
    }
    .owl-nav {
      margin-top: 0;
      [class*=owl-] {
        position: absolute;
        top: calc(50% - 35px);
        margin: 0;
        padding: 0;
        width: 70px;
        height: 70px;
        font-size: 0;
        border-radius: 0;
        background-color: black;
        transition: 300ms ease;
        &:hover {
          background-color: black;
        }
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -10px;
          margin-left: -8px;
          transition: 100ms ease;
        }
      }
      .disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
    .owl-prev {
      left: 0;
      &:after {
        border-width: 10px 16px 10px 0;
        border-color: transparent white transparent transparent;
      }
      &:hover:after {
        border-color: transparent var(--firstColor) transparent transparent;
      }
    }
    .owl-next {
      right: 0;
      &:after {
        border-width: 10px 0 10px 16px;
        border-color: transparent transparent transparent white;
      }
      &:hover:after {
        border-color: transparent transparent transparent var(--firstColor);
      }
    }
  }
}
.project {
  position: relative;
  cursor: pointer;
  width: 430px;
  height: 430px;
  &:hover {
    box-shadow: 0 4px 44px 0 rgba(36,59,201,0.6);
    .project__image {
      background-position: 0;
    }
    .project__image:after {
      height: 50%;
    }
    .project__title:after {
      background-color: white;
    }
  }
  &__image {
    width: 100%;
    padding-top: 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    &:after {
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      background-image: linear-gradient(to bottom, rgba(19, 19, 19, 0.0), #000000);
    }
  }
  &__info {
    position: absolute;
    bottom: 41px;
    left: 30px;
  }
  &__type {
    font-size: 20px;
    margin-bottom: -3px;
  }
  &__title {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: transparent;
      position: absolute;
      bottom: 7px;
      left: 0;
    }
  }
}
.map {
  position: relative;
  overflow: hidden;
  &__map {
    height: 530px;
    background-color: black;
  }
  &__shadow {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 195px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.73) 38%, black);
  }
  &__info {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -580px;
    padding-left: 30px;
  }
  &__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  &__subtitle {
    font-size: 30px;
  }
  &__container {
    position: relative;
  }
  &__button {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 20px;
    background-color: var(--firstColor);
    padding: 12px 20px;
    color: rgba(255,255,255,0.32);
    transition: 300ms ease;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
.infobox {
  &__info {
    position: absolute;
    left: 10px;
    bottom: 25px;
    font-family: 'Proxima Nova', sans-serif;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  &__type {
    font-size: 13px;
    font-weight: 600;
  }
  &__gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  }
  &__arrow {
    position: absolute;
    bottom: -14px;
    left: calc(50% - 22px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 22px 0 22px;
    border-color: black transparent transparent transparent;
  }
}
