/* Дефолтные стили */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-width: var(--minWidth);
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h2 {
  font-size: 50px;
  font-weight: 600;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
input, textarea {
  font-family: 'Proxima Nova', sans-serif;
}
.container {
  width: var(--containerWidth);
  margin-left: auto;
  margin-right: auto;
}
