@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNovaCond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNovaCond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNovaCond-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNovaCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNovaCond-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
