.news {
  &-header {
    position: relative;
    background: url('/assets/images/tenders-header.svg') var(--firstColor) no-repeat right top;
    background-size: contain;
    &__wrapper {
      padding: 188px 0 33px;
      width: 1160px;
      margin: 0 auto;
    }
    &__title {
      color: #ffffff;
      font-size: 80px;
      font-weight: 600;
      line-height: 0.88;
      margin-bottom: 105px;
    }
  }

  &-content {
    background: url('/assets/images/bg.svg') #000000 no-repeat left top;
    &__wrapper {
      margin: 0 auto;
      width: 1160px;
    }

    &__text {
      color: #fff;
      padding: 50px 0 50px 30px;
      font-size: 16px;
      line-height: 1.62;
      & p {
        margin-bottom: 20px;
      }
    }
  }
}

