.header-return {
  color: #ffffff;

  &__text, &__arrow {
    display: inline-block;
    vertical-align: middle;
  }

  &__arrow {
    margin-right: 13px;
  }

  &__text {
    font-size: 22px;
    font-weight: 600;
  }
}

.tenders {
  background: url('/assets/images/bg.svg') #000000 no-repeat left top;
  &-header {
    position: relative;
    background: url('/assets/images/tenders-header.svg') var(--firstColor) no-repeat right top;
    &__wrapper {
      padding: 188px 0 33px 0px;
      width: 1160px;
      margin: 0 auto;
    }

    &__title {
      color: #ffffff;
      font-size: 80px;
      font-weight: 600;
      line-height: 0.88;
      margin-bottom: 105px;

    }
  }

  &-wrapper {
    margin: 0 auto;
    width: 1160px;
  }
}

.tenders-info {
  color: #ffffff;
  padding: 30px 0 30px 30px;
  font-size: 16px;
  line-height: 1.62;
  &__mail {
    margin: 15px 0 15px 0;
    font-size: 32px;
    line-height: 0.81;
  }
}

.tender-list {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 110px;
}

.tender {
  font-size: 18px;
  margin-bottom: 30px;
  background: #ffffff;

  &_active .tender__button-icon {
    transform: rotate(90deg);
  }

  &_active .tender__button-text_open {
    display: none;
  }

  &_active .tender__button-text_close {
    display: inline;
  }

  &__header {
    display: flex;
    background: var(--firstColor);
    color: #ffffff;
    margin-bottom: 19px;
  }

  &__title {
   width: 840px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;

    &-text {
     width: 690px;
      padding: 19px 30px;
    }
  }

  &__download {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background: #ffffff;

      & .tender__download-icon {
        fill: var(--firstColor);
      }

      & .tender__download-link {
        color: var(--firstColor);
      }
    }

    &-icon {
      display: inline-block;
      content: '';
      width: 23px;
      height: 30px;
      background: url('/assets/images/doc-icon.svg');
      fill: white;
      vertical-align: middle;
      margin-right: 5px;
      transition: all 0.3s;
    }
  }

  &__content {
    padding: 0 30px ;
    margin-bottom: 30px;
  }

  &__property {
    &-list {
      display: flex;
      justify-content: space-between;
      height: 430px;
    }

    &-item {
      font-size: 14px;
      width: 140px;
      position: relative;
      &:nth-child(2) {
        width: 380px;
      }
      &:last-child {
        width: 250px;
      }
    }

    &-title {
      color: #bdbdbd;
      margin-bottom: 25px;
      font-style: italic;
    }

    &-value {
      color: var(--firstColor);
      font-size: 18px;
      position: absolute;
      top: 35px;
      & ul {
        padding: 0;
        list-style: none;
        & li {
          margin-bottom: 10px;
          & a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &__description {
    margin-top: 50px;
    color: var(--firstColor);
    font-size: 16px;
    display: none;

    &-info {
      width: 1160px;
      width: 770px;
      margin-bottom: 50px;
    }
  }

  &__sidebar {
    float: left;
    &-item {
      margin-bottom: 30px;
    }
    &-title {
      color: #bdbdbd;
      font-style: italic;
      margin-bottom: 10px;
    }
  }

  &__requirement {
    margin-left: 270px;
    width: 640px;
    padding-bottom:20px;
    &-item {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 12px;
      color: #bdbdbd;
      font-style: italic;
      width: 420px;
    }

    &-description {

    }
  }

  &__button {
    padding: 0 0 21px 30px;
    cursor: pointer;
    &-icon {
      fill: var(--firstColor);
      transform: rotate(270deg);
      vertical-align: middle;
      margin-right: 10px;
    }
    &-text {
      font-size: 14px;
      color: var(--firstColor);
      display: inline-block;
      vertical-align: middle;
      &_close {
        display: none;
      }
    }
  }
}

