/* Переменные */
:root {
  --firstColor: #131f6b;
  --minWidth: 1400px;
  --containerWidth: 1160px;
  --smallContainerWidth: 800px;
}

@custom-media --latex-tablet (width <= 1000px);
@custom-media --latex-mobile (width <= 640px);
