<footer class="footer">
  <div class="footer__container container">
    <p class="footer__copy">&copy;&nbsp;2016, СБ&nbsp;ДЕВЕЛОПМЕНТ</p>
    <p class="footer__ida">Создание сайта&nbsp;&mdash; <a class="footer__link" href="http://idaproject.com" target="_blank">idaproject</a></p>
  </div>
</footer>
