<section class="contacts">
  <div class="contacts__info">
    <svg class="contacts__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 808 808">
      <path fill="#F2F2F2" fill-rule="evenodd" d="M119.215854 687.555094c-155.4404857-157.216423-154.9529476-410.836227 1.462614-567.447912 156.904624-157.1013608 411.285103-157.1013608 568.189727 0 16.155052 16.192929 8.13032 8.158135 23.669439 23.699117 13.075386 13.109401 13.075386 34.324075 0 47.415855l-71.774584 71.864579c155.440486 157.216423 154.952948 410.836227-1.462614 567.447912-156.887026 157.08374-411.285102 157.08374-568.1721286 0-16.1726502-16.192929-8.1479184-8.158135-23.6870372-23.716738-13.0753854-13.09178-13.0753854-34.306454 0-47.398234l71.7745838-71.864579zm47.357217-47.416597c-129.2901502-131.032032-128.8028591-342.187393 1.461874-472.61546 130.753853-130.9178007 342.740518-130.9178007 473.476774 0L475.790448 333.452099c-13.075385 13.09178-13.075385 34.324075 0 47.415855l23.687037 23.699117c78.452313 78.55068 78.452313 205.909208 0 284.459889-61.822111 61.899628-153.842555 74.797586-228.493679 39.134379l-49.397855 49.459793c102.702488 60.666217 237.011157 47.133933 325.230413-41.195937 104.603083-104.734241 104.603083-274.539738 0-379.273979l46.598223-46.656651c129.281418 131.031381 128.797075 342.19325-1.453029 472.624225-130.753854 130.917801-342.740519 130.917801-473.494372 0l165.72127-165.929062c13.075386-13.09178 13.075386-34.324075 0-47.415855l-23.669439-23.699117c-78.452312-78.55068-78.452312-205.909209 0-284.459889 61.822111-61.899628 153.824957-74.797586 228.476081-39.134379l49.397855-49.459793c-102.68489-60.666217-237.011157-47.133933-325.230412 41.195937-104.603083 104.734241-104.603083 274.539738 0 379.273979l-46.58947 46.647886z"></path>
    </svg>
    <div class="contacts__container">
      <h2 class="contacts__title">Контактная информация</h2>
      <p class="contacts__label">105005</p>
      <p class="contacts__address">г. Москва, ул. Бауманская, д. 11, стр. 8</p>
      <p class="contacts__label">Телефон</p>
      <p><a href="tel:+74956407927" class="contacts__phone">+7 495 640 79 27</a></p>
      <p class="contacts__label">Электронная почта</p>
      <p><a href="mailto:info@sbdevelop.ru" class="contacts__email">info@sbdevelop.ru</a></p>
      <div class="contacts__button" data-remodal-target="writeus"><span>Написать нам</span></div>
    </div>
  </div>
  <div class="contacts__map" id="contacts-map"></div>
</section>
