<header class="header">
  <div class="header__container container">
    <div class="header__menu">
      <div class="menu">
        <span class="menu__line"></span>
        <span class="menu__line"></span>
        <span class="menu__line"></span>
      </div>
      <span class="menu__text">меню</span>
    </div>
    <a href="index.html"><div class="header__logo"></div></a>
    <div class="header__tenders">
    <a style="text-decoration:underline;" href="vacance.html">Вакансии</a>
    <a style="text-decoration:underline;" href="tenders.html">Закупки</a>
    </div>
    <a href="tel:+74956407927" class="header__phone">+7&nbsp;495&nbsp;640&nbsp;79&nbsp;27</a>
  </div>
</header>