<section class="intro">
  {% include "header.twig" %}
  <div class="owl-carousel owl-theme slider" id="intro_slider">
    <div class="slide" data-dot="President Plaza">
      <svg class="slide__svg is-active" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1013 643" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g fill="none" fill-rule="evenodd" transform="translate(0 -87)">
          <g stroke="#000" opacity="0.5" transform="translate(-350 88)">
            <path d="M30.97 1076.625L134.412 973.175 164.143 986.184 780.5 397.5"/>
            <path d="M164.143 987.422L237.234 843.707 779.836 317.165"/>
            <path d="M429.87 730.965L473.848 615.126 507.296 618.223 491.192 673.045"/>
            <path d="M507.915612,618.842563 L782,352"/>
            <path d="M288.645 794.77L304.749 758.222 279.354 750.788 777.5 262"/>
            <path d="M558.087764 571.763449L552.51308 613.886867M615.692827 516.011867L610.118143 558.135285M675.156118 457.782437L672.059072 499.905854M323.951055 664.682753L775.5 201.5M345.63038 669.018987L776.5 240M304.749367 758.840981L778.597468 288.049842M475.08692 615.745253L480.042194 586.011076M525.878481 564.329905L528.975527 537.073576M576.050633 516.011867L578.52827 488.136076M626.842194 465.835443L629.319831 437.959652M683.208439 411.942247L684.447257 382.827532M735 359.907437L735 330.792722M734 441.056962L734.619409 398.314082"/>
            <path d="M124.501 828.221L624.365 317.784 657.813 325.218"/>
            <path d="M621.267511 320.261867L615.073418 367.960443 621.267511 320.261867zM582.244726 361.765823L567.998312 415.039557M543.221941 401.411392L525.259072 458.401899M502.960338 442.915348L485.616878 498.66693M463.937553 482.560918L442.258228 543.887658M426.772996 520.967563L403.854852 583.533228M390.847257 557.515823L362.35443 623.798259M355.540928 594.064082L324.570464 664.063291"/>
            <path d="M203.166 1089.634L169.099 1070.43 783.553 498.667 793.463 550.702z"/>
            <path d="M793 551.940665L793 648.029189M794.0827 551.940665L1092.63797 830.079114M784.791561 499.905854L1129.80253 822.64557M867.792405 622.559335L880.180591 722.292722"/>
            <path d="M861.598 571.763L851.068 499.286 890.711 501.145 911.77 618.223"/>
            <path d="M890.091 501.145L915.487 559.994 932.83 638.665"/>
            <path d="M915.487 560.613L1163.87 798.487 1192.363 791.053 781.075 397.695 787.889 442.915 851.068 501.145"/>
            <path d="M984.860759,627.515032 L1004.68186,705.567247"/>
            <path d="M780.456 317.784L782.933 359.288 954.51 523.445 985.48 522.206z"/>
            <path d="M954.509705 523.445411L968.756118 576.719146M987.338397 524.684335L1016.45063 624.417722"/>
            <path d="M987.338 525.923L1010.257 579.197 1027.6 633.71"/>
            <path d="M987.338 524.065L1282.797 816.451 1259.878 820.787 1010.257 579.816"/>
            <path d="M1065.38397 633.09019L1085.20506 688.22231M782.5 359.5L784.172152 399.553006M788.508017 443.53481L789.746835 503.003165M787.269198 441.056962L34.6869198 1144.76582M597.110549 620.081487L587.819409 680.169304M662.148523 560.613133L657.193249 615.745253M732.141772 494.950158L730.902954 548.223892M38.4033755 917.423259L109.016034 804.061709 324.570464 599.019778 331.383966 566.188291 499.863291 392.119462 526.49789 391.5 561.804219 349.376582 541.983122 346.279272 571.714768 311.589399 555.610127 307.253165 527.1173 322.120253 515.348523 332.651108 764.351055 62.5656646 771.164557 110.883703 780.455696 319.642405M572.334177 312.208861L771.783966 109.644778M562.423629 350.615506L772.403376 139.378956M623.745148 318.403481L773.642194 169.113133M500.4827 391.5L518.44557 330.792722"/>
            <path d="M518.446 330.793L476.326 369.819 515.968 279.997 537.028 278.138z"/>
            <path d="M537.647 278.758L654.716 156.104 664.007 123.273 688.164 121.415 766.209 38.407 764.97 64.424"/>
            <path d="M689.402532 121.414557L688.163713 144.954114M664.62616 123.892405L659.670886 177.166139M655.335021 156.723892L653.476793 183.980222"/>
            <path d="M516.587 281.236L763.732 13.009 766.829 38.407"/>
            <path d="M481.9 355.571L388.37 448.491 400.138 423.712 384.653 422.473 515.968 279.377"/>
            <path d="M400.138397 424.331487L494.288608 328.934335M385.272574 423.092563L3.09704641 818.928797"/>
            <path d="M373.504 437.34L321.473 530.879 366.071 486.897 388.989 444.774"/>
            <path d="M1193.602 728.487L1100.69 525.923 1116.795 525.923 1192.363 676.453"/>
            <path d="M1099.451 527.162L1018.928 450.349 1094.496 631.851"/>
            <path d="M1142.81013 677.691456L1068.48101 497.428006M1043.08523 506.719937L1134.1384 597.780854M1075.29451 583.533228L1169.44473 673.974684"/>
            <path d="M992.913 530.259L983.622 493.092 1008.398 491.853 1038.749 575.48"/>
            <path d="M984.24135 493.091772L779.836287 294.244462M778.597468 262.032437L1008.39831 492.47231"/>
            <path d="M1009.018 491.853L985.48 424.951 961.943 425.57 968.137 452.827"/>
            <path d="M961.943 426.19L908.673 375.394 898.143 337.607 984.861 424.331"/>
            <path d="M908.673418 376.013449L909.292827 392.738924M902.479325 384.685918L896.904641 336.36788"/>
            <path d="M896.905 336.368L869.651 332.651 871.509 355.571"/>
            <path d="M869.650633 333.27057L777.35865 240.351266M896.904641 336.36788L776.119831 211.856013"/>
            <path d="M776.12 200.706L944.599 371.677 946.457 385.305"/>
            <path d="M775.5 174.069L962.562 368.58 986.1 425.57"/>
            <path d="M945.218565 372.296677L962.562025 369.199367M963.181435 369.199367L1116.79494 526.542722M1018.92827 449.72943L961.942616 369.818829M1056.09283 590.34731L989.816034 409.464399M1017.68945 485.038766L1043.70464 507.958861M1117.41435 526.542722L1392.43207 806.539557"/>
            <path d="M1383.76 814.593L1248.729 680.169 1223.333 632.471 1202.893 634.329 1151.482 579.816 1117.414 527.782"/>
            <path d="M1153.34 581.675L1171.303 617.604 1377.566 821.407"/>
            <path d="M1204.13165 634.948576L1214.04219 658.488133M1172.54177 618.842563L1218.37806 702.469937M773.642194 141.237342L1381.90211 769.991297"/>
            <path d="M1310.051 696.275L1293.327 697.514 1142.191 542.029 1121.131 500.525 1102.549 502.384 924.159 317.165 915.487 287.43 888.852 282.475 773.642 166.016"/>
            <path d="M889.47173 283.094146L891.949367 294.863924M921.061603 325.837025L914.248101 287.43038M924.15865 319.022943L927.255696 332.651108M1104.40675 503.622627L1116.17553 525.923259M1142.81013 542.029272L1152.10127 563.090981"/>
            <path d="M1343.499 727.868L1341.021 718.576 1241.296 620.081 1218.378 579.197 1201.035 577.339 1157.676 534.596 1131.661 491.853 1088.302 405.748 1382.522 713.62"/>
            <path d="M1376.327 750.788L1354.648 717.337 1135.997 495.57"/>
            <path d="M1352.78987,714.859177 L1289.61013,615.745253"/>
            <path d="M1318.103 662.205L1300.759 660.966 1266.692 610.79 1116.176 462.119"/>
            <path d="M1285.27426 611.409019L1249.34852 608.931171M1158.91477 481.321994L1135.37722 480.702532M1161.39241 481.941456L1185.54937 529.02057"/>
            <path d="M1086.444 403.27L1067.862 401.411 1003.443 335.129 971.853 279.377z"/>
            <path d="M972.472574 279.996835L762.492827 65.0435127M971.233755 279.377373L947.696203 275.041139 766.209283 90.4414557"/>
            <path d="M821.337 142.476L818.24 120.795 797.799 114.6"/>
            <path d="M797.799156 104.689082L799.037975 122.653481M713 118.5L713 95.255538M743.5 86L742.052321 63.7602848"/>
            <path d="M767.448 39.646L845.494 123.273 856.024 115.839 870.27 175.308"/>
            <path d="M846.11308,124.511867 L852.307173,160.440665"/>
            <path d="M857.882 116.459L871.509 149.91 880.8 186.458"/>
            <path d="M872.748 151.768L992.913 278.138 1004.682 274.422 1041.846 354.332"/>
            <path d="M993.532489,278.757911 L1009.63713,320.261867"/>
            <path d="M1023.264 312.828L1128.564 424.951 1139.094 419.376 1162.012 459.021 1254.923 556.896 1262.356 553.799 1384.999 682.028"/>
            <path d="M1254.3038 557.515823L1292.08776 620.081487M1262.35612 554.418513L1337.92405 665.302215M1131.04135 425.570411L1161.39241 480.702532M1165.10886 460.260285L1192.98228 514.153481M764.970464 14.2476266L1262.97553 554.418513M762.492827 0L1467.38059 756.363133M761.873418.619462025L0 815.212025M839.299578 412.561709L844.254852 461.499209M899.382278 472.030063L905.576371 518.489715M830.008439 344.420886L834.344304 372.296677M884.516456 397.075158L887.613502 424.331487M936.546835 447.871044L942.121519 480.08307M823.194937 286.810918L824.433755 307.872627M817 242.829114L817 255.218354M861 289.288766L861 301.678006M903.098734 329.553797L901.859916 341.323576M809 201.94462L809 209.997627M851.068354 244.068038L852.307173 253.359968"/>
            <path d="M773.642 136.282L804.613 167.874 805.851 174.688"/>
            <path d="M805.851 169.113L826.911 171.591 830.008 198.228"/>
            <path d="M771.165 112.742L1000.965 353.093 982.383 347.518 983.622 356.191"/>
            <path d="M983.002532,348.137658 L830.008439,193.891614"/>
            <path d="M1021.406 399.553L981.144 310.35 968.137 310.97 929.114 270.085 922.92 249.024"/>
            <path d="M983.002532 310.969937L948.315612 275.660601M931.591561 280.616297L930.352743 272.563291M924.15865 250.262658L900.621097 245.306962M1009.01772 342.5625L1048.04051 427.428797M1052.37637 382.827532L1078.39156 457.782437M1072.19747 402.650316L1118.65316 498.66693"/>
          </g>
        </g>
      </svg>
      <div class="slide__info">
        <div class="slide__container container">
          <div class="slide__first">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="75" viewBox="0 0 124 75">
              <g fill="#FFFFFF" fill-rule="evenodd">
                <rect width="43" height="75"></rect>
                <rect width="17" height="23" x="46"></rect>
                <rect width="58" height="23" x="66"></rect>
                <g transform="matrix(-1 0 0 1 124 26)">
                  <rect width="17" height="23" transform="matrix(-1 0 0 1 17 0)"></rect>
                  <rect width="58" height="23" x="20" transform="matrix(-1 0 0 1 98 0)"></rect>
                </g>
                <rect width="17" height="23" x="46" y="52"></rect>
                <rect width="58" height="23" x="66" y="52"></rect>
              </g>
            </svg>
            <div class="slide__name">
              <p class="slide__type">Многофункциональный центр</p>
              <p class="slide__title">President Plaza</p>
            </div>
          </div>
          <div class="slide__facts">
            <div class="slide__fact">
              <p class="slide__number">200</p>
              <p class="slide__units">тыс. м<sup>2</sup></p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">17</p>
              <p class="slide__units">этажей</p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">1160</p>
              <p class="slide__units">паркомест</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" style="background-color: #1b4c0f;" data-dot="Технопарк Сбербанк">
      <svg class="slide__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.5" viewBox="0 0 673 431" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g fill="none" stroke="#000" opacity="0.5">
          <path d="M627.33 237.234s-6.791 20.09-10.642 20.195c-26.402.721-99.209 9.777-142.087 26.411"/>
          <path d="M-129.736 242.159c19.133 1.453 38.283 2.888 57.683 4.006 66.649 3.842 109.322-13.399 172.835-10.084"/>
          <path d="M107.508 248.731c-45.886-5.831-101.63 9.045-169.616 4.66-22.936-1.48-45.052-4.075-67.626-8.278"/>
          <path d="M10.493 262.989c-11.805-20.454-15.36-43.532-5.968-72.189"/>
          <path d="M16.05 190.41c-8.741 28.474-4.723 51.487 4.346 72.489"/>
          <path d="M162.617 307.653l-4.514-30.959"/>
          <path d="M165.97 300.941c-18.216-4.154-36.219-12.946-53.866-29.533"/>
          <path d="M166.861 305.707c-18.997-5.577-37.92-13.285-56.599-28.165"/>
          <path d="M167.405 309.425l-3.42-29.902"/>
          <path d="M171.927 311.205v-28.708"/>
          <path d="M89.07 95.925c-8.76 40.259-25.364 95.491-19.734 108.283"/>
          <path d="M91.402 95.611c-9.893 43.336-26.556 99.614-19.989 109.974"/>
          <path d="M77.755 209.198c-6.915-11.279 8.813-67.011 20.25-114.317"/>
          <path d="M99.974 94.685c-9.771 44.088-27.54 101.89-19.828 116.005"/>
          <path d="M104.454 94.195c-9.24 44.156-29.263 107.837-20.301 119.031"/>
          <path d="M81.913 211.771c-8.333-11.619 12.702-84.773 20.344-117.391"/>
          <path d="M86.686 214.963c-8.526-12.456 9.191-68.809 20.354-121.25"/>
          <path d="M112.204 93.062c-10.504 48.124-29.303 112.18-21.84 124.93"/>
          <path d="M88.797 216.453c-9.028-6.984 9.379-72.022 20.841-122.364"/>
          <path d="M94.94 221.323c-6.459-17.28 11.288-80.019 22.415-129.19"/>
          <path d="M100.077 226.087c-6.019-18.833 9.188-79.81 22.155-134.887"/>
          <path d="M97.815 223.933c-7.538-8.451 8.612-78.741 22.002-132.373"/>
          <path d="M102.247 228.207C98.172 206.985 113 144.808 124.751 90.556"/>
          <path d="M106.518 232.794c-2.253-31.132 12.339-89.878 23.438-143.417"/>
          <path d="M104.307 230.504c-3.408-17.522 8.556-75.98 23.051-140.274"/>
          <path d="M109.082 235.81c-2.95-28.026 12.153-91.263 23.142-146.556"/>
          <path d="M139.345 87.525c-8.204 48.513-30.983 144.098-22.465 158.689"/>
          <path d="M136.789 88.265c-10.34 59.218-28.447 137.391-22.633 154.517"/>
          <path d="M141.922 87.136c-11.514 63.724-32.181 147.091-21.865 162.784"/>
          <path d="M153.187 84.691c-11.961 65.384-31.575 144.019-22.445 175.491"/>
          <path d="M137.087 265.895c-9.071-18.841 6.016-103.804 22.619-182.627"/>
          <path d="M162.512 82.666c-15.738 80.815-33.176 165.534-22.203 184.993"/>
          <path d="M168.811 81.101c-13.054 73.952-35.704 165.95-22.47 190.462"/>
          <path d="M165.485 81.902c-12.391 71.484-34.466 160.451-22.603 188.087"/>
          <path d="M154.363 275.277c-12.964-22.119 3.652-107.948 21.876-195.891"/>
          <path d="M164.585 279.291c-15.512-25.515 6.127-120.107 21.533-202.077"/>
          <path d="M168.553 280.865c-14.792-28.211 4.215-116.16 21.392-204.219"/>
          <path d="M213.281 70.758c-8.039 33-45.129 185.93-24.287 218.571"/>
          <path d="M460.916 83.937h50.237s1.611 8.859-4.119 8.797c-5.729-.063-8.826 1.611-8.826 1.611"/>
          <path d="M213.339 298.901c-23.077-45.991 22.238-200.134 28.48-234.814"/>
          <path d="M241.799 310.917c-28.977-31.046 4.311-148.13 26.7-252.082"/>
          <path d="M350.166 354.155c-42.409-31.985.305-178.15 36.47-322.984"/>
          <path d="M421.697 23.223c-26.613 146.511-96.185 299.158-30.049 349.809"/>
          <path d="M408.593 27.422c-4.329 40.997-97.411 299.625-34.292 337.093"/>
          <path d="M397.455 29.88c-6.243 45.534-92.585 289.617-36.716 328.152"/>
          <path d="M462.976 391.663c-25.518-52.34-15.766-110.665 4.243-171.211"/>
          <path d="M470.217 377.827c-8.532-28.951-8.564-62.717 3.022-104.387"/>
          <path d="M393.755 374.049l-19.148 24.143c-2.561 1.665-6.817 1.639-12.691 0L107.791 282.695s8.197-12.578 2.476-27.017h-2.476c-3.352.147-36.678 3.992-53.643 4.749-16.964.757-71.649 7.858-119.808 0-48.16-7.858-176.383-25.676-176.383-25.676s-5.34-8.786-6.38-15.58"/>
          <path d="M-105.241 225.314c-24.31 10.847-139.633-6.37-153.303-7.452-13.671-1.081-17.661-18.971-16.969-27.803.691-8.833 11.341-54.284 12.71-61.164 2.654-13.335 11.473-11.323 14.508-11.443 67.68-2.668 318.515-17.343 360.59-24.647 12.84-2.229 40.861-8.143 74.99-15.921.829-.189 1.71-.212 2.546-.403.848-.194 1.7-.745 2.554-.941.505-.115 1.122.117 1.629 0 .635-.146 1.286-.641 1.925-.788.513-.118 1.33.119 1.845 0 .821-.19 1.644-.792 2.47-.983.377-.087.785.088 1.163 0 1.184-.274 1.942-1.153 3.137-1.43.774-.179 1.593.181 2.371 0 .872-.202 1.873-1.297 2.75-1.5.693-.161 1.388.162 2.084 0 1.537-.357 3.019-1.293 4.568-1.652.853-.197 1.69.198 2.546 0 .839-.194 1.679-.787 2.52-.982.771-.178 1.542.179 2.315 0 .728-.168 1.477-.735 2.207-.904.741-.172 1.576.172 2.319 0 1.306-.303 2.437-1.279 3.748-1.582 1.04-.24 2.297.241 3.339 0 1.314-.304 1.845-.958 3.163-1.263 1.14-.264 2.33.265 3.473 0 1-.232 2.002-1.212 3.004-1.444.96-.223 2.184.223 3.145 0 1.08-.251 1.952-1.143 3.033-1.393.602-.14 1.952.139 2.554 0 1.152-.267 2.351-.878 3.504-1.146.711-.165 3.021.165 3.732 0 1.038-.241 1.885-1.57 2.921-1.811 1.34-.311 3.417.311 4.753 0 1.139-.265 2.044-1.384 3.18-1.649.897-.208 1.991.209 2.886 0 1.215-.283 1.95-1.314 3.161-1.596 1.467-.342 4.102.34 5.56 0 .968-.227 1.078-1.529 2.041-1.754 1.291-.302 4.116.3 5.397 0 1.08-.254 1.694-1.771 2.767-2.022 1.227-.287 3.85.285 5.066 0 1.383-.325 2.084-1.518 3.453-1.84 1.349-.316 3.874.314 5.206 0 1.375-.323 2.415-1.784 3.772-2.104 1.398-.329 3.443.66 4.82.335 1.325-.314 2.405-2.012 3.709-2.321 1.652-.39 3.635.384 5.251 0 1.401-.332 2.236-2.11 3.609-2.436 1.338-.317 3.469.882 4.778.571 1.514-.359 2.202-2.226 3.675-2.575 1.787-.423 4.274.937 5.996.53 2.065-.49 3.35-2.744 5.315-3.209 1.393-.33 3.978.805 5.319.488 1.815-.429 2.362-2.304 4.074-2.708 1.505-.355 4.164.867 5.584.532 2.19-.515 3.08-2.572 5.055-3.035 1.728-.405 4.407.87 5.958.509 2.182-.51 3.147-2.634 4.951-3.05 1.79-.413 4.841 1.056 6.227.742 3.066-.694 3.655-2.969 4.513-3.118 1.378-.238 5.607 1.452 7.266.792 1.685-.67 2.346-2.901 4.383-3.568 1.547-.507 5.321 1.614 6.951 1.087 2.349-.758 2.959-3.556 5.335-4.21 2.082-.573 4.892 1.57 6.869 1.127 1.993-.447 4.469-3.733 6.149-4.336 4.236-1.522 6.766-.427 8.424 0 5.579 1.433 9.874 33.879 11.328 40.629 1.453 6.75-2.098 19.626 22.103 27.024s62.742 13.685 101.04 15.137c38.298 1.453 62.622 2.804 68.397 2.893 5.775.088 9.948 4.031 14.353 18.504 4.546 14.937 10.976 73.116 6.572 86.639-4.35 13.359-8.347 26.551-20.925 26.566-12.578.015-85.6 5.514-115.425 10.385-29.825 4.871-50.565 16.853-50.565 16.853s6.67 51.351 4.688 80.213c-1.981 28.863-10.916 48.529-20.561 52.77-9.646 4.242-68.01-26.579-86.27-34.588-18.259-8.009-211.996-85.079-222.848-90.508-10.851-5.43-27.273-20.921-37.444-35.125-10.171-14.204-51.113-49.91-98.136-47.177-47.022 2.732-83.471 20.362-116.851 35.255z"/>
          <path d="M446.911 61.992c10.695 73.884 18.293 138.801 25.353 203.03"/>
          <path d="M110.257 255.669s-10.729-29.432-32.295-46.155"/>
          <path d="M186.278 77.14s-21.248-1.271-59.273-1.413c-38.025-.141-98.801 7.221-98.801 7.221v4.591l-40.847.773v5.891h-20.44v1.77l-70.792.926v2.606s-24.053.075-31.416 0c-7.363-.074-12.515 2.613-12.515 2.613h-36.912v3.001l3.912 1.311"/>
          <path d="M148.763 85.078s-53.123-.175-63.787 1.099c-5.554.664-4.603 1.989 0 2.353 12.907 1.02 43.922 1.056 43.922 1.056"/>
          <path d="M-12.61 94.289s17.694 1.583 27.751 7.156"/>
          <path d="M-12.646 94.237l84.441-.435 3.234 3.169"/>
          <path d="M28.258 87.436c1.335 3.681 7.728 6.227 24.537 6.44"/>
          <path d="M453.486 397.341c-35.521-41.597-23.671-121.654 7.817-227.366"/>
          <path d="M441.895 394.526c-45.227-45.605-19.523-142.96 13.517-270.163"/>
          <path d="M449.97 83.643c-39.752 158.778-76.842 257.909-16.112 308.294"/>
          <path d="M443.702 44.46c-36.639 163.091-87.733 288.776-27.165 339.77"/>
          <path d="M402.181 377.643c-69.963-56.113 25.557-275.006 35.586-355.827"/>
          <path d="M340.7 350.672c-39.362-25.62.791-182.122 35.016-316.302"/>
          <path d="M363.933 36.276c-9.65 55.094-79.165 273.438-33.299 310.399"/>
          <path d="M320.902 342.424c-37.304-28.69 5.348-177.014 33.227-303.235"/>
          <path d="M343.596 41.639c-24.605 117.271-67.907 258.537-33.472 296.366"/>
          <path d="M299.065 333.675c-28.188-43.291 10.445-176.322 34.553-289.846"/>
          <path d="M324.721 45.856c-9.255 57.083-62.458 242.378-32.334 285.488"/>
          <path d="M315.915 48.062c-21.833 109.366-58.788 248.076-29.638 280.85"/>
          <path d="M307.166 49.939c-3.658 33.818-59.471 233.415-28.76 275.719"/>
          <path d="M298.872 51.514c.782 22.446-63.688 236.565-24.872 272.183"/>
          <path d="M291.217 53.787c-4.119 36.886-59.417 226.481-24.953 267.043"/>
          <path d="M283.801 55.416c-29.859 147.868-53.86 221.864-24.791 262.525"/>
          <path d="M250.336 314.481c-36.183-34.871 12.697-174.237 25.192-257.274"/>
          <path d="M261.23 60.434c-9.564 49.635-54.021 218.249-27.34 247.306"/>
          <path d="M254.135 61.571c-19.256 96.69-49.519 210.014-26.712 243.153"/>
          <path d="M221.271 302.261c-28.465-25.122 24.024-223.915 26.797-239.63"/>
          <path d="M208.691 297.793c-21.76-33.091 3.111-134.473 26.878-232.056"/>
          <path d="M643.768 107.382c18.902 68.501 16.427 110.605-2.736 129.475"/>
          <path d="M639.732 106.299c18.902 68.501 16.682 111.234-2.481 130.104"/>
          <path d="M635.746 105.941c18.903 68.501 16.115 112.661-3.048 131.532"/>
          <path d="M631.243 105.918c18.903 68.501 15.298 112.532-3.865 131.402"/>
          <path d="M229.116 66.977c-8.17 37.729-51.8 196.634-25.75 228.274"/>
          <path d="M198.295 293.04c-21.496-27.967 10.494-166.542 25.87-224.373"/>
          <path d="M193.601 291.273c-23.814-30.767 20.026-202.334 25.283-222.158"/>
          <path d="M184.619 287.529c-16.224-22.014-.577-119.435 22.594-215.472"/>
          <path d="M180.408 285.595c-19.015-26.624 4.797-125.401 21.352-211.952"/>
          <path d="M176.418 284.095c-16.339-29.281 3.09-118.948 21.499-208.847"/>
          <path d="M172.651 282.626c-19.696-29.088 17.708-185.275 21.021-206.966"/>
          <path d="M161.32 278.094c-15.265-19.432 7.971-134.87 21.995-200.474"/>
          <path d="M157.311 276.322c-12.402-24.45 3.555-107.458 22.316-197.149"/>
          <path d="M150.45 273.708c-13.231-21.369 6.609-112.217 21.758-193.208"/>
          <path d="M133.355 262.298c-9.961-28.297 16.446-145.263 23.469-178.507"/>
          <path d="M150.318 85.521c-3.527 23.975-34.602 149.273-21.574 172.662"/>
          <path d="M124.716 254.249c-8.058-17.093 7.997-94.077 22.95-168.327"/>
          <path d="M144.955 86.865c-8.261 38.118-33.191 152.201-22.408 165.388"/>
          <path d="M70.256 204.749c-5.247 20.325.607 37.776 11.014 53.112"/>
          <path d="M59.319 199.832c-5.247 20.325-.264 43.814 10.144 59.149"/>
          <path d="M48.122 195.737c-5.248 20.325-4.325 47.885 8.402 64.621"/>
          <path d="M38.681 192.754c-6.662 19.617-6.999 48.208 6.625 68.175"/>
          <path d="M26.675 190.592c-6.663 19.617-6.955 51.202 6.669 71.17"/>
          <path d="M80.485 211.487c-4.067 19.227 1.455 29.263 10.576 45.795"/>
          <path d="M90.117 221.364c-.84 10.429 3.318 24.302 11.149 34.976"/>
          <path d="M134.209 88.735c-7.213 43.733-29.207 136.941-22.113 151.585"/>
          <path d="M114.874 92.648c-10.714 48.68-29.899 113.793-22.3 127.055"/>
          <path d="M75.873 207.956c-7.434-9.5 8.18-65.171 19.81-112.86"/>
          <path d="M73.347 206.468c-6.337-8.851 8.495-62.86 20.112-111.1"/>
          <path d="M87.005 96.16c-8.934 37.246-24.94 98.668-19.346 107.216"/>
          <path d="M65.71 202.424c-5.492-9.784 11.887-74.215 19.392-106.301"/>
          <path d="M82.92 96.123c-8.79 38.609-23.536 87.939-18.99 105.148"/>
          <path d="M80.869 96.622c-8.298 38.122-23.946 88.36-18.635 104.053"/>
          <path d="M60.074 199.564c-4.421-15.29 9.033-62.215 18.985-102.942"/>
          <path d="M58.447 198.745c-4.422-15.289 8.727-61.131 18.68-101.859"/>
          <path d="M56.786 198.22c-4.422-15.29 8.328-60.214 18.281-100.942"/>
          <path d="M55.121 197.652c-4.422-15.29 8.062-59.364 18.014-100.092"/>
          <path d="M53.183 196.813c-4.422-15.29 8.137-58.629 18.09-99.357"/>
          <path d="M51.293 196.275c-4.421-15.289 8.185-57.966 18.137-98.694"/>
          <path d="M49.288 195.409c-4.422-15.29 8.106-57.025 18.059-97.753"/>
          <path d="M47.051 194.767c-4.421-15.289 7.912-55.949 17.864-96.677"/>
          <path d="M44.891 194.019c-4.421-15.289 7.818-54.65 17.77-95.378"/>
          <path d="M42.275 193.285c-4.421-15.29 7.43-54.165 17.383-94.893"/>
          <path d="M39.523 192.417c-4.421-15.29 7.27-52.922 17.223-93.65"/>
          <path d="M36.72 191.61c-4.421-15.29 7.279-51.762 17.231-92.49"/>
          <path d="M34.033 191.085c-4.421-15.289 6.918-51.19 16.87-91.918"/>
          <path d="M31.766 190.756c-4.421-15.289 6.185-48.39 16.137-89.118"/>
          <path d="M29.206 190.32c-4.421-15.289 6.185-48.39 16.137-89.118"/>
          <path d="M26.488 190.117c-4.421-15.29 6.185-48.39 16.137-89.118"/>
          <path d="M24.204 189.76c-4.422-15.289 6.184-48.39 16.137-89.118"/>
          <path d="M21.777 189.545c-4.421-15.289 6.185-48.39 16.137-89.118"/>
          <path d="M19.333 189.352c-4.422-15.29 6.184-48.39 16.137-89.118"/>
          <path d="M16.747 189.52c-4.421-15.289 6.185-48.39 16.137-89.118"/>
          <path d="M14.153 189.702c-4.422-15.29 6.184-48.39 16.137-89.118"/>
          <path d="M11.419 189.772c-4.421-15.29 6.185-48.39 16.137-89.118"/>
          <path d="M8.711 189.879c-4.422-15.289 6.126-47.927 16.078-88.655"/>
          <path d="M6.245 190.273c-4.421-15.29 6.185-48.39 16.137-89.118"/>
          <path d="M3.829 190.532c-4.422-15.289 6.184-48.39 16.137-89.118"/>
          <path d="M1.248 190.659c-4.422-15.289 6.184-48.39 16.137-89.118"/>
          <path d="M-1.395 190.684c-4.422-15.289 6.184-48.39 16.137-89.118"/>
          <path d="M-3.924 191.198c-4.421-15.289 6.185-48.39 16.137-89.118"/>
          <path d="M-6.298 191.449c-4.422-15.29 6.184-48.39 16.137-89.118"/>
          <path d="M-8.616 191.919c-4.422-15.29 6.184-48.39 16.137-89.118"/>
          <path d="M-11.091 192.487c-4.421-15.289 6.298-49.083 16.25-89.811"/>
          <path d="M-13.587 192.737c-4.421-15.289 6.215-49.028 16.168-89.756"/>
          <path d="M-15.943 193.214C-20.365 177.925-9.7 143.825.253 103.097"/>
          <path d="M363.596 398.443l19.035-29.492"/>
          <path d="M354.917 394.66l16.679-30.916"/>
          <path d="M342.489 389.033l14.543-31.278"/>
          <path d="M330.84 383.4l12.846-30.654"/>
          <path d="M319.188 378.436l10.337-31.823"/>
          <path d="M309.162 373.926l7.771-32.46"/>
          <path d="M299.801 369.838l5.178-33.329"/>
          <path d="M288.596 364.664l4.521-33.146"/>
          <path d="M279.465 360.838l3.451-33.209"/>
          <path d="M270.342 356.45v-33.541"/>
          <path d="M260.688 351.853v-32.758"/>
          <path d="M253.206 348.506v-32.355"/>
          <path d="M244.744 344.817v-32.521"/>
          <path d="M236.877 341.146v-32.078"/>
          <path d="M229.353 337.955v-31.833"/>
          <path d="M222.308 334.433v-31.168"/>
          <path d="M215.01 331.478V300.38"/>
          <path d="M209.34 328.533v-30.43"/>
          <path d="M203.299 325.801v-29.859"/>
          <path d="M198.62 323.639v-29.295"/>
          <path d="M194.52 321.975v-29.384"/>
          <path d="M190.302 319.748l-.988-29.486"/>
          <path d="M183.788 316.714v-29.069"/>
          <path d="M178.617 314.474l-.791-29.416"/>
          <path d="M388.176 380.409c-3.591 2.123-7.658 2.09-12.179 0l-211.77-88.96c-20.735-5.479-49.02-24.541-61.172-50.998"/>
          <path d="M166 296.8c-19.257-3.79-45.814-19.29-53.929-34.802"/>
          <path d="M164.43 286.033c-26.818-8.585-48.794-26.743-67.17-55.145"/>
          <path d="M156.564 304.55c-1.969-12.342-5.179-22.903-9.237-32.247"/>
          <path d="M145.801 299.559c-.685-10.905-4.052-22.298-9.047-33.988"/>
          <path d="M135.964 295.45c.783-11.25-2.134-23.649-7.671-36.861"/>
          <path d="M125.583 290.4c.784-11.495-1.589-25.538-6.643-41.742"/>
          <path d="M115.98 286.154c2.403-16.548.616-32.391-5.275-47.545"/>
          <path d="M-7.535 192.29c-8.357 32.439-5.983 56.109 7.727 71.296"/>
          <path d="M94 226.309c-54.96-2.973-113.295 11.205-191.645 12.867l-146.754-12.867c-1.07-.034-1.945-.587-2.566-1.814"/>
          <path d="M-131.288 232.193c25.33 2.119 47.505-.119 76.58-4.812 61.538-9.933 99.575-12.764 140.465-10.504"/>
          <path d="M75.779 208.454c-55.175-3.086-110.444 2.196-165.742 10.038"/>
          <path d="M621.029 237.879l-9.8 19.268"/>
          <path d="M606.198 257.555l7.034-18.82"/>
          <path d="M599.267 258.368l6.372-19.282"/>
          <path d="M591.86 258.975l6.372-19.281"/>
          <path d="M583.328 259.93l6.371-19.282"/>
          <path d="M575.472 260.875l6.372-19.282"/>
          <path d="M567.368 261.716l6.371-19.282"/>
          <path d="M558.99 263.491l6.864-20.96"/>
          <path d="M551.672 264.898l6.255-21.322"/>
          <path d="M544.678 265.999l6.038-21.726"/>
          <path d="M537.955 266.94l5.051-21.764"/>
          <path d="M529.736 268.695l5.766-22.471"/>
          <path d="M522.486 269.846l5.55-22.721"/>
          <path d="M513.725 271.925l5.639-23.404"/>
          <path d="M507.774 273.755l5.532-23.775"/>
          <path d="M500.439 274.996l5.532-23.775"/>
          <path d="M493.52 277.247l4.877-23.713"/>
          <path d="M487.019 279.424l4.877-23.714"/>
          <path d="M481.704 281.578l4.877-23.713"/>
          <path d="M475.659 283.888l4.877-23.714"/>
          <path d="M623.651 246.948c-63.124 2.008-114.608 9.981-150.222 26.09"/>
          <path d="M627.621 105.154c14.429 53.539 17.598 100.314-2.997 132.813"/>
          <path d="M624.247 105.259c14.429 53.539 17.598 100.313-2.997 132.813"/>
          <path d="M621.069 105.305c14.429 53.539 17.598 100.314-2.997 132.813"/>
          <path d="M617.264 104.845c14.429 53.539 17.641 101.003-2.954 133.503"/>
          <path d="M613.439 104.958c14.429 53.539 17.339 100.967-3.256 133.466"/>
          <path d="M609.391 104.447c14.43 53.539 17.867 101.588-2.728 134.088"/>
          <path d="M605.165 104.282c14.429 53.539 17.997 102.364-2.598 134.863"/>
          <path d="M600.378 103.891c14.43 53.539 17.885 102.89-2.71 135.389"/>
          <path d="M595.541 103.966c14.43 53.539 17.719 103.695-2.876 136.195"/>
          <path d="M591.231 103.909c14.43 53.539 16.756 104.311-3.839 136.811"/>
          <path d="M586.24 103.702c14.429 53.539 17.361 104.663-3.234 137.163"/>
          <path d="M582.003 103.259c14.43 53.539 18.048 105.381-2.547 137.881"/>
          <path d="M578.206 103.331c14.429 53.539 17.497 105.639-3.098 138.139"/>
          <path d="M573.967 103.445c14.429 53.539 17.311 106.175-3.284 138.675"/>
          <path d="M569.597 102.775c14.429 53.54 17.127 106.954-3.468 139.454"/>
          <path d="M565.727 102.642c14.43 53.539 16.611 107.638-3.984 140.137"/>
          <path d="M561.965 102.455c14.429 53.539 16.491 108.181-4.104 140.681"/>
          <path d="M558.382 103.011c14.43 53.539 15.672 108.024-4.923 140.523"/>
          <path d="M554.746 102.273c14.429 53.539 14.783 109.477-5.812 141.976"/>
          <path d="M551.265 101.886c14.429 53.539 14.639 109.974-5.956 142.473"/>
          <path d="M547.835 101.42c14.43 53.539 13.848 111.294-6.746 143.793"/>
          <path d="M544.502 101.19c14.429 53.539 13.713 111.79-6.882 144.289"/>
          <path d="M541.616 101.12c14.43 53.539 12.374 112.407-8.221 144.907"/>
          <path d="M538.45 100.722c14.429 53.54 11.614 113.243-8.98 145.743"/>
          <path d="M535.6 100.473c14.429 53.539 10.569 114.088-10.026 146.588"/>
          <path d="M532.774 100.024c14.429 53.539 9.231 115.155-11.364 147.654"/>
          <path d="M529.881 100.036c14.43 53.539 8.599 115.885-11.995 148.385"/>
          <path d="M526.13 99.407c14.43 53.54 9.122 117.545-11.472 150.045"/>
          <path d="M522.894 98.693c14.43 53.539 9.049 118.495-11.545 150.994"/>
          <path d="M519.732 98.002c14.429 53.539 7.898 120.371-12.696 152.87"/>
          <path d="M516.979 98.427c14.429 53.539 7.899 120.371-12.696 152.87"/>
          <path d="M514.536 97.534c14.429 53.539 7.969 122.331-12.626 154.83"/>
          <path d="M511.654 97.211c14.429 53.539 8.489 124.125-12.106 156.624"/>
          <path d="M509.768 96.907c14.429 53.539 8.382 124.872-12.213 157.372"/>
          <path d="M507.701 96.457c14.429 53.539 8.535 125.905-12.06 158.404"/>
          <path d="M505.777 96.109c14.429 53.539 8.332 126.732-12.263 159.231"/>
          <path d="M503.73 95.846c14.429 53.54 8.477 127.277-12.118 159.776"/>
          <path d="M501.48 95.468c14.43 53.539 8.461 128.811-12.134 161.311"/>
          <path d="M499.105 95.056c14.43 53.539 8.716 129.885-11.879 162.384"/>
          <path d="M496.824 94.726c14.43 53.539 8.685 131.341-11.909 163.841"/>
          <path d="M494.507 94.093c14.43 53.539 8.586 133.077-12.009 165.577"/>
          <path d="M491.559 93.476c14.429 53.539 9.204 134.819-11.391 167.318"/>
          <path d="M489.066 93.131c14.429 53.539 9.584 135.881-11.011 168.381"/>
          <path d="M486.427 92.538c14.43 53.539 9.551 138.026-11.044 170.526"/>
          <path d="M484.01 91.832c14.43 53.539 9.869 139.27-10.726 171.77"/>
          <path d="M481.521 91.401c14.281 52.99 10.628 138.249-9.416 171.502"/>
          <path d="M478.65 89.657c14.048 52.126 11.505 134.942-6.722 170.79"/>
          <path d="M476.747 90.32c13.592 50.431 11.4 130.153-5.264 167.748"/>
          <path d="M474.436 89.277c13.039 48.38 11.578 125.362-3.272 164.919"/>
          <path d="M471.941 88.571c12.51 46.42 11.844 120.009-1.316 160.991"/>
          <path d="M469.684 87.88c12.093 44.872 12.2 115.651.391 157.473"/>
          <path d="M467.646 87.535c11.584 42.979 12.206 109.948 1.873 152.34"/>
          <path d="M465.621 86.872c11.106 41.207 12.244 104.931 3.252 147.652"/>
          <path d="M463.505 85.964c10.541 39.112 12.236 99.051 4.751 141.812"/>
          <path d="M461.316 84.921c10.008 37.135 12.251 93.544 6.152 136.008"/>
          <path d="M459.308 83.834c9.456 35.086 12.067 87.614 7.234 129.256"/>
          <path d="M457.51 82.576c8.858 32.866 11.71 81.038 8.062 121.229"/>
          <path d="M455.59 81.568c8.217 30.488 11.266 74.147 8.752 112.389"/>
          <path d="M453.397 80.075c7.37 27.345 10.582 65.284 9.353 100.407"/>
          <path d="M451.275 78.365c6.506 24.138 9.771 56.53 9.602 87.954"/>
          <path d="M449.111 76.905c5.42 20.113 8.592 45.957 9.401 72.197"/>
        </g>
      </svg>
      <div class="slide__info">
        <div class="slide__container container">
          <div class="slide__first">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="75" viewBox="0 0 124 75">
              <g fill="#FFFFFF" fill-rule="evenodd">
                <rect width="43" height="75"></rect>
                <rect width="17" height="23" x="46"></rect>
                <rect width="58" height="23" x="66"></rect>
                <g transform="matrix(-1 0 0 1 124 26)">
                  <rect width="17" height="23" transform="matrix(-1 0 0 1 17 0)"></rect>
                  <rect width="58" height="23" x="20" transform="matrix(-1 0 0 1 98 0)"></rect>
                </g>
                <rect width="17" height="23" x="46" y="52"></rect>
                <rect width="58" height="23" x="66" y="52"></rect>
              </g>
            </svg>
            <div class="slide__name">
              <p class="slide__type">Проект студии Захи Хадид</p>
              <p class="slide__title">Технопарк Сбербанк</p>
            </div>
          </div>
          <div class="slide__facts">
            <div class="slide__fact">
              <p class="slide__number">131</p>
              <p class="slide__units">тыс. м<sup>2</sup></p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">2020</p>
              <p class="slide__units">год</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" style="background-color: #450f4c;" data-dot="ЦОД Сбербанк">
      <svg class="slide__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.5" viewBox="0 0 586 404" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g fill="none" stroke="#000" opacity="0.5">
          <path d="M238.375 79.541l-7.747 20.816"/>
          <path d="M228.957 103.892l-1.946 4.625"/>
          <path d="M239.476 100.109v3.783"/>
          <path d="M239.476 107.849v5.385"/>
          <path d="M252.177 104.585l-2.43 3.031"/>
          <path d="M167.982 62.083l8.35 2.889"/>
          <path d="M176.45 71.566l-3.41 8.194"/>
          <path d="M171.397 83.073l-2.084 4.924"/>
          <path d="M381.957 390.57V210.216"/>
          <path d="M382.513 143.177v-2.863l2.885-2.124-39.245-14.76-67.281 22.815 2.487 1.918v3.351"/>
          <path d="M281.359 141.234v4.168"/>
          <path d="M382.944 148.45v-1.997l2.647-1.949-39.245-14.76-67.281 22.815 2.171 1.675v2.326"/>
          <path d="M381.555 154.872v-2.306l4.279-2.537-39.39-15.267-67.281 22.816 2.036 1.57v4.469"/>
          <path d="M309.826 349.466V164.324l19.292-6.016v191.158h-19.292z"/>
          <path d="M313.792 349.466V167.034l15.47-5.08"/>
          <path d="M381.604 162.787v-3.365l4.279-2.537-39.391-15.267-67.28 22.815 2.35 1.813v3.064"/>
          <path d="M382.102 168.553v-1.892l3.521-2.088-39.391-15.267-67.281 21.083 2.576 2.546v3.107"/>
          <path d="M399.978 166.409v46.544"/>
          <path d="M200.813 393.055l-102.954-5.127H75.687l-92.8-4.594"/>
          <path d="M263.094 396.559v-2.216h-3.885v-2.245h-2.748v-1.773h-4.423v-2.112h-4.271v-2.28h-3.654v-2.175h-42.88"/>
          <path d="M218.528 383.758v-30.686h12.187v30.686"/>
          <path d="M202.314 383.8v-13.727h21.652l18.377 13.727v10.744"/>
          <path d="M223.301 370.437v13.23"/>
          <path d="M242.383 396.795v-2.216h-3.885v-2.246h-2.748v-1.773h-4.423v-2.111h-4.271v-2.28h-3.654v-2.175"/>
          <path d="M263.323 396.795h-20.94l-41.28-2.158v-10.799"/>
          <path d="M-13.738 172.542l145.902-69.304 111.694 36.175"/>
          <path d="M132.387 75.083v104.75"/>
          <path d="M575.494 171.757l3.589-1.162-15.917-8.265-56.31 13.122"/>
          <path d="M575.494 174.845l3.589-1.162-15.917-8.265-51.382 11.973"/>
          <path d="M575.494 178.594l3.589-1.163-15.917-8.264-46.096 10.741"/>
          <path d="M575.494 182.453l3.589-1.162-15.917-8.265-40.456 9.427"/>
          <path d="M575.494 186.524l3.589-1.162-15.917-8.265-33.959 7.913"/>
          <path d="M575.456 189.758l3.588-1.162-15.916-8.265-29.066 6.773"/>
          <path d="M575.456 193.094l3.588-1.162-15.916-8.265-24.251 5.651"/>
          <path d="M575.456 196.481l3.588-1.162-15.916-7.859-19.516 4.141"/>
          <path d="M576.996 201.269v-1.703l2.048-.664-15.916-7.487-13.8 2.666"/>
          <path d="M576.9 204.47v-1.114l2.144-.694-15.957-7.183-8.766 1.56"/>
          <path d="M576.854 208.476v-1.803l2.19-.709-15.957-7.184-8.797 1.566"/>
          <path d="M576.957 212.046v-1.525l2.087-.676-15.957-7.183-8.806 1.567"/>
          <path d="M576.884 215.008v-1.15l2.16-.7-15.957-6.693-8.751 1.484"/>
          <path d="M576.855 218.133v-1.456l2.189-.589-15.957-6.693-8.716 1.532"/>
          <path d="M576.352 221.182v-1.208l2.692-.598-15.957-5.842-8.716 1.532"/>
          <path d="M576.46 224.223v-1.265l2.584-.573-15.957-5.843-8.716 1.532"/>
          <path d="M576.516 227.154v-1.478l2.528-.561-15.976-5.757-8.697 1.446"/>
          <path d="M576.654 230.434v-1.708l2.39-.531-16.005-5.704-8.668 1.394"/>
          <path d="M576.763 233.514v-1.565l2.281-.506-16.005-5.704-8.668 1.394"/>
          <path d="M576.497 236.082v-1.277l2.547-.337-16.005-5.804-8.511 1.063"/>
          <path d="M576.82 239.039v-1.408l2.224-.294-16.005-5.805-8.511 1.064"/>
          <path d="M577.021 242.002v-1.253l2.023-.802-16.067-5.45-8.514.825"/>
          <path d="M577.028 245.123v-1.491l2.032-.434-16.083-5.896-8.575.971"/>
          <path d="M576.983 247.138l2.046-1.159-16.052-5.897-8.575.972"/>
          <path d="M579.029 249.814l-16.103-5.456-8.524.532"/>
          <path d="M578.962 252.635l-16.151-4.884-8.524.532"/>
          <path d="M578.914 255.967l-16.103-4.46-8.524.531"/>
          <path d="M576.959 255.426v-1.128l2.092-1.676"/>
          <path d="M576.959 252.17v-1.066l2.155-1.276"/>
          <path d="M576.959 248.915v-1.776"/>
          <path d="M578.865 259.325l-16.054-3.903-8.524.532"/>
          <path d="M578.865 262.485l-16.019-3.372-8.454.241"/>
          <path d="M578.865 265.851l-16.019-2.884-8.454.241"/>
          <path d="M578.865 269.879l-16.019-2.273-8.454.241"/>
          <path d="M578.865 273.048l-16.019-2.273-8.454.241"/>
          <path d="M578.783 276.634l-15.937-1.623-8.454.241"/>
          <path d="M578.896 280.411l-16.05-1.014-8.454.241"/>
          <path d="M578.779 283.411l-16.05-.695-8.454.241"/>
          <path d="M578.779 286.684l-16.05-.695-8.454.241"/>
          <path d="M575.583 291.735l3.196-1.321-16.05-.695-8.454.241"/>
          <path d="M578.779 294.108l-16.05-.454h-8.454"/>
          <path d="M578.779 297.277l-16.05-.453h-8.454"/>
          <path d="M578.779 300.665l-16.05-.454h-8.454"/>
          <path d="M579.185 304.154l-16.05-.453h-8.454"/>
          <path d="M579.185 307.819l-16.05-.454h-8.454"/>
          <path d="M579.185 311.335l-16.05-.304h-8.454"/>
          <path d="M579.175 314.827h-24.494"/>
          <path d="M579.175 318.68h-24.494"/>
          <path d="M579.175 321.783h-24.494"/>
          <path d="M579.175 325.37h-24.494"/>
          <path d="M579.175 328.982h-24.494"/>
          <path d="M579.175 333.126h-27.339"/>
          <path d="M579.175 336.803h-27.339"/>
          <path d="M579.175 341.45h-27.339"/>
          <path d="M550.858 346.941h-52.636"/>
          <path d="M579.175 345.665h-27.339"/>
          <path d="M579.175 349.969h-27.339"/>
          <path d="M579.175 354.267h-27.339"/>
          <path d="M579.175 358.43h-27.339"/>
          <path d="M579.175 362.781h-27.339"/>
          <path d="M579.175 367.319h-27.339"/>
          <path d="M579.175 371.157h-27.339"/>
          <path d="M579.175 375.116h-27.339"/>
          <path d="M579.175 379.947h-27.339"/>
          <path d="M575.634 291.951v98.268h-23.521"/>
          <path d="M523.101 395.901h17.037l18.878-.841v-1.375h-3.35v-1.797h-3.413v-1.77h-5.569v-1.325h-5.376v-1.506h-4.733v-2.244h-3.86v-2.509h-34.832v-40.385l56.39-9.903V196.303l-167.691-73.756v-2.12l-40.285-18.788L99.886 192.9l-23.318-5.6-93.581 38.011"/>
          <path d="M383.601 126.305v-2.634l2.911-1.318"/>
          <path d="M488.357 385.638h11.448"/>
          <path d="M492.243 387.788h11.448"/>
          <path d="M496.345 390.1h11.448"/>
          <path d="M500.882 392.275h11.448"/>
          <path d="M503.83 393.997h13.135"/>
          <path d="M507.489 396.27h13.134"/>
          <path d="M538.741 393.704h17.268"/>
          <path d="M536.078 391.889h17.267"/>
          <path d="M533.941 389.948h12.732"/>
          <path d="M528.878 387.528h12.135"/>
          <path d="M522.064 385.268h14.419"/>
          <path d="M383.278 132.475v-2.91l2.123-2.136-39.104-16.412-246.554 86.469-22.904-4.772-93.411 36.448"/>
          <path d="M540.192 395.901v-2.216h-3.885v-1.789h-2.747v-2.229h-4.424v-2.112h-4.27v-2.28h-3.655V383.1"/>
          <path d="M507.722 398.44l15.327-.657v-1.559h-3.885v-2.246h-2.748v-1.773h-4.423v-2.111h-4.271v-2.28h-3.654v-2.175h-4.276v-1.975h-16.288"/>
          <path d="M438.313 397.564l69.081.876v-2.216h-3.884v-2.246h-2.748v-1.773h-4.423v-2.111h-4.271v-2.28h-3.654v-2.175h-4.276v-1.975H467.85"/>
          <path d="M467.85 383.664h-11.183l-69.378 10.06 26.07 1.544 39.677 3.777-57.399 2.801-132.468-5.053"/>
          <path d="M277.815 126.916l-145.61-51.743-146.093 76.104"/>
          <path d="M-14.028 167.476l145.09-71.127 122.658 39.636"/>
          <path d="M395.678 401.435v-5.063h17.219l23.078.907"/>
          <path d="M382.493 384.84H429.4l-78.895 10.331 45.134 1.115"/>
          <path d="M551.486 333.028v56.151"/>
          <path d="M-13.914 184.427l146.719-68.178 94.316 29.441"/>
          <path d="M-13.811 192.793l146.616-68.127 81.478 25.77"/>
          <path d="M-13.856 196.817l146.661-68.15 75.981 23.835"/>
          <path d="M-13.837 220.289l146.642-60.408 29.777 9.013"/>
          <path d="M-13.917 216.438l146.722-60.442 35.167 10.645"/>
          <path d="M383.158 137.001v-1.662l1.348-1.956-38.503-15.017-246.142 84.752-23.217-4.345-93.595 34.417"/>
          <path d="M554.175 199.926l-170.001-72.868"/>
          <path d="M554.175 204.03l-170.001-72.868"/>
          <path d="M554.175 208.031l-170.001-72.869"/>
          <path d="M554.175 222.719l-170.001-61.843"/>
          <path d="M537.008 216.474v35.233"/>
          <path d="M545.177 219.918v33.461"/>
          <path d="M539.486 217.605v34.164"/>
          <path d="M554.179 231.098l-168.856-56.54"/>
          <path d="M554.466 289.182l-172.13-29.813"/>
          <path d="M526.29 213.256v34.797"/>
          <path d="M523.176 211.611v35.42"/>
          <path d="M575.69 290.33v-1.579l3.123-1.81"/>
          <path d="M575.69 286.437v-1.579l3.071-1.331"/>
          <path d="M575.69 283.364v-1.578l3.071-1.331"/>
          <path d="M575.69 279.882v-1.579l3.071-1.331"/>
          <path d="M575.69 276.207v-1.579l3.071-1.331"/>
          <path d="M575.69 272.499v-1.579l3.071-1.026"/>
          <path d="M575.69 269.012v-1.579l3.071-1.529"/>
          <path d="M575.69 265.256v-1.196l3.071-1.529"/>
          <path d="M575.69 261.841V261l3.071-1.529"/>
          <path d="M575.69 258.417v-.841l3.071-1.529"/>
          <path d="M554.404 255.942l-170.262-47.208"/>
          <path d="M521.103 246.236v-35.049"/>
          <path d="M512.124 207.718v36.093"/>
          <path d="M509.284 206.531v36.274"/>
          <path d="M506.288 205.529v37.276"/>
          <path d="M497.111 202.134v37.775"/>
          <path d="M494.334 238.568v-37.5"/>
          <path d="M481.31 196.309v39.003"/>
          <path d="M477.518 195.025v39.299"/>
          <path d="M464.175 230.514v-40.222"/>
          <path d="M460.44 188.806v40.644"/>
          <path d="M446.405 225.566v-41.992"/>
          <path d="M441.399 181.702v42.778"/>
          <path d="M438.274 223.168v-42.371"/>
          <path d="M426.421 176.251v43.714"/>
          <path d="M421.234 218.296v-43.357"/>
          <path d="M408.088 169.784v45.248"/>
          <path d="M404.535 214.014v-45.682"/>
          <path d="M553.946 309.269L382.1 284.954"/>
          <path d="M554.046 279.238l-171.95-37.395"/>
          <path d="M539.172 276.176v30.704"/>
          <path d="M526.293 273.335v31.956"/>
          <path d="M523.086 304.451v-32.006"/>
          <path d="M512.618 302.937v-32.43"/>
          <path d="M509.772 302.858v-33.031"/>
          <path d="M497.682 300.985v-33.531"/>
          <path d="M494.462 300.676v-34.17"/>
          <path d="M492.46 300.243v-34.17"/>
          <path d="M481.334 298.939v-35.117"/>
          <path d="M477.684 298.082v-35.117"/>
          <path d="M464.318 296.07v-36.179"/>
          <path d="M460.328 295.688v-36.766"/>
          <path d="M452.351 294.506v-37.325"/>
          <path d="M446.189 293.323v-37.325"/>
          <path d="M441.549 292.868v-37.605"/>
          <path d="M426.265 291.041v-39.266"/>
          <path d="M421.511 290.169v-39.266"/>
          <path d="M410.648 288.556v-40.111"/>
          <path d="M404.885 287.859v-40.525"/>
          <path d="M400.027 287.278v-41.08"/>
          <path d="M537.129 275.868v31.012"/>
          <path d="M553.944 331.917l-171.633-14.855"/>
          <path d="M497.706 342.097l-115.318-4.245"/>
          <path d="M279.56 176.8l30.266-9.747"/>
          <path d="M329.429 160.74l17.24-5.552 37.835 14.35-2.994 1.565"/>
          <path d="M279.605 189.774l29.937-8.341"/>
          <path d="M329.202 175.984l17.17-4.734 38.352 11.08-3.255 1.786"/>
          <path d="M279.718 182.812l29.962-8.944"/>
          <path d="M329.084 168.104l17.384-5.164 38.234 12.675-3.106 1.351"/>
          <path d="M279.822 195.494l29.909-7.659"/>
          <path d="M76.889 187.835V387.5"/>
          <path d="M99.837 193.249v194.242"/>
          <path d="M329.23 182.841l16.97-4.346 37.689 10.215-2.534.94v4.296"/>
          <path d="M279.595 202.659l29.91-7.91"/>
          <path d="M329.257 189.506l16.9-4.485 37.819 9.728-2.618 2.192v4.11"/>
          <path d="M279.675 209.914l30.106-7.816"/>
          <path d="M329.232 197.049l16.95-4.4 38.699 9.336-3.155 1.561v3.819"/>
          <path d="M282.049 217.634v-.951l-2.23-1.374 29.974-7.171"/>
          <path d="M329.046 203.463l17.136-4.16 38.474 8.975-2.716 1.691"/>
          <path d="M280.345 220.357l29.689-6.229"/>
          <path d="M329.239 210.319l16.943-4.086 37.5 7.637"/>
          <path d="M280.247 226.238l29.44-6.324"/>
          <path d="M329.147 215.834l16.88-3.725 37.789 7.645"/>
          <path d="M280.452 232.21l29.299-5.558"/>
          <path d="M329.058 222.94l16.969-3.263 37.201 7.611"/>
          <path d="M280.244 239.498l29.606-4.756"/>
          <path d="M329.019 231.573l17.008-2.812 37.482 7.404"/>
          <path d="M280.55 245.882l29.18-4.324"/>
          <path d="M329.178 238.676l16.642-2.466 37.627 6.792"/>
          <path d="M280.075 251.77l29.815-3.619"/>
          <path d="M329.24 245.836l17.023-2.037 37.092 6.648"/>
          <path d="M280.451 257.512l29.224-3.264"/>
          <path d="M329.142 252.5l17.12-1.537 37.097 5.725"/>
          <path d="M280.676 264.283l29.049-2.609"/>
          <path d="M329.184 260.175l17.172-1.323 36.904 5.057"/>
          <path d="M280.188 271.204l29.683-2.166"/>
          <path d="M329.197 267.713l17.186-1.177 36.903 4.424"/>
          <path d="M280.181 278.092l29.59-2.106"/>
          <path d="M329.431 274.931l17.131-.918 36.517 3.44"/>
          <path d="M280.19 285.87l29.568-1.545"/>
          <path d="M329.202 283.212l17.315-.99 36.325 2.926"/>
          <path d="M280.039 292.986l29.771-1.763"/>
          <path d="M329.04 290.085l17.477-1.034 36.431 2.445"/>
          <path d="M279.893 298.349l29.895-.84"/>
          <path d="M329.254 296.906l16.954-.525 36.431 2.02"/>
          <path d="M280.029 304.374l29.791-.814"/>
          <path d="M329.02 303.034l17.254-.476 37.044 1.816"/>
          <path d="M279.946 311.507l29.685-.446"/>
          <path d="M329.109 310.926l17.252-.417 37.15.998"/>
          <path d="M279.729 317.374l30.035-.387"/>
          <path d="M329.089 316.737l17.272-.223 36.994.86"/>
          <path d="M279.856 324.59l30.008-.406"/>
          <path d="M313.958 325.441l14.842-.409"/>
          <path d="M313.926 285.087l14.874-1.072"/>
          <path d="M313.958 318.508l14.842-.409"/>
          <path d="M313.958 278.33l14.842-1.248"/>
          <path d="M313.958 241.844l14.892-2.075"/>
          <path d="M313.958 235.677l14.948-2.687"/>
          <path d="M329.274 324.089l17.087-.393 37.011.894"/>
          <path d="M279.889 337.292l29.818-.495"/>
          <path d="M329.245 336.482l17.116-.277 36.851 1.087"/>
          <path d="M279.582 343.102h30.32"/>
          <path d="M329.247 343.102h17.114l36.838.774"/>
          <path d="M279.752 348.685h30.108"/>
          <path d="M329.222 348.685h17.139l36.984.913"/>
          <path d="M279.38 379.947l66.981 1.371h37.354"/>
          <path d="M279.466 387.106l66.751 1.512 37.145-1.512"/>
          <path d="M346.361 398.67V106.003"/>
          <path d="M279.466 374.086h104.272"/>
          <path d="M459.859 382.698v-28.03h11.782v28.03"/>
          <path d="M431.577 383.298v-29.282h11.782v29.282"/>
          <path d="M279.466 367.907h103.688"/>
          <path d="M279.293 361.629h103.861"/>
          <path d="M279.639 355.618h103.366"/>
          <path d="M381.438 184.118v4.016"/>
          <path d="M381.438 177.141v4.015"/>
          <path d="M381.438 171.113v3.191"/>
          <path d="M273.862 128.194L132.38 78.795l-145.884 74.518"/>
          <path d="M282.04 396.709V217.892"/>
          <path d="M279.636 209.95l2.228 2.035v3.057"/>
          <path d="M279.636 209.95l2.228 2.035v2.494"/>
          <path d="M100.113 291.86l181.751-28.834"/>
          <path d="M279.636 202.713l2.228 2.035v4.127"/>
          <path d="M279.636 202.713l2.228 2.035v4.127"/>
          <path d="M279.636 195.559l2.228 2.035v4.127"/>
          <path d="M279.636 195.559l2.228 2.035v4.127"/>
          <path d="M279.636 189.785l2.228 2.035v3.113"/>
          <path d="M279.636 189.785l2.228 2.035v3.113"/>
          <path d="M279.636 182.908l2.228 2.036v4.006"/>
          <path d="M279.636 182.908l2.228 2.036v4.006"/>
          <path d="M279.636 176.926l2.228 2.035v3.294"/>
          <path d="M279.636 176.926l2.228 2.035v3.294"/>
          <path d="M281.18 175.825L100.54 227.85"/>
          <path d="M281.18 175.825L100.54 227.85"/>
          <path d="M100.54 251.888l180.64-44.941"/>
          <path d="M100.54 251.888l180.64-44.941"/>
          <path d="M100.54 283.328l180.64-31.265"/>
          <path d="M100.54 306.177l180.908-21.98"/>
          <path d="M281.18 187.556L100.54 238.39"/>
          <path d="M281.18 187.556L100.54 238.39"/>
          <path d="M115.418 223.81v24.044"/>
          <path d="M115.418 223.81v24.044"/>
          <path d="M121.076 221.814v24.899"/>
          <path d="M121.076 221.814v24.899"/>
          <path d="M133.353 218.383v24.899"/>
          <path d="M133.353 218.383v24.899"/>
          <path d="M145.931 215.161v24.899"/>
          <path d="M145.931 215.161v24.899"/>
          <path d="M151.996 213.259v25.46"/>
          <path d="M151.996 213.259v25.46"/>
          <path d="M165.25 209.377v26.141"/>
          <path d="M165.25 209.377v26.141"/>
          <path d="M180.334 204.915v26.952"/>
          <path d="M180.334 204.915v26.952"/>
          <path d="M195.351 200.435V228.1"/>
          <path d="M195.351 200.435V228.1"/>
          <path d="M199.883 199.352v27.665"/>
          <path d="M199.883 199.352v27.665"/>
          <path d="M225.684 191.898v28.573"/>
          <path d="M225.684 191.898v28.573"/>
          <path d="M232.066 190.028v28.573"/>
          <path d="M232.066 190.028v28.573"/>
          <path d="M249.311 185.179v29.543"/>
          <path d="M249.311 185.179v29.543"/>
          <path d="M256.227 183.311v29.544"/>
          <path d="M256.227 183.311v29.544"/>
          <path d="M259.229 182.647v29.543"/>
          <path d="M259.229 182.647v29.543"/>
          <path d="M275.319 177.795v30.042"/>
          <path d="M275.319 177.795v30.042"/>
          <path d="M99.7 246.676l-22.712-2.369-92.577 25.388"/>
          <path d="M99.7 251.93l-22.712-2.368-92.577 24.091"/>
          <path d="M99.7 262.04l-22.712-2.369-92.661 22.509"/>
          <path d="M99.525 257.61l-22.711-2.369-92.661 22.509"/>
          <path d="M281.863 314.444l-181.548 13.458H76.781l-92.753 7.8"/>
          <path d="M281.863 320.728l-181.548 11.793H76.781l-92.938 7.067"/>
          <path d="M282.046 327.422l-181.731 10.035H76.781l-92.938 5.795"/>
          <path d="M-16.157 350.033l92.938-3.398h23.023l181.642-8.383"/>
          <path d="M244.123 385.941l-17.114.325"/>
          <path d="M248.119 388.189l-17.113.325"/>
          <path d="M252.955 390.258l-17.113.325"/>
          <path d="M256.166 392.02l-17.494.325"/>
          <path d="M260.236 394.389l-17.882.346"/>
          <path d="M282.046 332.829l-181.731 10.035H76.781l-92.938 4.147"/>
          <path d="M116.03 280.896v22.728"/>
          <path d="M107.913 282.301v22.729"/>
          <path d="M121.047 280.278v22.728"/>
          <path d="M132.652 278.33v23.681"/>
          <path d="M146.167 275.478v24.976"/>
          <path d="M152.096 274.448v24.977"/>
          <path d="M165.214 272.294v25.455"/>
          <path d="M179.827 269.768v26.543"/>
          <path d="M195.157 267.357v27.142"/>
          <path d="M198.948 266.237v27.675"/>
          <path d="M225.527 261.79v28.92"/>
          <path d="M232.129 260.353v29.406"/>
          <path d="M249.159 257.569v30.367"/>
          <path d="M256.291 256.844v30.367"/>
          <path d="M259.085 256.138v30.367"/>
          <path d="M275.248 253.508v31.171"/>
          <path d="M498.242 382.266l-115.698 2.118"/>
          <path d="M461.917 340.72l32.909-6.423 9.604.779-33.386 6.071"/>
          <path d="M434.833 339.755l33.266-8.194 7.575.779-31.343 7.796"/>
          <path d="M396.919 338.332l41.927-8.792 9.605.779-41.83 8.364"/>
          <path d="M521.504 395.716v-13.768l-22.805-12.02h22.805l18.648 12.02v11.556"/>
          <path d="M509.583 369.77v12.639"/>
          <path d="M558.637 393.547V382.16l-25.688-12.322H497.99"/>
          <path d="M507.161 396.04v-13.549l-23.755-12.522h-30.254l-64.71 9.788h2.297l44.792 7.008v10.297"/>
          <path d="M389.678 379.638v13.933"/>
          <path d="M445.597 398.413v-11.316l-51.744-8.36H349.98v16.323"/>
          <path d="M371.623 378.737v16.323"/>
          <path d="M393.856 396.08v-17.094"/>
          <path d="M481.942 383.274V370.3"/>
          <path d="M520.554 382.909v-12.974"/>
          <path d="M532.465 383.031v-12.975"/>
          <path d="M445.27 384.634V371.66"/>
          <path stroke-miterlimit="1.41421" d="M189.157 78.85c-.282.06-.584.097-.908.108-.323.013-.692-.018-1.106-.091-.415-.073-.897-.212-1.444-.409-1.062-.383-1.929-.956-2.601-1.714-.671-.76-1.2-1.663-1.579-2.703-.382-1.043-.645-2.204-.785-3.484-.141-1.277-.212-2.64-.212-4.084 0-1.119.042-2.241.125-3.365.082-1.122.281-2.085.596-2.887.316-.801.78-1.385 1.395-1.742.614-.363 1.452-.346 2.512.037.964.347 1.796.985 2.501 1.918.706.933 1.142 2.12 1.309 3.559l1.093.394v-4.493c-.315-.305-.685-.607-1.107-.9-.422-.293-.867-.561-1.331-.804-.464-.242-.922-.467-1.369-.673-.449-.203-.855-.372-1.219-.503-1.527-.552-2.829-.751-3.908-.603-1.078.15-1.962.611-2.651 1.386-.688.774-1.194 1.841-1.517 3.201-.323 1.359-.486 2.977-.486 4.85 0 1.767.163 3.408.486 4.928.323 1.518.821 2.886 1.492 4.107.673 1.225 1.523 2.28 2.553 3.169 1.027.889 2.256 1.589 3.683 2.104.712.257 1.368.431 1.964.516.598.088 1.142.117 1.631.088.489-.027.926-.091 1.307-.188.382-.1.713-.206.995-.32l-.549-1.587c-.296.064-.587.126-.87.185zm15.094-4.957c-.605-.767-1.395-1.45-2.363-2.049-.971-.597-2.154-1.148-3.547-1.651l-1.445-.522v-5.365c0-.582.091-.916.276-1 .182-.086.562-.023 1.144.187l2.091.755c.646.233 1.173.455 1.579.667.406.212.744.485 1.009.817.265.333.479.766.647 1.3.165.534.33 1.228.497 2.086l.922.332v-4.91l-11.872-4.287-.969-.35v.726c.069.047.139.113.321.244.184.132.324.28.423.445.1.165.163.37.188.614.025.242.036.548.037.921v.473c.001.01.001.019.001.029v4.023-.001 8.247-.002 3.333c0 .017 0 .036-.001.055v1.138c-.001.371-.012.669-.037.893-.025.228-.088.388-.187.479-.1.094-.241.141-.424.138-.181.002-.252.018-.321.013v.725l6.518 2.354c.895.323 1.779.579 2.65.761.872.189 1.648.149 2.327-.111.682-.259 1.228-.818 1.644-1.668.414-.854.622-2.153.622-3.898 0-1.249-.137-2.361-.411-3.331-.274-.973-.713-1.843-1.319-2.61zm-2.463 7.821c-.191.706-.445 1.208-.76 1.504-.315.294-.676.43-1.083.399-.406-.027-.826-.12-1.257-.276-.414-.149-.737-.302-.97-.461-.231-.162-.411-.348-.535-.567-.123-.215-.204-.471-.237-.761-.033-.293-.05-.657-.05-1.087v-9.404l1.495.54c1.343.485 2.292 1.274 2.85 2.368.554 1.095.833 2.657.833 4.681 0 1.337-.097 2.357-.286 3.064zm17.094 7.175c-.122.474-.302.797-.532.971-.233.173-.561.218-.986.128-.42-.088-1.007-.266-1.753-.536-.697-.252-1.24-.481-1.631-.686-.389-.203-.682-.428-.882-.674-.199-.243-.323-.54-.372-.893-.052-.353-.075-.787-.075-1.303v-7.08l2.337.844c.2.072.436.171.711.29.273.121.554.253.844.402.291.147.569.319.836.513.265.192.489.396.67.614V78.6c-.181.085-.405.124-.67.114-.267-.009-.545-.041-.836-.091-.29-.051-.571-.119-.844-.208-.275-.086-.511-.166-.711-.238l-2.337-.844v-7.467c0-.497.053-.801.161-.912.107-.114.336-.106.684.02l1.867.674c.647.234 1.172.455 1.581.668.405.212.741.484 1.006.816.266.333.481.767.647 1.3.167.535.332 1.229.498 2.086l.922.333V69.94l-11.051-3.99-.969-.35v.725c.068.047.139.113.321.245.182.131.323.28.424.445.099.165.161.37.186.613.025.248.038.566.038.954v17.231c0 .388-.013.695-.038.925-.025.228-.087.388-.186.479-.101.094-.242.141-.424.138-.181.002-.253.017-.322.013v.725l12.418 4.484v-5.235l-1.144-.413c-.134.833-.262 1.488-.388 1.96zm15.033-12.913c-.59-.653-1.266-1.18-2.028-1.573-.764-.393-1.553-.738-2.363-1.03l-5.874-2.121-.97-.35v.725c.068.047.139.113.321.245.183.131.324.28.423.444.101.166.163.37.188.615.025.247.038.565.038.953v17.231c0 .388-.013.695-.038.925-.025.228-.087.388-.188.479-.099.094-.24.141-.423.138-.182.001-.253.017-.321.013v.725l5.671 2.048v-.725c-.069-.046-.139-.113-.321-.245-.183-.129-.323-.278-.423-.444-.1-.163-.162-.368-.188-.615-.025-.247-.036-.563-.036-.951v-6.288l1.716.619c.896.324 1.75.544 2.566.667.809.119 1.528.038 2.15-.242.622-.283 1.116-.821 1.481-1.615.366-.794.549-1.955.549-3.485 0-1.466-.176-2.694-.523-3.68-.349-.987-.819-1.808-1.407-2.463zm-2.562 8.706c-.425.869-1.167 1.113-2.228.73l-1.742-.629v-9.568c0-.212.012-.399.036-.552.026-.15.084-.259.173-.325.093-.063.235-.081.425-.058.191.027.453.101.784.22.447.162.867.388 1.258.681.388.29.726.678 1.018 1.159.29.483.516 1.066.672 1.747.158.68.236 1.495.236 2.443 0 1.898-.21 3.28-.632 4.152zm18.24 5.584c-.605-.768-1.393-1.45-2.365-2.051-.97-.596-2.152-1.147-3.545-1.65l-1.443-.521v-4.525c0-.583.838-1.023 1.418-.814 0 0 3.265 1.111 3.671 1.323.407.213.741.485 1.007.817.265.333.481.767.648 1.3.165.535.331 1.228.496 2.085l.922.333v-4.911l-11.871-4.469-.968-.349v.725c.068.047.139.113.32.244.183.132.325.28.424.445.1.166.162.37.187.614.025.247.037.565.037.953v4.493l.001-.559v8.248l-.001-.003v4.494c0 .389-.012.696-.037.925-.025.228-.087.388-.187.479-.099.095-.241.142-.424.139-.181.001-.252.017-.32.013v.725l6.516 2.353c.897.324 1.781.58 2.653.762.87.188 1.645.148 2.327-.112.679-.259 1.226-.817 1.642-1.667.415-.855.621-2.154.621-3.899 0-1.249-.137-2.361-.41-3.33-.274-.974-.713-1.843-1.319-2.61zm-2.465 7.82c-.189.707-.443 1.208-.758 1.505-.315.293-.676.429-1.083.398-.406-.027-.825-.119-1.256-.275-.415-.15-.739-.303-.971-.461-.231-.163-.41-.348-.534-.567-.124-.216-.203-.471-.238-.762-.032-.293-.048-.657-.048-1.087v-9.403l1.49.538c1.346.486 2.296 1.276 2.851 2.369.554 1.095.835 2.657.835 4.681 0 1.337-.095 2.358-.288 3.064zm36.721-4.316l-3.708-1.339v.001l-.969-.35v.725c.068.047.139.113.32.244.184.132.325.281.425.445.099.166.162.37.187.614.024.248.037.566.037.953v6.411l-6.694-2.417v-2.701.001-3.84c0-.388.012-.697.037-.926.025-.226.087-.386.187-.479.1-.093.24-.14.424-.14.182.003.252-.016.32-.012v-.725l-.968-.35-3.709-1.339-.969-.35v.726c.068.047.139.113.322.244.181.131.323.28.423.445.1.166.162.37.187.614.024.24.037.543.037.913v16.659c0 .367-.014.662-.036.885-.026.227-.088.388-.188.479-.1.094-.242.141-.423.138-.183.001-.253.017-.322.013v.725l5.646 2.039v-.725c-.068-.045-.138-.112-.32-.245-.184-.129-.324-.278-.424-.444-.1-.164-.162-.368-.187-.615-.025-.247-.037-.563-.037-.952v-4.494.003-4.062l6.694 2.417v8.554c0 .388-.013.695-.037.925-.025.228-.088.388-.186.479-.101.094-.242.141-.425.138-.182.001-.253.017-.321.013v.725l5.646 2.039v-.725c-.068-.045-.139-.112-.32-.245-.183-.129-.324-.278-.424-.444-.101-.164-.162-.368-.187-.614-.025-.248-.037-.564-.037-.952v-4.494l-.026.09v-8.44l.025.105v-3.711c0-.387.013-.696.038-.926.025-.226.086-.385.186-.479.101-.092.242-.139.425-.14.18.002.252-.016.32-.011v-.726l-.969-.35zm-17.569 10.325l-3.958-15.27c-.184-.734-.302-1.321-.361-1.764-.06-.442-.105-.819-.137-1.131l-4.95-1.787v.726c.068.047.139.114.321.243.182.132.323.281.423.445.1.166.162.37.188.615.013.143.023.314.029.503-.014.513-.083 1.017-.216 1.389l-2.763 6.994c-.513 1.476-.955 2.705-1.319 3.693-.366.99-.676 1.815-.933 2.475-.257.662-.481 1.185-.671 1.568-.192.384-.361.712-.511.979l3.135 1.132c.034-.527.164-1.4.386-2.624.225-1.221.626-2.871 1.208-4.946l5.499 1.986.747 3.147c.33 1.41.597 2.597.796 3.551.2.955.315 1.665.347 2.13l4.406 1.591c-.182-.519-.41-1.209-.684-2.074-.273-.862-.603-2.053-.982-3.571zm-9.732-8.102l2.39-7.325 2.339 9.033-4.729-1.708zm40.665 23.988l3.738-1.412s-.671-1.205-.928-1.677c-.531-.965-1.027-1.876-1.492-2.734-.464-.856-.905-1.696-1.318-2.513-.417-.817-.81-1.634-1.184-2.445-.373-.815-.743-1.677-1.106-2.584l.273-.353c.413-.539.904-1.154 1.469-1.844.562-.691 1.144-1.365 1.741-2.022.598-.655 3.154-2.018 3.154-2.018l-4.347-1.441c-.134.403-.657 1.666-1.02 2.288-.366.621-.747 1.267-1.146 1.93-.398.664-.796 1.291-1.194 1.88-.399.589-.769 1.133-1.107 1.637-.341.499-.628.901-.859 1.208.415.882.791 1.685 1.132 2.411.34.728.664 1.419.97 2.08.307.661.606 1.307.896 1.94.291.634.593 1.298.908 1.993.331.723.627 1.422.885 2.095 0 0 .318.942.535 1.581zm-5.399-2.768c-.101-.164-.162-.368-.188-.615-.024-.247-.037-.563-.037-.952V99.415c0-.388.013-.696.037-.926.026-.226.087-.385.188-.478.099-.093.24-.14.424-.14.18.002.252-.016.32-.012v-.726l-.969-.35-3.709-1.339-.969-.349v.725c.068.047.139.113.32.244.184.132.324.28.424.445.1.166.163.37.188.614.024.247.037.565.037.953v16.231c0 .388-.013.695-.037.925-.025.228-.088.388-.188.479-.1.094-.24.142-.424.139-.181.001-.252.017-.32.013v.725l5.647 2.039v-.725c-.068-.045-.139-.112-.32-.245-.184-.129-.325-.278-.424-.444z" stroke-linecap="butt"/>
          <path stroke-miterlimit="1.41421" d="M147.497 76.737l1.111.509c.648.273 1.3.51 1.956.706 2.771.83 5.462.902 7.848.185 2.305-.694 4.279-2.095 5.82-4.076 1.621-2.081 2.761-4.803 3.31-8.011.071-.412.132-.834.184-1.263.123-1.057.188-2.167.188-3.324 0-.216-.002-.433-.007-.65-.022-1.024-.096-2.082-.223-3.167-.326-2.771-.983-5.618-1.954-8.421l-25.459 6.508-12.021-14.089c-.023.419-.039.845-.044 1.28-.001.102-.002.204-.002.307v.001c0 1.508.112 3.067.332 4.655.427 3.077 1.242 6.12 2.372 9.032 1.43 3.703 3.366 7.19 5.64 10.244 1.532 2.055 3.225 3.915 5.004 5.5.777.691 1.582 1.338 2.397 1.929 1.149.827 2.335 1.547 3.548 2.145zm-7.226-39.6l-6.897-8.083c-.491.446-.953.939-1.382 1.476l8.279 9.706 17.805-4.551c-.745-.884-1.521-1.721-2.32-2.506l-15.485 3.958zm0 6.201l-9.456-11.085c-.359.615-.683 1.27-.971 1.961l10.427 12.22 21.556-5.509c-.552-.912-1.135-1.799-1.745-2.653l-19.811 5.066zm0 6.194l-11.19-13.113c-.152.542-.285 1.102-.399 1.677-.051.26-.098.523-.141.79l11.73 13.749 24.369-6.23c-.24-.56-.491-1.115-.753-1.665-.116-.241-.234-.48-.353-.718-.065-.129-.129-.257-.195-.385l-23.068 5.895z" stroke-linecap="butt"/>
          <path d="M139.152 70.387l-4.74 5.292"/>
          <path d="M265.443 109.031l-2.747 2.97"/>
          <path d="M259.934 115.329l-3.67 3.618"/>
          <path d="M169.665 78.732l119.359 43.164-4.451 2.409-114.908-42.087v-3.486z"/>
          <path d="M247.356 110.61l-3.018 3.776"/>
          <path d="M258.482 119.413v-4.289"/>
          <path d="M258.942 110.603V98.922"/>
          <path d="M282.031 114.993v4.124"/>
          <path d="M282.031 123.367v1.778"/>
          <path d="M179.18 85.81v5.498"/>
          <path d="M179.086 76.16v5.789"/>
          <path d="M193.051 68.986l-4.116 9.805"/>
          <path d="M214.616 90.632v4.373"/>
          <path d="M214.616 98.805v5.663"/>
        </g>
      </svg>
      <div class="slide__info">
        <div class="slide__container container">
          <div class="slide__first">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="75" viewBox="0 0 124 75">
              <g fill="#FFFFFF" fill-rule="evenodd">
                <rect width="43" height="75"></rect>
                <rect width="17" height="23" x="46"></rect>
                <rect width="58" height="23" x="66"></rect>
                <g transform="matrix(-1 0 0 1 124 26)">
                  <rect width="17" height="23" transform="matrix(-1 0 0 1 17 0)"></rect>
                  <rect width="58" height="23" x="20" transform="matrix(-1 0 0 1 98 0)"></rect>
                </g>
                <rect width="17" height="23" x="46" y="52"></rect>
                <rect width="58" height="23" x="66" y="52"></rect>
              </g>
            </svg>
            <div class="slide__name">
              <p class="slide__type">Центр обработки данных</p>
              <p class="slide__title">ЦОД Сбербанк</p>
            </div>
          </div>
          <div class="slide__facts">
            <div class="slide__fact">
              <p class="slide__number">33</p>
              <p class="slide__units">тыс. м<sup>2</sup></p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">25</p>
              <p class="slide__units">месяцев</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" style="background-color: #4c0f0f;" data-dot="Санаторий МРИЯ">
      <svg class="slide__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-miterlimit="1.5" viewBox="0 0 397 512" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g fill="none" stroke="#000" opacity="0.5">
          <path d="M381.216 28.055V16.584C234.275 106.341 47.114 209.285-3.742 316.015c52.925-97.204 244.859-205.649 384.958-287.96z"/>
          <path d="M381.247 27.909c-.804 39.379-3.334 81.595-9.465 116.408"/>
          <path d="M371.099 134.361v-29.102l-175.107 79.974v24.87l175.107-75.742z"/>
          <path d="M369.554 172.172l-173.562 66.949v5.616l173.562-63.562v-9.003z"/>
          <path d="M358.954 222.795c-58.622 16.169-112.444 34.438-162.891 54.024v5.616c51.327-18.309 104.654-35.825 162.891-51.391v-8.249z"/>
          <path d="M353.614 273.144l-156.771 40.664v5.616l156.771-38.031v-8.249z"/>
          <path d="M352.221 318.31l-153.659 31.714v5.616l153.659-29.081v-8.249z"/>
          <path d="M353.706 363.941l-157.228 24.741v5.615l157.228-23.295v-7.061z"/>
          <path d="M352.334 409.989c-57.447 4.703-109.025 11.204-153.456 19.897v5.616c45.508-8.38 97-13.977 153.456-17.265v-8.248z"/>
          <path d="M227.753 531.165l24.42-94.425c-10.635-2.141-18.262 1.198-18.239 2.516l-21.449 68.59"/>
          <path d="M359.457 515.416c-2.625 1.201-10.334 2.756-15.168 0v-79.71c4.519-5.142 12.117-3.039 15.168 1.944v77.766z"/>
          <path d="M337.642 506.97c-4.332 1.472-8.607 1.812-12.774 0v-51.128c1.568-3.049 10.205-5.078 12.774 0v51.128z"/>
          <path d="M319.351 469.396v29.4c-2.404.846-4.777 1.041-7.089 0v-29.4c.869-1.753 5.663-2.92 7.089 0z"/>
          <path d="M307.898 475.651v20.206c-1.908.582-3.792.716-5.627 0v-20.206c.69-1.205 4.496-2.007 5.627 0z"/>
          <path d="M366.957 438.565c-.4 4.558-3.227 9.073-7.156 10.534"/>
          <path d="M358.44 414.761v-32.104c-4.685-3.881-9.356-4.18-14.012 0v27.706"/>
          <path d="M358.44 367.289v-26.143c-.212-6.966-13.316-7.703-14.012 0v23.308"/>
          <path d="M358.962 324.723v-28.15c-.211-6.966-13.316-7.703-14.011 0v23.308"/>
          <path d="M358.962 282.189v-31.257c-.211-6.965-13.316-7.702-14.011 0v23.309"/>
          <path d="M352.711 410.381c8.823 5.92 12.794 12.853 14.335 24.862v3.519c-3.145-10.993-4.928-15.946-14.335-20.801v-7.58z"/>
          <path d="M353.864 363.847c9.915 6.957 13.317 16.033 13.683 28.23-2.708-8.653-3.333-15.87-13.683-20.975v-7.255z"/>
          <path d="M358.765 402.884c5.285-.91 7.813-4.64 8.782-10.807"/>
          <path d="M352.595 318.634c13.6 12.513 17.009 22.153 17.932 31.092-.09-7.865-6.425-15.264-17.932-22.278v-8.814z"/>
          <path d="M353.56 273.096c15.545 22.784 15.744 38.766 12.539 62.59 2.152-23.269 2.96-37.025-12.539-55.336v-7.254z"/>
          <path d="M358.809 223.082c25.501 44.081 7.193 74.112 7.193 74.112 10.369-40.143-.975-53.03-7.193-67.556v-6.556z"/>
          <path d="M369.345 171.37c7.987 26.693 2.141 86.778 2.141 86.778 1.33-18.425 4.136-61.339-2.141-79.524v-7.254z"/>
          <path d="M371.153 133.773c1.437 12.488.001 26.813-2.172 40.619"/>
          <path d="M344.621 227.406v-18.261c-.688-9.856 13.715-12.606 15.053-4.255v20.933"/>
          <path d="M344.621 180.693v-18.261c-.688-9.856 13.715-12.606 15.053-4.255v16.286"/>
          <path d="M290.034 243.405l8.781-26.442c2.316-8.821 18.291-10.959 17.158-3.655l-8.408 24.618"/>
          <path d="M304.407 196.147l9.239-26.564c2.316-8.821 17.195-10.959 16.062-3.655l-8.589 23.196"/>
          <path d="M274.247 293.098l10.032-28.843c2.315-8.82 18.291-10.958 17.158-3.655l-10.033 28.586"/>
          <path d="M263.197 336.738l9.787-27.921c2.667-4.922 11.69-7.29 17.159-3.655l-9.685 26.854"/>
          <path d="M249.327 380.159l10.169-29.444c3.098-3.074 8.397-4.472 17.2-3.302l-9.968 30.076"/>
          <path d="M235.575 423.052l10.167-29.646c1.953-3.781 14.305-6.302 17.125-2.796l-9.21 30.255"/>
          <path d="M199.381 435.723l26.305 6.39-67.571 1.084v-8.711h40.093"/>
          <path d="M199.88 397.062l-2.934-2.515 8.957 7.68h-47.549v-5.165h41.526z"/>
          <path d="M203.181 360.052l-4.556-4.548 9.672 9.917-49.959 1.656v-5.165l44.843-1.86z"/>
          <path d="M158.125 404.764v5.544l-34.725 2.06v-5.165l34.725-2.439z"/>
          <path d="M158.125 441.009v7.433l-34.725 1.092v-7.054l34.725-1.471z"/>
          <path d="M123.238 446.249v7.433l-24.302 1.234v-7.054l24.302-1.613z"/>
          <path d="M201.611 323.96l-4.677-4.525 9.403 9.095-47.902 3.018v-5.165l43.176-2.423z"/>
          <path d="M200.888 286.649l-4.41-4.547 8.935 9.213-47.291 2.36v-5.165l42.766-1.861z"/>
          <path d="M200.407 248.987l-4.41-4.548 8.934 9.213-46.784 2.321v-5.164l42.26-1.822z"/>
          <path d="M200.491 214.941l-4.41-4.548 8.935 9.214-47.572 2.36v-5.165l43.047-1.861z"/>
          <path d="M158.018 231.612v-9.657 14.822l-34.895 1.239v-5.179l34.895-1.225z"/>
          <path d="M122.899 249.535v5.165l-24.08 1.233v-5.165l24.08-1.233z"/>
          <path d="M123.065 278.296v5.165l-24.074 1.997v-5.165l24.074-1.997z"/>
          <path d="M123.009 315.027v5.164l-23.626 1.942v-5.165l23.626-1.941z"/>
          <path d="M123.133 349.058v5.164l-24.159 1.969v-5.164l24.159-1.969z"/>
          <path d="M123.15 383.136v5.164l-24.183 2.627v-5.164l24.183-2.627z"/>
          <path d="M123.15 414.919v5.165l-24.183 1.65v-5.165l24.183-1.65z"/>
          <path d="M98.719 264.168v5.164l-23.391 1.259v-5.164l23.391-1.259z"/>
          <path d="M99.048 293.408v5.165l-23.625 1.517v-5.164l23.625-1.518z"/>
          <path d="M99.048 327.889v5.165l-23.625 2.313v-5.165l23.625-2.313z"/>
          <path d="M98.883 359.067v5.165l-23.625 1.969v-5.165l23.625-1.969z"/>
          <path d="M98.888 392.232v5.165l-23.472 2.84v-5.164l23.472-2.841z"/>
          <path d="M98.888 422.629v5.165l-23.472 2.84v-5.164l23.472-2.841z"/>
          <path d="M75.184 280.006v5.165l-20.62 1.452v-5.165l20.62-1.452z"/>
          <path d="M75.402 309.14v5.165l-20.866 1.624v-5.165l20.866-1.624z"/>
          <path d="M75.402 340.375v5.164l-20.863 2.142v-5.164l20.863-2.142z"/>
          <path d="M75.356 369.699v5.165l-20.469 1.969v-5.165l20.469-1.969z"/>
          <path d="M75.415 400.563v5.165l-20.868 2.641v-5.165l20.868-2.641z"/>
          <path d="M75.415 428.758v5.164l-20.868 2.642v-5.165l20.868-2.641z"/>
          <path d="M54.489 293.379v5.165l-15.232.986v-5.165l15.232-.986z"/>
          <path d="M54.563 322.18v5.165l-15.122 1.957v-5.165l15.122-1.957z"/>
          <path d="M54.491 351.783v5.165l-15.07 1.69v-5.165l15.07-1.69z"/>
          <path d="M54.413 377.717v5.165l-15.266 1.969v-5.165l15.266-1.969z"/>
          <path d="M54.5 407.82v5.165L39.435 414.8v-5.164L54.5 407.82z"/>
          <path d="M54.5 434.643v5.165l-15.065 1.815v-5.164l15.065-1.816z"/>
          <path d="M39.228 304.221v5.164l-13.323.644v-5.165l13.323-.643z"/>
          <path d="M39.157 332.094v5.165l-13.215 1.585v-5.165l13.215-1.585z"/>
          <path d="M39.157 360.667v5.165l-13.215 1.59v-5.165l13.215-1.59z"/>
          <path d="M39.191 384.49v5.165l-13.17 1.969v-5.165l13.17-1.969z"/>
          <path d="M39.241 413.953v5.165l-13.219 1.85v-5.164l13.219-1.851z"/>
          <path d="M39.241 440.26v5.165l-13.219 1.85v-5.164l13.219-1.851z"/>
          <path d="M25.781 314.975v5.165l-10.964 1.043v-5.165l10.964-1.043z"/>
          <path d="M26.023 342.67v5.164l-10.964 1.478v-5.165l10.964-1.477z"/>
          <path d="M25.958 368.954v5.165l-10.899 2.32v-5.165l10.899-2.32z"/>
          <path d="M25.908 390.573v5.164l-11.155 1.969v-5.164l11.155-1.969z"/>
          <path d="M25.936 420.012v5.164l-11.026 1.969v-5.164l11.026-1.969z"/>
          <path d="M25.936 445.248v5.165l-11.026 1.969v-4.575l11.026-2.559z"/>
          <path d="M14.768 323.749v5.164l-6.403.93v-5.165l6.403-.929z"/>
          <path d="M14.855 349.488v5.164l-6.421 1.412v-5.165l6.421-1.411z"/>
          <path d="M14.929 374.233v5.165l-6.575 1.111v-5.165l6.575-1.111z"/>
          <path d="M14.855 395.909v5.164l-6.485 1.969v-5.164l6.485-1.969z"/>
          <path d="M14.666 425.197v3.835l-6.213 1.465v-3.835l6.213-1.465z"/>
          <path d="M14.666 451.166v3.835l-6.213 1.465v-3.835l6.213-1.465z"/>
          <path d="M8.199 329.228v4.228L2 334.466v-4.228l6.199-1.01z"/>
          <path d="M8.35 355.513v4.228l-6.27.884v-4.228l6.27-.884z"/>
          <path d="M8.35 378.52v4.228l-6.303 1.496v-4.228l6.303-1.496z"/>
          <path d="M8.366 399.659v4.228l-6.332 1.969v-4.228l6.332-1.969z"/>
          <path d="M8.289 428.285v3.316l-6.12 1.802v-3.317l6.12-1.801z"/>
          <path d="M8.289 454.721v4.228l-6.12 1.414v-4.228l6.12-1.414z"/>
          <path d="M1.896 333.408v4.228l-5.458.763v-4.228l5.458-.763z"/>
          <path d="M1.984 361.186v4.228l-5.512 1.159v-4.228l5.512-1.159z"/>
          <path d="M2.062 383.298v4.227l-5.377 1.492v-4.228l5.377-1.491z"/>
          <path d="M2.014 403.563v4.228l-5.545 1.798v-4.228l5.545-1.798z"/>
          <path d="M1.809 432.096v3.227l-5.389 1.415v-3.13l5.389-1.512z"/>
          <path d="M1.809 458.229v4.228l-5.389 1.098v-4.228l5.389-1.098z"/>
          <path d="M-3.612 316.386v147.963c1.419 4.145 3.751 6.056 6.44 7.091"/>
          <path d="M158.137 266.172v5.165l-34.85 1.95v-5.165l34.85-1.95z"/>
          <path d="M158.114 301.99v5.165l-34.827 1.949v-5.164l34.827-1.95z"/>
          <path d="M158.205 337.52v5.165l-34.993 2.175v-5.165l34.993-2.175z"/>
          <path d="M158.091 371.02v5.165l-34.895 3.219v-5.164l34.895-3.22z"/>
          <path d="M370.378 125.318l-173.527 75.35"/>
          <path d="M202.46 181.743h-25.515v33.92"/>
          <path d="M175.874 199.895l-30.201 3.825v28.245"/>
          <path d="M145.259 220.159h-20.461v12.64"/>
          <path d="M122.575 237.2h-22.171v13.074"/>
          <path d="M98.433 253.618H77.161v11.593"/>
          <path d="M74.899 269.085H55.935v12.335"/>
          <path d="M54.072 282.953H41.147v10.96"/>
          <path d="M39.258 296.131l-11.027.97v7.107"/>
          <path d="M25.414 306.736h-8.873v8.832"/>
          <path d="M14.335 317.901l-4.367.571v5.24"/>
          <path d="M9.453 322.46l-5.828.69v6.498"/>
          <path d="M3.515 326.642l-6.993.51v2.152"/>
          <path d="M221.181 173.176v-20.529l76.971-35.93v21.948"/>
          <path d="M158.151 222.096v220.775"/>
          <path d="M123.093 236.645v209.068"/>
          <path d="M98.913 254.969v195.976"/>
          <path d="M75.329 268.956v159.809"/>
          <path d="M54.52 281.923V434.78"/>
          <path d="M39.307 298.921v142.206"/>
          <path d="M25.951 306.211v141.203"/>
          <path d="M14.816 318.389v130.612"/>
          <path d="M8.377 325.745v132.546"/>
          <path d="M2.004 334.865v125.953"/>
          <path d="M205.017 235.032v-15.411"/>
          <path d="M204.827 220.308l104.356-40.939"/>
          <path d="M326.433 173.573l17.239-6.922"/>
          <path d="M359.766 161.491l5.794-3.032v14.675"/>
          <path d="M3.288 469.666l1.26 50.772h7.081v-50.772H3.288z"/>
          <path d="M22.05 492.005v-27.373c-3.924-2.088-9.667-1.204-9.969 2.43v55.666h9.969-9.969"/>
          <path d="M215.436 496.998l-21.076-48.681c-2.623-4.699-13.7-3.408-17.077 0l30.88 82.591h19.552"/>
          <path d="M344.184 458.16l-6.738 3.708"/>
          <path d="M324.557 468.509l-5.294 2.664"/>
          <path d="M312.415 474.476l-4.254 2.35"/>
          <path d="M19.626 498.81l13.638-38.231"/>
          <path d="M36.857 481.532l-14.705 41.127"/>
          <path d="M114.331 516.991l39.366-63.321c2.847-3.753 14.6-5.807 16.7-1.101l-46.183 78.124"/>
          <path d="M99.005 454.828c9.295 6.219 25.502 11.072 44.47 14.977"/>
          <path d="M370.688 350.251c-.726 4.501-4.457 11.477-11.605 13.475"/>
          <path d="M52.655 497.975l-7.068-41.14c-2.668-4.454-11.214-3.924-13.079 0l13.43 70.035h14.297"/>
          <path d="M120.153 506.256l-18.376-49.881-2.816-1.828v-10.87c-6.643-1.854-11.482-.952-14.557 2.642l26.682 84.796h13.083"/>
          <path d="M50.519 507.917l14.307-56.934c.448-4.677 8.771-7.435 13.694-3.803l-18.484 79.586"/>
          <path d="M209.51 347.391v-15.582l60.158-13.935"/>
          <path d="M211.546 386.017v-16.806l43.909-7.198"/>
          <path d="M210.495 427.408v-21.717l32.099-4.611"/>
          <path d="M287.048 313.584l57.399-13.351"/>
          <path d="M272.447 360.15l71.755-13.171"/>
          <path d="M260.71 398.574l83.258-12.228"/>
          <path d="M209.001 310.138v-14.104l71.675-21.87"/>
          <path d="M298.748 268.953l45.336-12.602"/>
          <path d="M209.046 271.921v-13.09l85.463-30.662"/>
          <path d="M312.876 222.227l31.645-11.276"/>
          <path d="M297.95 116.568l16.014 14.512"/>
          <path d="M302.014 478.313h-60.281"/>
          <path d="M188.586 477.242c-10.259-.899-29.799-4.514-29.799-4.514"/>
          <path d="M207.513 477.932h14.128"/>
          <path d="M228.58 149.072c-11.268-2.749-19.685-7.454-26.529-13.236"/>
          <path d="M183.505 181.156c-9.337-4.554-17.392-10.177-23.843-17.134"/>
          <path d="M150.833 202.963c-9.581-2.895-17.584-8.17-24.369-15.282"/>
          <path d="M130.93 219.943c-11.125-3.635-19.55-9.252-26.748-15.771"/>
          <path d="M106.297 237.015c-9.964-2.935-17.629-8.35-24.612-14.503"/>
          <path d="M82.707 253.318c-8.845-2.782-16.212-6.906-23-11.557"/>
          <path d="M63.918 268.924c-8.445-1.784-15.669-5.463-22.24-10.155"/>
          <path d="M47.968 282.776c-7.538-2.148-14.19-5.561-20.418-9.58"/>
          <path d="M35.309 296.218c-6.961-1.674-13.183-4.817-18.914-8.932"/>
          <path d="M22.844 306.517c-5.945-1.859-11.119-4.447-15.454-7.826"/>
          <path d="M13.593 317.831c-6.075-1.018-10.389-4.275-14.141-8.247"/>
          <path d="M22.113 477.044h4.992"/>
          <path d="M49.116 476.049h8.914"/>
          <path d="M71.994 476.372h22.263"/>
          <path d="M108.645 474.603h31.777"/>
          <path d="M173.294 221.738v28.186"/>
          <path d="M188.358 181.834v33.295"/>
          <path d="M166.144 201.421v15.05"/>
          <path d="M153.502 202.863v28.864"/>
          <path d="M139.521 220.296v11.32"/>
          <path d="M131.889 220.69v11.319"/>
          <path d="M116.477 237.331v12.295"/>
          <path d="M109.284 237.577v12.296"/>
          <path d="M92.207 253.902v10.379"/>
          <path d="M84.799 253.937v10.379"/>
          <path d="M69.173 269.534v10.38"/>
          <path d="M62.239 269.537v11.035"/>
          <path d="M48.736 282.896v10.525"/>
          <path d="M33.38 296.842v7.358"/>
          <path d="M21.269 307.476v7.357"/>
          <path d="M134.986 238.211v29.19"/>
          <path d="M134.986 273.16v29.841"/>
          <path d="M134.714 308.775v29.841"/>
          <path d="M134.714 344.172v28.888"/>
          <path d="M134.714 378.657v27.799"/>
          <path d="M134.714 412.368v29.297"/>
          <path d="M107.463 422.013v25.24"/>
          <path d="M107.463 390.818v25.24"/>
          <path d="M107.463 356.208v28.016"/>
          <path d="M107.463 322.328v28.016"/>
          <path d="M107.667 285.375v30.313"/>
          <path d="M107.667 256.098v23.22"/>
          <path d="M83.453 270.994v23.22"/>
          <path d="M83.461 300.459v28.412"/>
          <path d="M83.461 335.191v25.097"/>
          <path d="M83.461 366.473v27.058"/>
          <path d="M83.461 399.788v24.508"/>
          <path d="M61.182 408.093v22.059"/>
          <path d="M61.686 376.845v24.653"/>
          <path d="M61.203 347.269v23.322"/>
          <path d="M61.203 316.036v25.212"/>
          <path d="M61.203 286.97v23.064"/>
          <path d="M173.294 256.1v30.997"/>
          <path d="M173.294 293.553v31.945"/>
          <path d="M173.294 330.861v30.212"/>
          <path d="M173.294 366.658v29.895"/>
          <path d="M173.294 402.76v31.272"/>
          <path d="M188.341 221.176v28.186"/>
          <path d="M147.398 237.616v28.814"/>
          <path d="M147.398 272.552v29.456"/>
          <path d="M147.126 308.168v29.455"/>
          <path d="M147.126 343.564v28.321"/>
          <path d="M147.126 377.503v27.719"/>
          <path d="M147.126 411.175v29.276"/>
          <path d="M115.22 420.82v25.913"/>
          <path d="M115.22 389.625v25.913"/>
          <path d="M115.22 354.884v28.763"/>
          <path d="M115.22 321.004v28.762"/>
          <path d="M115.424 283.942v31.122"/>
          <path d="M115.424 255v23.839"/>
          <path d="M91.21 269.896v23.839"/>
          <path d="M91.218 299.116v29.169"/>
          <path d="M91.218 334.004v25.766"/>
          <path d="M91.218 365.194v27.779"/>
          <path d="M91.218 398.629v25.161"/>
          <path d="M68.939 407.051v22.647"/>
          <path d="M69.443 375.68v25.31"/>
          <path d="M68.96 346.167v23.943"/>
          <path d="M68.96 314.844v25.884"/>
          <path d="M68.96 285.88v23.678"/>
          <path d="M47.374 299.231v23.15"/>
          <path d="M47.055 328.613v23.15"/>
          <path d="M47.07 357.821v20.711"/>
          <path d="M47.07 383.732v24.786"/>
          <path d="M47.07 413.782v21.487"/>
          <path d="M33.073 390.74v24.01"/>
          <path d="M33.073 420.104v20.527"/>
          <path d="M33.073 366.718v18.769"/>
          <path d="M33.073 338.137v23.075"/>
          <path d="M33.073 309.711v22.924"/>
          <path d="M20.592 320.837v22.504"/>
          <path d="M20.592 348.821v21.166"/>
          <path d="M20.592 375.477v15.777"/>
          <path d="M20.592 396.824v23.707"/>
          <path d="M20.592 426.555v19.446"/>
          <path d="M11.846 430.172v21.28"/>
          <path d="M11.846 402.377v23.198"/>
          <path d="M11.846 380.219v16.668"/>
          <path d="M11.846 355.84v18.803"/>
          <path d="M5.13 334.368v21.314"/>
          <path d="M-.775 338.26v23.147"/>
          <path d="M-.775 366.313v17.636"/>
          <path d="M-.775 388.313v15.956"/>
          <path d="M-.775 408.725v24.046"/>
          <path d="M-.775 436.261v22.388"/>
          <path d="M5.13 360.312v18.916"/>
          <path d="M5.13 383.648v16.905"/>
          <path d="M5.13 405.237v23.842"/>
          <path d="M5.13 433.029v22.195"/>
          <path d="M11.846 329.757v19.619"/>
          <path d="M188.341 255.482v30.997"/>
          <path d="M188.341 292.935v30.997"/>
          <path d="M188.341 330.009v30.238"/>
          <path d="M188.341 366.239v30.314"/>
          <path d="M188.341 402.341v31.691"/>
          <path d="M205.03 253.89l3.731 4.328"/>
          <path d="M205.174 291.05l3.731 4.328"/>
          <path d="M205.981 328.229l3.461 3.37"/>
          <path d="M205.863 402.167l4.472 3.971"/>
          <path d="M208.12 365.437l3.233 3.436"/>
        </g>
      </svg>
      <div class="slide__info">
        <div class="slide__container container">
          <div class="slide__first">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="75" viewBox="0 0 124 75">
              <g fill="#FFFFFF" fill-rule="evenodd">
                <rect width="43" height="75"></rect>
                <rect width="17" height="23" x="46"></rect>
                <rect width="58" height="23" x="66"></rect>
                <g transform="matrix(-1 0 0 1 124 26)">
                  <rect width="17" height="23" transform="matrix(-1 0 0 1 17 0)"></rect>
                  <rect width="58" height="23" x="20" transform="matrix(-1 0 0 1 98 0)"></rect>
                </g>
                <rect width="17" height="23" x="46" y="52"></rect>
                <rect width="58" height="23" x="66" y="52"></rect>
              </g>
            </svg>
            <div class="slide__name">
              <p class="slide__type">Курорт premium-класса</p>
              <p class="slide__title">Санаторий МРИЯ</p>
            </div>
          </div>
          <div class="slide__facts">
            <div class="slide__fact">
              <p class="slide__number">200</p>
              <p class="slide__units">тыс. м<sup>2</sup></p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">408</p>
              <p class="slide__units">номеров</p>
            </div>
            <div class="slide__fact">
              <p class="slide__number">25</p>
              <p class="slide__units">км от Ялты</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
