<section class="news">
  <div class="news__container container">
    <h2>Новости</h2>
    <div class="news__blocks">

      <div class="news__block">
        <a href="vystavka-videt-nevidimoe-nachala-tur-po-rossii.html"><div class="news__date">10 / <span class="news__month">03</span></div>
          <p class="news__title">Выставка «Видеть невидимое» начала тур по России</p>
        </a>
      </div>

      <div class="news__block">
        <a href="sberbank-otkryvaet-dostup-k-samomu-krupnomu-v-svoej-istorii-kachestvennomu-issledovaniyu-molodezhi.html"><div class="news__date">10 / <span class="news__month">03</span></div>
          <p class="news__title">Сбербанк открывает доступ к самому крупному в своей истории качественному исследованию молодежи</p>
        </a>
      </div>

      <div class="news__block">
        <a href="klienty-sberbanka-smogut-uznat-status-izgotovleniya-karty-v-sberbank-onlajn.html"><div class="news__date">10 / <span class="news__month">03</span></div>
          <p class="news__title">Клиенты Сбербанка смогут узнать статус изготовления карты в Сбербанк Онлайн</p>
        </a>
      </div>

    </div>
    <div class="news__button" style="display: none;">Все новости</div>
  </div>
</section>
