<div class="popup" data-remodal-id="writeus">
  <p class="popup__title">Написать нам</p>
  <form class="popup__form" id="form_writeus">
    <label class="popup__label" for="writeus_name">Имя</label>
    <input class="popup__input" type="text" name="name" id="writeus_name" required>
    <label class="popup__label" for="writeus_message">Сообщение</label>
    <textarea class="popup__textarea" name="message" id="writeus_message" required></textarea>
    <label class="popup__label" for="writeus_email">Ваша электронная почта</label>
    <input class="popup__input" type="email" name="email" id="writeus_email" required>
    <input type="submit" class="popup__button" value="Написать нам">
  </form>
  <div class="popup__success">
    <p class="popup__text">Ваше сообщение отправлено. Мы свяжемся с вами.<br>Спасибо!</p>
  </div>
</div>
