<section class="projects">
  <h2 class="projects__title">Наши проекты</h2>
  <div class="projects__slider owl-carousel owl-theme" id="projects_slider">
    {% for project in projects %}
      <div class="project js-project" data-lat="{{ project.lat }}" data-lng="{{ project.lng }}">
        <div class="project__image js-project-image" style="background-image: url(/assets/images/{{ project.image }})"></div>
        <div class="project__info">
          <p class="project__type js-project-type">{{ project.type }}</p>
          <p class="project__title js-project-title">{{ project.title }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="map">
    <div class="map__map" id="map"></div>
    <div class="map__shadow"></div>
    <div class="map__info container">
      <p class="map__title" id="projects-count"></p>
      <p class="map__subtitle">На территории России</p>
    </div>
    <div class="map__container container">
      <div class="map__button" id="more-map">Раскрыть карту</div>
    </div>
  </div>
</section>
