<section class="tenders">
    <div class="tenders-wrapper">
        <div class="tenders-info">
            <div class="tenders-info__text">Для участия в тендере необходимо скачать анкету участника и отправить на почту</div>
            <div class="tenders-info__mail">tender@sbdevelop.ru</div>
            <div class="tenders-info__text">с пометкой «участие в тендере» и названием тендера в теле письма.</div>
        </div>
        <div class="tender-list">
            <div class="tender">
                <div class="tender__header">
                    <div class="tender__title">
                        <div class="tender__title-text">
                            Запрос коммерческих предложений на выполнение работ по отделке подпорной стены в нижней зоне участка «Мрия Парк»
                        </div>
                    </div>
                    <a href="/docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div class="tender__property-list">
                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата публикации</div>
                            <div class="tender__property-value">30.03.2017 г.</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Наименование процедуры</div>
                            <div class="tender__property-value">Запрос коммерческих предложений на выполнение работ по отделке подпорной стены в нижней зоне участка «Мрия Парк» (Японский сад), ориентировочной площадью 180 м2 под «Искусственную скалу» (крымские горы).</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата окончания приема заявок</div>
                            <div class="tender__property-value">18:00 07.04.2017 г. </div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата подведения итогов</div>
                            <div class="tender__property-value">12.04.2017 г.</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Конкурсная документация
                                на тендер</div>
                            <div class="tender__property-value">
                                <ul>
                                    <li><a href="/docs/priglashenie.docx">Приглашение</a></li>
                                    <li><a href="/docs/cherteji.7z">Чертежи подпорной стены</a></li>
                                    <li><a href="/docs/obrazec.MOV">Образец</a></li>
                                    <li><a href="/docs/stena-predlojenie.xlsx">Коммерческое предложение на выполнение работ по отделке подпорной стены в нижней зоне участка «Мрия Парк»</a></li>
                                    <li><a href="/docs/stena-docs.docx">Cписок обязательных документов</a></li>
                                </ul>
                            </div>

                        </div>

                        {#<div class="tender__property-item">#}
                        {#<div class="tender__property-title">Прием заявок</div>#}
                        {#<div class="tender__property-value">31.04.2017</div>#}
                        {#</div>#}

                        {#<div class="tender__property-item">#}
                        {#<div class="tender__property-title">Прием предложений</div>#}
                        {#<div class="tender__property-value">20.01.2017</div>#}
                        {#</div>#}
                    </div>
                    {#<div class="tender__description">#}
                    {#<div class="tender__description-info">#}
                    {#Техническое задание на выполнение работ по строительству внеплощадочных наружных инженерных сетей водопровода объекта «Мрия Парк, в том числе косметологический центр с паркингом на 80 м/м, детский центр, виллы и банные комплексы, объекты социально-культурного и бытового назначения, рекреационной, инженерной и транспортной инфраструктуры по адресу: Российская Федерация, Республика Крым, г. Ялта, с Оползневое, ул. Южная, № 7-А»#}
                    {#</div>#}
                    {#<aside class="tender__sidebar">#}
                    {#<div class="tender__sidebar-item">#}
                    {#<div class="tender__sidebar-title">Стоимость</div>#}
                    {#<div class="tender__sidebar-value">Определяется договором</div>#}
                    {#</div>#}

                    {#<div class="tender__sidebar-item">#}
                    {#<div class="tender__sidebar-title">Источник финансированаия</div>#}
                    {#<div class="tender__sidebar-value">Средства инвестора</div>#}
                    {#</div>#}

                    {#<div class="tender__sidebar-item">#}
                    {#<div class="tender__sidebar-title">Заказчик</div>#}
                    {#<div class="tender__sidebar-value">ООО «СБ Девелопмент»</div>#}
                    {#</div>#}

                    {#<div class="tender__sidebar-item">#}
                    {#<div class="tender__sidebar-title">Сроки выполнения работ</div>#}
                    {#<div class="tender__sidebar-value">Согласно договора</div>#}
                    {#</div>#}
                    {#</aside>#}
                    {#<div class="tender__requirement">#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Объект</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>«Строительство объекта Мрия Парк, в том числе косметологический центр с паркингом на 80 м/м, детский центр, виллы и банные комплексы, объекты социально-культурного и бытового назначения, рекреационной, инженерной и транспортной инфраструктуры#}
                    {#по адресу: Российская Федерация, Республика Крым, г. Ялта,#}
                    {#с Оползневое, ул. Южная, № 7-А»</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Краткие характеристики оказываемых работ</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Прокладку водопровода вести в соответствии с проектной документацией, разработанной ООО «РУСКРЫМСТРОЙ».</p><br/>#}

                    {#<p>Трубы полиэтиленовые Д=160 мм L=370,0 п.м.,</p><br/>#}
                    {#<p>- Монтаж колодцев круглые - 1 шт.</p><br/>#}
                    {#<p>- Монтаж колодцев квадратные - 1 шт.<br/>В соответствии с общими требованиями к выполнению работ.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Дополнительные требования к заказчику</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Подрядчик должен выполнить поставку, монтажные, пусконаладочные работы и ввод в эксплуатацию оборудования.#}
                    {#Все отступления от проекта должны быть согласованы с Заказчиком в письменном виде.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Сопутствующие работы, услуги</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>При производстве работ необходимо применять современные технологии и строительные материалы. Все поставляемые материалы и оборудования должны иметь соответствующие сертификаты, технические паспорта и другие документы, удостоверяющие их качество. Копии сертификатов качества должны быть предоставлены Заказчику до начала производства работ, выполняемых с использованием соответствующих материалов и оборудования.</p><br/>#}
                    {#<p>Подрядчик несет ответственность за соответствие используемых материалов.</p><br/>#}
                    {#<p>Подрядчик несет ответственность за сохранность всех поставляемых материалов и оборудования до сдачи готового объекта в эксплуатацию.</p><br/>#}
                    {#<p>Транспортировка, разгрузка, складирование материалов и необходимого инструмента к месту проведения работ производятся силами и транспортом подрядной организации.#}
                    {#Подрядчик своими силами и за счет собственных средств обеспечивает:#}
                    {#- проведение необходимых мероприятий по охране труда и технике безопасности, противопожарной безопасности, охране окружающей среды в ходе выполнения работ в соответствии с действующим законодательством Российской Федерации;#}
                    {#- осуществление уборки строительного мусора, для поддержания рабочей зоны в здании, в чистоте и порядке, а по завершении работ окончательная уборка: от остатков материалов, строительного мусора и отходов;#}
                    {#- подписание акта сдачи-приемки выполненных работ по формам № КС-2, № КС-3 производится после вывоза Подрядчиком строительного мусора, инструментов,  материалов и оборудования.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Общие требования к работам, услугам, товарам, требования по объёму гарантий качества, требования по сроку гарантий качества на результаты осуществления закупок</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Работы выполнять в соответствии с указаниями СНиП 3.05.04-85; 3.01.04-87. Выполняемые работы должны соответствовать стандартам, строительным нормам и правилам и иным действующим на территории РФ нормативно-правовым актам.#}
                    {#Подрядчик должен обеспечить объект всеми видами материально-технических ресурсов в строгом соответствии с технологической последовательностью выполнения работ, установленные данным техническим заданием.#}
                    {#Подрядчик должен выполнять требования, предъявляемые Заказчиком при осуществлении технического надзора за ходом выполнения работ, а также при проведении представителями организации, ведущей авторский надзор за проведением работ на объекте, уполномоченными представителями контролирующих и надзорных органов.#}
                    {#При осуществлении работ Подрядчик обязан соблюдать требования законов и иных правовых актов об охране окружающей среды. Подрядчик несет ответственность за нарушение указанных требований. В процессе выполнения работ Подрядчик обязан предусмотреть мероприятия исключающие загрязнение прилегающей территории строительными отходами, предусмотреть меры по предотвращению пылеобразования.#}
                    {#Ответственный представитель Подрядчика обеспечивает ежедневную регистрацию специалистов, занятых при выполнении работ, в журнале выполнения работ Заказчика.#}
                    {#Складирование строительного мусора осуществляется Подрядчиком в специально отведенном Заказчиком месте.#}
                    {#Вывоз строительного мусора осуществляется Подрядчиком ежедневно.</p><br/>#}
                    {#<p>Выполнение работ Подрядчиком не должно подвергать угрозе здоровья для сотрудников Заказчика и третьих лиц.</p><br/>#}
                    {#<p>Подрядчик должен соблюдать правила привлечения и использования иностранной и иногородней рабочей силы, установленные законодательством Российской Федерации и нормативными правовыми актами Республики Крым.</p><br/>#}
                    {#<p>Подрядчик в течение суток после подписания контракта, должен представить Заказчику список сотрудников, привлеченных к выполнению работ на данном объектах, с указанием фамилии, имени и отчества, года рождения и паспортных данных, места регистрации, в случае привлечения иностранных граждан - разрешение на работу и выше упомянутый список.</p><br/>#}
                    {#<p>Наличие в штате работников, заключивших с Подрядчиком трудовые договоры, имеющих профессиональное образование (профессиональную подготовку), соответствующее выполнению работ и оказанию услуг.#}
                    {#До начала работ Подрядчик обязан предоставить Заказчику приказ о назначении представителя Подрядчика, ответственного за проведение работ на объекте.#}
                    {#Все работы проводятся с использованием ресурсов Подрядчика (материалы, крепежный материал, изделия, инструменты, конструкции, оборудование и д.р.) и за счет Подрядчика.#}
                    {#Наличие оборудования, инструмента, технической документации, технических средств, в том числе средств измерения, принадлежащих ему на праве собственности или ином законном основании, соответствующих установленным требованиям и необходимых для выполнения работ и оказания услуг;#}
                    {#Подрядчик несет ответственность перед компетентными государственными и муниципальными органами за соблюдение правил и порядка ведения работ.#}
                    {#Подрядчик несет ответственность за соответствие используемых материалов и оборудования государственным стандартам и техническим условиям, за достоверность сведений о стране происхождения, за сохранность всех поставляемых для реализации контракта материалов до завершения выполнения работ.#}
                    {#При проведении работ Подрядчик должен выполнять требования экологической безопасности и охраны здоровья населения, законодательных и нормативных правовых актов РФ и Республики Крым, а также предписания надзорных органов. Выполнение требований, предъявляемых к проектированию, монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений, установленных нормативными правовыми актами и нормативно-техническими документами в соответствии со статьей 20 Федерального закона "О пожарной безопасности". применение при осуществлении предмета заказа, имеющей декларацию о соответствии или сертификат соответствия, которые предусмотрены частью 4 статьи 145 Федерального закона "Технический регламент о требованиях пожарной безопасности".#}
                    {#Транспортировка материалов и оборудования к месту выполнения работ, производство погрузочно-разгрузочных работ и прочих сопутствующих мероприятий осуществляется Подрядчиком своими силами и за свой счет.#}
                    {#Восстановление асфальтового покрытия производится силами Подрядчика.#}
                    {#По окончании работ Подрядчик передает исполнительную документацию (объектную папку) Заказчику с обязательным приложением всех актов.#}
                    {#Гарантия качества выполняемых работ, в том числе на используемые в работе материалы предоставляется в полном объеме с соблюдением технологии производства, действующих норм и правил и составляет на общестроительные работы 2 (два) года с момента подписания Сторонами акта приемки выполненных работ.#}
                    {#Гарантийный срок нормальной эксплуатации объекта начинает действовать с момента подписания сторонами акта о приемке готового объекта. Если в гарантийный период обнаружатся дефекты, допущенные по вине Подрядчика, то Подрядчик обязан их устранить в установленный Заказчиком срок за свой счет. При отказе Подрядчика от составления или подписания акта об обнаруженных дефектах и недоделках, для их подтверждения Заказчик проводит  квалифицированную экспертизу с привлечением специалистов, по итогам которой составляется соответствующий акт, фиксирующий затраты по исправлению дефектов и недоделок, для обращения в Арбитражный суд</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Требования к качественным характеристикам работ и услуг, требования к функциональным характеристикам товаров, в том числе подлежащих использованию при выполнении работ, оказании услуг. Требования к безопасности товаров, работ и услуг, требования к комплектности (объёмам) поставки </div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Все работы подрядчик обязан выполнять в соответствии с Правил технической эксплуатации систем и сооружений коммунального водоснабжения и канализации МДК 3-02.2001, утверждённого приказом Госстроя РФ от 30.12.99 № 168.#}
                    {#Применяемая технология и методы производства работ должны соответствовать техническому заданию, стандартам, строительным нормам и правилам и иным действующим на территории РФ нормативно-правовым актам.</p><br/>#}
                    {#<p>Требуемое качество работ и надежность объекта должны обеспечиваться Подрядчиком путем осуществления комплекса технических, экономических и организационных мер эффективного контроля на всех стадиях выполнения работ.</p><br/>#}
                    {#<p>Применяемая Подрядчиком система контроля качества за выполненными работами должна соответствовать требованиям ГОСТ и другими действующими нормативно-правовыми документами.</p><br/>#}
                    {#<p>Все работы должны быть выполнены Подрядчиком в соответствии с действующими в строительстве нормативными документами СанПиН, СНиП, ППБ, ПТЭЭУ, ГОСТ и др.</p><br/>#}
                    {#<p>Подрядчик может принять на себя по контракту обязанность выполнить работу, отвечающую требованиям к качеству, более высоким по сравнению с установленными обязательными для сторон требованиями.</p><br/>#}
                    {#<p>Подрядчик обязан безвозмездно исправить по требованию Заказчика все выявленные недостатки, если в процессе выполнения работ Подрядчик допустил отступления от условий контракта, ухудшившие качество работы, в согласованные с Заказчиком сроки. При возникновении аварийной ситуации по вине Подрядчика, восстановительные и ремонтные работы осуществляются силами и за счет денежных средств Подрядчика.</p><br/>#}
                    {#<p>Скрытые работы предъявляются Заказчику поэтапно с оформлением актов на скрытые работы.</p><br/>#}
                    {#<p>Для проверки соответствия качества выполненных работ требованиям, установленным контрактом, Заказчик вправе привлекать независимых экспертов.</p><br/>#}
                    {#При проведении Подрядчиком работ ответственность за возможное причинение материального вреда и вреда здоровью третьим лицам целиком возлагается на Подрядчика.#}
                    {#Для качественного выполнения работ, применяемые материалы должны соответствовать требованиям, указанным в техническом задании и его приложениях. Качество предлагаемых Подрядчиком к применению материалов должно соответствовать или превосходить технические и качественные характеристики, приводимые в проектной документации  тации </p><br/>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Требования к качественным характеристикам работ и услуг, требования к функциональным характеристикам товаров, в том числе подлежащих использованию при выполнении работ, оказании услуг. Требования к безопасности товаров, работ и услуг, требования к комплектности (объёмам) поставки </div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Трасса водопровода и подключение к городским сетям должны приниматься представителя ГУП РК «Водоканал ЮБК» согласно ТУ. Подрядная организация по окончании работ предоставляет Заказчику технические паспорта, акты скрытых работ, исполнительные чертежи на проложенные трубопроводы, сертификаты качества на применяемые материалы, а также документы, подтверждающие соответствие данных материалов нормам и ГОСТам.</p>#}
                    {#<p>Перечень документов:#}
                    {#- Акт о приемке выполненных работ (форма КС-2) - 3 экз.,<br/>#}
                    {#- Справка о стоимости выполненных работ (форма КС-3) - 3 экз.,<br/>#}
                    {#- Счет - 1 экз.,<br/>#}
                    {#- Счёт-фактура - 1 экз.<br/>#}
                    {#</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Требования соответствия нормативным документам (лицензии, допуски, разрешения, согласования)</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>- Соответствие участников размещения заказа требованиям, устанавливаемым в соответствии с законодательством Российской Федерации к лицам, осуществляющим поставки товаров, выполнение работ, оказание услуг, являющихся предметом торгов.<br/>#}
                    {#-Подрядчик должен предоставить соответствующие сертификаты на соответствие используемых материалов и оборудования санитарным и противопожарным нормам.#}
                    {#При производстве работ необходимо:</br>#}
                    {#- Строго выполнять требования правил эксплуатации и техники безопасности, изложенные в должностных инструкциях;<br/>#}
                    {#- При возникновении аварийных ситуаций немедленно сообщать в местные органы власти и принимать меры по ликвидации аварийной ситуации.</br>#}
                    {#При производстве работ запрещается пользоваться неисправными рабочим инструментом и приспособлениями.</br>#}
                    {#Качество выполненной Участником закупки работы должно соответствовать требованиям, обычно предъявляемым к работам соответствующего рода.</br>#}
                    {#Организация и выполнение работ должны осуществляться с соблюдением законодательства Российской Федерации об охране труда, а также иных нормативных правовых актов, установленных перечнем видов нормативных правовых актов, утвержденных постановлением Правительства Российской Федерации от 23 мая 2000 года N 399 "О нормативных правовых актах, содержащих государственные нормативные требования охраны труда": строительные нормы и правила, своды правил по проектированию и строительству; межотраслевые и отраслевые правила и типовые инструкции по охране труда, утвержденные в установленном порядке федеральными органами исполнительной власти; государственные стандарты системы стандартов безопасности труда, утвержденные Госстандартом России или Госстроем России; правила безопасности, правила устройства и безопасной эксплуатации, инструкции по безопасности; государственные санитарно-эпидемиологические правила и нормативы, гигиенические нормативы, санитарные правила и нормы, утвержденные Минздравом России.</p>#}
                    {#<p>Свидетельство о допуске к работам, которые оказывают влияние на безопасность, в соответствии с перечнем видов работ, утвержденным приказом Минрегиона России от 30.12.2009 № 624:<br/>#}
                    {#При производстве работ по устройству внешних сетей в руководстве работ необходимо использовать следующие нормативные документы:<br/>#}
                    {#- СНиП 12-03-2001Безопасность труда в строительстве Часть 1. Общие требования.<br/><br/>#}

                    {#- СНиП 12-04-2002Безопасность труда в строительстве. Часть 2. Строительное производство<br/><br/>#}

                    {#- СП 12-135-2003Безопасность труда в строительстве. Отраслевые типовые инструкции по охране труда<br/><br/>#}

                    {#- Постановление Правительства Российской Федерации от 25 апреля 2012 г. N 390 Правила противопожарного режима в Российской Федерации<br/><br/>#}

                    {#- СНиП 3.0301-87 Несущие и ограждающие конструкции</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Материалы, предоставляемые Заказчиком</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Проектная документация, Технические условия, иные необходимые документы, по запросу Подрядчика.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Порядок выполнения работ, оказания услуг, поставки товаров, этапы, последовательность, график, порядок поэтапной выплаты авансирования, а также поэтапной оплаты исполненных условий контракта</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Работы должны производиться только в отведенной зоне работ. Работы должны выполняться в соответствии с требованиями энергетической эффективности в отношении товаров, используемых для создания элементов конструкций зданий, строений, сооружений, в том числе инженерных систем ресурсоснабжения, влияющих на энергетическую эффективность зданий, строений, сооружений (Приказ Министерства экономического развития РФ от 04.06.2010 г. № 229)<br/>#}
                    {#Подрядчик перед началом работ обязан установить информационные стенды с указанием информации о заказчике, подрядной организации (номера контактных телефонов обязательны), с указанием видов работ и сроками начала и завершения работ.<br/>#}
                    {#Подрядчик должен обеспечивать на строительной площадке необходимые мероприятия по технике безопасности, охране окружающей среды, зеленых насаждений и земли во время проведения работ;<br/>#}
                    {#Персонал Подрядчика должен быть обучен, иметь соответствующую квалификацию и опыт выполнения работ аналогичных объекту торгов;<br/>#}
                    {#Подрядчик обеспечивает содержание и ежедневную уборку той части строительной площадки, на которой проводятся работы, с соблюдением норм технической безопасности, пожарной и производственной санитарии.<br/>#}
                    {#Работы, выполненные с изменением и отклонением от технического задания, не оформленные в установленном порядке оплате не подлежат.<br/>#}
                    {#Подрядчик несет ответственность за все нарушения, допущенные им при производстве работ на объектах с возмещением всех штрафных санкций, предъявленных органами Ростехнадзора и другими контролирующими органами и устраняет эти нарушения с предъявлением, контролирующим органам документов, подтверждающий факт устранения этих нарушений.<br/>#}
                    {#Подрядчик обязан обеспечить оборудованием и материалами выполнение работ.<br/>#}
                    {#Подрядчик готовит фотоснимки завершенных и скрытых работ в соответствии с пунктами в актах выполненных работ (КС-2).<br/>#}
                    {#Подрядчик предъявляет объекты к сдаче, в установленные Договором сроки.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="tender__requirement-item">#}
                    {#<div class="tender__requirement-title">Квалификационные требования</div>#}
                    {#<div class="tender__requirement-description">#}
                    {#<p>Наличие свидетельства СРО (действующее) о допуске к выполнению работ, которые оказывают влияние на безопасность объектов капитального строительства (согласно ст.52 Градостроительного кодекса РФ и в соответствии с перечнем, утвержденным приказом Министерства регионального развития РФ от 30.12.2009 № 624), о допуске видам работ, выполняемых в рамках договора, в т.ч. п. 16 «Устройство наружных сетей водопровода»;</p>#}
                    {#<p>Подрядчик должен обладать опытом выполнения аналогичных работ, привлекать к выполнению работ специалистов, имеющих профессиональное образование (профессиональную подготовку), соответствующее выполнению работ и оказанию услуг. </p>#}
                    {#<p>Сотрудники Подрядчика, по требованию Заказчика, должны быть готовы предъявить документ, подтверждающий их квалификацию.</p>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                    {#</div>#}
                </div>
                {#<div class="tender__button">#}
                {#<svg class="tender__button-icon" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill-rule="evenodd"/></svg>#}
                {#<div class="tender__button-text"><span class="tender__button-text_open">Раскрыть</span><span class="tender__button-text_close">Закрыть</span></div>#}
                {#</div>#}
            </div>
            <div class="tender">
                <div class="tender__header">
                    <div class="tender__title">
                        <div class="tender__title-text">
                            Запрос коммерческих предложений на проведение инженерно-геологических и инженерно-экологических изысканий
                        </div>
                    </div>
                    <a href="/docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div class="tender__property-list">
                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата публикации</div>
                            <div class="tender__property-value">20.03.2017 г.</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Наименование процедуры</div>
                            <div class="tender__property-value">Запрос коммерческих предложений на проведение инженерно-геологических и инженерно-экологических изысканий. Объект: Строительство комплекса зданий и сооружений в составе винодельни, маяка, ресторана, с организацией виноградника и с благоустройством территории общей площадью 13,3 га расположенного по адресу Российская Федерация, Республика Крым, за границами населенных пунктов г. Ялта, в районе с. Оползневое, кадастровый номер 90:25:070201:316 )</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата окончания приема заявок</div>
                            <div class="tender__property-value">17:00 24.03.2017 г. </div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Дата подведения итогов</div>
                            <div class="tender__property-value">07.04.2017 г.</div>
                        </div>

                        <div class="tender__property-item">
                            <div class="tender__property-title">Конкурсная документация
                                на тендер</div>
                            <div class="tender__property-value">
                                <ul>
                                    <li><a href="/docs/geo_scheme.pdf">Схема расположения инженерно-геологических скважин</a></li>
                                    <li><a href="/docs/geo_tz.xlsx">Техническое задание на проведение инженерно-геологических и инженерно-экологических изысканий</a></li>
                                    <li><a href="/docs/geo_predlojenie.xlsx">Коммерческое предложение на проведение инженерно-геологических и инженерно-экологических изысканий</a></li>
                                    <li><a href="/docs/geo_documents.docx">Список обязательных документов, предоставляемых участниками</a></li>
                                </ul>
                            </div>

                        </div>

                        {#<div class="tender__property-item">#}
                            {#<div class="tender__property-title">Прием заявок</div>#}
                            {#<div class="tender__property-value">31.04.2017</div>#}
                        {#</div>#}

                        {#<div class="tender__property-item">#}
                            {#<div class="tender__property-title">Прием предложений</div>#}
                            {#<div class="tender__property-value">20.01.2017</div>#}
                        {#</div>#}
                    </div>
                    {#<div class="tender__description">#}
                        {#<div class="tender__description-info">#}
                            {#Техническое задание на выполнение работ по строительству внеплощадочных наружных инженерных сетей водопровода объекта «Мрия Парк, в том числе косметологический центр с паркингом на 80 м/м, детский центр, виллы и банные комплексы, объекты социально-культурного и бытового назначения, рекреационной, инженерной и транспортной инфраструктуры по адресу: Российская Федерация, Республика Крым, г. Ялта, с Оползневое, ул. Южная, № 7-А»#}
                        {#</div>#}
                        {#<aside class="tender__sidebar">#}
                            {#<div class="tender__sidebar-item">#}
                                {#<div class="tender__sidebar-title">Стоимость</div>#}
                                {#<div class="tender__sidebar-value">Определяется договором</div>#}
                            {#</div>#}

                            {#<div class="tender__sidebar-item">#}
                                {#<div class="tender__sidebar-title">Источник финансированаия</div>#}
                                {#<div class="tender__sidebar-value">Средства инвестора</div>#}
                            {#</div>#}

                            {#<div class="tender__sidebar-item">#}
                                {#<div class="tender__sidebar-title">Заказчик</div>#}
                                {#<div class="tender__sidebar-value">ООО «СБ Девелопмент»</div>#}
                            {#</div>#}

                            {#<div class="tender__sidebar-item">#}
                                {#<div class="tender__sidebar-title">Сроки выполнения работ</div>#}
                                {#<div class="tender__sidebar-value">Согласно договора</div>#}
                            {#</div>#}
                        {#</aside>#}
                        {#<div class="tender__requirement">#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Объект</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>«Строительство объекта Мрия Парк, в том числе косметологический центр с паркингом на 80 м/м, детский центр, виллы и банные комплексы, объекты социально-культурного и бытового назначения, рекреационной, инженерной и транспортной инфраструктуры#}
                                        {#по адресу: Российская Федерация, Республика Крым, г. Ялта,#}
                                        {#с Оползневое, ул. Южная, № 7-А»</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Краткие характеристики оказываемых работ</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Прокладку водопровода вести в соответствии с проектной документацией, разработанной ООО «РУСКРЫМСТРОЙ».</p><br/>#}

                                    {#<p>Трубы полиэтиленовые Д=160 мм L=370,0 п.м.,</p><br/>#}
                                    {#<p>- Монтаж колодцев круглые - 1 шт.</p><br/>#}
                                    {#<p>- Монтаж колодцев квадратные - 1 шт.<br/>В соответствии с общими требованиями к выполнению работ.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Дополнительные требования к заказчику</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Подрядчик должен выполнить поставку, монтажные, пусконаладочные работы и ввод в эксплуатацию оборудования.#}
                                        {#Все отступления от проекта должны быть согласованы с Заказчиком в письменном виде.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Сопутствующие работы, услуги</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>При производстве работ необходимо применять современные технологии и строительные материалы. Все поставляемые материалы и оборудования должны иметь соответствующие сертификаты, технические паспорта и другие документы, удостоверяющие их качество. Копии сертификатов качества должны быть предоставлены Заказчику до начала производства работ, выполняемых с использованием соответствующих материалов и оборудования.</p><br/>#}
                                    {#<p>Подрядчик несет ответственность за соответствие используемых материалов.</p><br/>#}
                                    {#<p>Подрядчик несет ответственность за сохранность всех поставляемых материалов и оборудования до сдачи готового объекта в эксплуатацию.</p><br/>#}
                                    {#<p>Транспортировка, разгрузка, складирование материалов и необходимого инструмента к месту проведения работ производятся силами и транспортом подрядной организации.#}
                                        {#Подрядчик своими силами и за счет собственных средств обеспечивает:#}
                                        {#- проведение необходимых мероприятий по охране труда и технике безопасности, противопожарной безопасности, охране окружающей среды в ходе выполнения работ в соответствии с действующим законодательством Российской Федерации;#}
                                        {#- осуществление уборки строительного мусора, для поддержания рабочей зоны в здании, в чистоте и порядке, а по завершении работ окончательная уборка: от остатков материалов, строительного мусора и отходов;#}
                                        {#- подписание акта сдачи-приемки выполненных работ по формам № КС-2, № КС-3 производится после вывоза Подрядчиком строительного мусора, инструментов,  материалов и оборудования.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Общие требования к работам, услугам, товарам, требования по объёму гарантий качества, требования по сроку гарантий качества на результаты осуществления закупок</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Работы выполнять в соответствии с указаниями СНиП 3.05.04-85; 3.01.04-87. Выполняемые работы должны соответствовать стандартам, строительным нормам и правилам и иным действующим на территории РФ нормативно-правовым актам.#}
                                        {#Подрядчик должен обеспечить объект всеми видами материально-технических ресурсов в строгом соответствии с технологической последовательностью выполнения работ, установленные данным техническим заданием.#}
                                        {#Подрядчик должен выполнять требования, предъявляемые Заказчиком при осуществлении технического надзора за ходом выполнения работ, а также при проведении представителями организации, ведущей авторский надзор за проведением работ на объекте, уполномоченными представителями контролирующих и надзорных органов.#}
                                        {#При осуществлении работ Подрядчик обязан соблюдать требования законов и иных правовых актов об охране окружающей среды. Подрядчик несет ответственность за нарушение указанных требований. В процессе выполнения работ Подрядчик обязан предусмотреть мероприятия исключающие загрязнение прилегающей территории строительными отходами, предусмотреть меры по предотвращению пылеобразования.#}
                                        {#Ответственный представитель Подрядчика обеспечивает ежедневную регистрацию специалистов, занятых при выполнении работ, в журнале выполнения работ Заказчика.#}
                                        {#Складирование строительного мусора осуществляется Подрядчиком в специально отведенном Заказчиком месте.#}
                                        {#Вывоз строительного мусора осуществляется Подрядчиком ежедневно.</p><br/>#}
                                    {#<p>Выполнение работ Подрядчиком не должно подвергать угрозе здоровья для сотрудников Заказчика и третьих лиц.</p><br/>#}
                                    {#<p>Подрядчик должен соблюдать правила привлечения и использования иностранной и иногородней рабочей силы, установленные законодательством Российской Федерации и нормативными правовыми актами Республики Крым.</p><br/>#}
                                    {#<p>Подрядчик в течение суток после подписания контракта, должен представить Заказчику список сотрудников, привлеченных к выполнению работ на данном объектах, с указанием фамилии, имени и отчества, года рождения и паспортных данных, места регистрации, в случае привлечения иностранных граждан - разрешение на работу и выше упомянутый список.</p><br/>#}
                                    {#<p>Наличие в штате работников, заключивших с Подрядчиком трудовые договоры, имеющих профессиональное образование (профессиональную подготовку), соответствующее выполнению работ и оказанию услуг.#}
                                        {#До начала работ Подрядчик обязан предоставить Заказчику приказ о назначении представителя Подрядчика, ответственного за проведение работ на объекте.#}
                                        {#Все работы проводятся с использованием ресурсов Подрядчика (материалы, крепежный материал, изделия, инструменты, конструкции, оборудование и д.р.) и за счет Подрядчика.#}
                                        {#Наличие оборудования, инструмента, технической документации, технических средств, в том числе средств измерения, принадлежащих ему на праве собственности или ином законном основании, соответствующих установленным требованиям и необходимых для выполнения работ и оказания услуг;#}
                                        {#Подрядчик несет ответственность перед компетентными государственными и муниципальными органами за соблюдение правил и порядка ведения работ.#}
                                        {#Подрядчик несет ответственность за соответствие используемых материалов и оборудования государственным стандартам и техническим условиям, за достоверность сведений о стране происхождения, за сохранность всех поставляемых для реализации контракта материалов до завершения выполнения работ.#}
                                        {#При проведении работ Подрядчик должен выполнять требования экологической безопасности и охраны здоровья населения, законодательных и нормативных правовых актов РФ и Республики Крым, а также предписания надзорных органов. Выполнение требований, предъявляемых к проектированию, монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений, установленных нормативными правовыми актами и нормативно-техническими документами в соответствии со статьей 20 Федерального закона "О пожарной безопасности". применение при осуществлении предмета заказа, имеющей декларацию о соответствии или сертификат соответствия, которые предусмотрены частью 4 статьи 145 Федерального закона "Технический регламент о требованиях пожарной безопасности".#}
                                        {#Транспортировка материалов и оборудования к месту выполнения работ, производство погрузочно-разгрузочных работ и прочих сопутствующих мероприятий осуществляется Подрядчиком своими силами и за свой счет.#}
                                        {#Восстановление асфальтового покрытия производится силами Подрядчика.#}
                                        {#По окончании работ Подрядчик передает исполнительную документацию (объектную папку) Заказчику с обязательным приложением всех актов.#}
                                        {#Гарантия качества выполняемых работ, в том числе на используемые в работе материалы предоставляется в полном объеме с соблюдением технологии производства, действующих норм и правил и составляет на общестроительные работы 2 (два) года с момента подписания Сторонами акта приемки выполненных работ.#}
                                        {#Гарантийный срок нормальной эксплуатации объекта начинает действовать с момента подписания сторонами акта о приемке готового объекта. Если в гарантийный период обнаружатся дефекты, допущенные по вине Подрядчика, то Подрядчик обязан их устранить в установленный Заказчиком срок за свой счет. При отказе Подрядчика от составления или подписания акта об обнаруженных дефектах и недоделках, для их подтверждения Заказчик проводит  квалифицированную экспертизу с привлечением специалистов, по итогам которой составляется соответствующий акт, фиксирующий затраты по исправлению дефектов и недоделок, для обращения в Арбитражный суд</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Требования к качественным характеристикам работ и услуг, требования к функциональным характеристикам товаров, в том числе подлежащих использованию при выполнении работ, оказании услуг. Требования к безопасности товаров, работ и услуг, требования к комплектности (объёмам) поставки </div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Все работы подрядчик обязан выполнять в соответствии с Правил технической эксплуатации систем и сооружений коммунального водоснабжения и канализации МДК 3-02.2001, утверждённого приказом Госстроя РФ от 30.12.99 № 168.#}
                                        {#Применяемая технология и методы производства работ должны соответствовать техническому заданию, стандартам, строительным нормам и правилам и иным действующим на территории РФ нормативно-правовым актам.</p><br/>#}
                                    {#<p>Требуемое качество работ и надежность объекта должны обеспечиваться Подрядчиком путем осуществления комплекса технических, экономических и организационных мер эффективного контроля на всех стадиях выполнения работ.</p><br/>#}
                                    {#<p>Применяемая Подрядчиком система контроля качества за выполненными работами должна соответствовать требованиям ГОСТ и другими действующими нормативно-правовыми документами.</p><br/>#}
                                    {#<p>Все работы должны быть выполнены Подрядчиком в соответствии с действующими в строительстве нормативными документами СанПиН, СНиП, ППБ, ПТЭЭУ, ГОСТ и др.</p><br/>#}
                                    {#<p>Подрядчик может принять на себя по контракту обязанность выполнить работу, отвечающую требованиям к качеству, более высоким по сравнению с установленными обязательными для сторон требованиями.</p><br/>#}
                                    {#<p>Подрядчик обязан безвозмездно исправить по требованию Заказчика все выявленные недостатки, если в процессе выполнения работ Подрядчик допустил отступления от условий контракта, ухудшившие качество работы, в согласованные с Заказчиком сроки. При возникновении аварийной ситуации по вине Подрядчика, восстановительные и ремонтные работы осуществляются силами и за счет денежных средств Подрядчика.</p><br/>#}
                                    {#<p>Скрытые работы предъявляются Заказчику поэтапно с оформлением актов на скрытые работы.</p><br/>#}
                                    {#<p>Для проверки соответствия качества выполненных работ требованиям, установленным контрактом, Заказчик вправе привлекать независимых экспертов.</p><br/>#}
                                    {#При проведении Подрядчиком работ ответственность за возможное причинение материального вреда и вреда здоровью третьим лицам целиком возлагается на Подрядчика.#}
                                    {#Для качественного выполнения работ, применяемые материалы должны соответствовать требованиям, указанным в техническом задании и его приложениях. Качество предлагаемых Подрядчиком к применению материалов должно соответствовать или превосходить технические и качественные характеристики, приводимые в проектной документации  тации </p><br/>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Требования к качественным характеристикам работ и услуг, требования к функциональным характеристикам товаров, в том числе подлежащих использованию при выполнении работ, оказании услуг. Требования к безопасности товаров, работ и услуг, требования к комплектности (объёмам) поставки </div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Трасса водопровода и подключение к городским сетям должны приниматься представителя ГУП РК «Водоканал ЮБК» согласно ТУ. Подрядная организация по окончании работ предоставляет Заказчику технические паспорта, акты скрытых работ, исполнительные чертежи на проложенные трубопроводы, сертификаты качества на применяемые материалы, а также документы, подтверждающие соответствие данных материалов нормам и ГОСТам.</p>#}
                                    {#<p>Перечень документов:#}
                                        {#- Акт о приемке выполненных работ (форма КС-2) - 3 экз.,<br/>#}
                                        {#- Справка о стоимости выполненных работ (форма КС-3) - 3 экз.,<br/>#}
                                        {#- Счет - 1 экз.,<br/>#}
                                        {#- Счёт-фактура - 1 экз.<br/>#}
                                    {#</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Требования соответствия нормативным документам (лицензии, допуски, разрешения, согласования)</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>- Соответствие участников размещения заказа требованиям, устанавливаемым в соответствии с законодательством Российской Федерации к лицам, осуществляющим поставки товаров, выполнение работ, оказание услуг, являющихся предметом торгов.<br/>#}
                                        {#-Подрядчик должен предоставить соответствующие сертификаты на соответствие используемых материалов и оборудования санитарным и противопожарным нормам.#}
                                        {#При производстве работ необходимо:</br>#}
                                        {#- Строго выполнять требования правил эксплуатации и техники безопасности, изложенные в должностных инструкциях;<br/>#}
                                        {#- При возникновении аварийных ситуаций немедленно сообщать в местные органы власти и принимать меры по ликвидации аварийной ситуации.</br>#}
                                        {#При производстве работ запрещается пользоваться неисправными рабочим инструментом и приспособлениями.</br>#}
                                        {#Качество выполненной Участником закупки работы должно соответствовать требованиям, обычно предъявляемым к работам соответствующего рода.</br>#}
                                        {#Организация и выполнение работ должны осуществляться с соблюдением законодательства Российской Федерации об охране труда, а также иных нормативных правовых актов, установленных перечнем видов нормативных правовых актов, утвержденных постановлением Правительства Российской Федерации от 23 мая 2000 года N 399 "О нормативных правовых актах, содержащих государственные нормативные требования охраны труда": строительные нормы и правила, своды правил по проектированию и строительству; межотраслевые и отраслевые правила и типовые инструкции по охране труда, утвержденные в установленном порядке федеральными органами исполнительной власти; государственные стандарты системы стандартов безопасности труда, утвержденные Госстандартом России или Госстроем России; правила безопасности, правила устройства и безопасной эксплуатации, инструкции по безопасности; государственные санитарно-эпидемиологические правила и нормативы, гигиенические нормативы, санитарные правила и нормы, утвержденные Минздравом России.</p>#}
                                    {#<p>Свидетельство о допуске к работам, которые оказывают влияние на безопасность, в соответствии с перечнем видов работ, утвержденным приказом Минрегиона России от 30.12.2009 № 624:<br/>#}
                                        {#При производстве работ по устройству внешних сетей в руководстве работ необходимо использовать следующие нормативные документы:<br/>#}
                                        {#- СНиП 12-03-2001Безопасность труда в строительстве Часть 1. Общие требования.<br/><br/>#}

                                        {#- СНиП 12-04-2002Безопасность труда в строительстве. Часть 2. Строительное производство<br/><br/>#}

                                        {#- СП 12-135-2003Безопасность труда в строительстве. Отраслевые типовые инструкции по охране труда<br/><br/>#}

                                        {#- Постановление Правительства Российской Федерации от 25 апреля 2012 г. N 390 Правила противопожарного режима в Российской Федерации<br/><br/>#}

                                        {#- СНиП 3.0301-87 Несущие и ограждающие конструкции</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Материалы, предоставляемые Заказчиком</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Проектная документация, Технические условия, иные необходимые документы, по запросу Подрядчика.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Порядок выполнения работ, оказания услуг, поставки товаров, этапы, последовательность, график, порядок поэтапной выплаты авансирования, а также поэтапной оплаты исполненных условий контракта</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Работы должны производиться только в отведенной зоне работ. Работы должны выполняться в соответствии с требованиями энергетической эффективности в отношении товаров, используемых для создания элементов конструкций зданий, строений, сооружений, в том числе инженерных систем ресурсоснабжения, влияющих на энергетическую эффективность зданий, строений, сооружений (Приказ Министерства экономического развития РФ от 04.06.2010 г. № 229)<br/>#}
                                        {#Подрядчик перед началом работ обязан установить информационные стенды с указанием информации о заказчике, подрядной организации (номера контактных телефонов обязательны), с указанием видов работ и сроками начала и завершения работ.<br/>#}
                                        {#Подрядчик должен обеспечивать на строительной площадке необходимые мероприятия по технике безопасности, охране окружающей среды, зеленых насаждений и земли во время проведения работ;<br/>#}
                                        {#Персонал Подрядчика должен быть обучен, иметь соответствующую квалификацию и опыт выполнения работ аналогичных объекту торгов;<br/>#}
                                        {#Подрядчик обеспечивает содержание и ежедневную уборку той части строительной площадки, на которой проводятся работы, с соблюдением норм технической безопасности, пожарной и производственной санитарии.<br/>#}
                                        {#Работы, выполненные с изменением и отклонением от технического задания, не оформленные в установленном порядке оплате не подлежат.<br/>#}
                                        {#Подрядчик несет ответственность за все нарушения, допущенные им при производстве работ на объектах с возмещением всех штрафных санкций, предъявленных органами Ростехнадзора и другими контролирующими органами и устраняет эти нарушения с предъявлением, контролирующим органам документов, подтверждающий факт устранения этих нарушений.<br/>#}
                                        {#Подрядчик обязан обеспечить оборудованием и материалами выполнение работ.<br/>#}
                                        {#Подрядчик готовит фотоснимки завершенных и скрытых работ в соответствии с пунктами в актах выполненных работ (КС-2).<br/>#}
                                        {#Подрядчик предъявляет объекты к сдаче, в установленные Договором сроки.</p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="tender__requirement-item">#}
                                {#<div class="tender__requirement-title">Квалификационные требования</div>#}
                                {#<div class="tender__requirement-description">#}
                                    {#<p>Наличие свидетельства СРО (действующее) о допуске к выполнению работ, которые оказывают влияние на безопасность объектов капитального строительства (согласно ст.52 Градостроительного кодекса РФ и в соответствии с перечнем, утвержденным приказом Министерства регионального развития РФ от 30.12.2009 № 624), о допуске видам работ, выполняемых в рамках договора, в т.ч. п. 16 «Устройство наружных сетей водопровода»;</p>#}
                                    {#<p>Подрядчик должен обладать опытом выполнения аналогичных работ, привлекать к выполнению работ специалистов, имеющих профессиональное образование (профессиональную подготовку), соответствующее выполнению работ и оказанию услуг. </p>#}
                                    {#<p>Сотрудники Подрядчика, по требованию Заказчика, должны быть готовы предъявить документ, подтверждающий их квалификацию.</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                {#<div class="tender__button">#}
                    {#<svg class="tender__button-icon" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill-rule="evenodd"/></svg>#}
                    {#<div class="tender__button-text"><span class="tender__button-text_open">Раскрыть</span><span class="tender__button-text_close">Закрыть</span></div>#}
                {#</div>#}
            </div>
        </div>
</section>




