<section class="tenders">
    <div class="tenders-wrapper">
        <div class="tenders-info">
            <div class="tenders-info__text">Для отклика на вакансии присылайте резюме на адрес</div>
            <div class="tenders-info__mail">hr@sbdevelop.ru</div>        </div>
        <div class="tender-list">
            <div class="tender">
                <div class="tender__header">
                    <div style="border-right:none;" class="tender__title">
                        <div style="border-right:none;" class="tender__title-text">
                            Главный инженер проекта (Комплексный ГИП) 
                            объекта «Мрия Парк»
                        </div>
                    </div>
                    <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div style="display:block;" class="tender__description">
                        <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
<ul>
<li>Организация процесса проектирования объекта со стороны технического заказчика при участии иностранной архитектурной компании и российского генерального проектировщика;</li>
<li>Разработка, контроль исполнения графика выпуска исходно-разрешительной документации, предпроектной, проектно-сметной документации, архитектурно-градостроительных решений, рабочей документации и графика заключения договоров (плана контрактации) по ИРД, предпроекту, проектно-изыскательским работам, АГР, РД по Объекту;</li>
<li>Предварительная оценка начальной (максимальной) цены договоров для графика заключения договоров (плана контрактации) по Объекту;</li>
<li>Организация подготовки исходных данных для разработки ИРД (для градостроительного плана земельного участка, проекта планировки территории по Объекту;</li>
<li>Организация и контроль выполнения инженерных изысканий по Объекту;</li>
<li>Обеспечение получения необходимых согласований, заключений по Объекту;</li>
<li>Организация подготовки необходимых документов для получения технических условий по Объекту;</li>
<li>В случае необходимости, проведение взаимоувязки проектных решений по Объекту;</li>
<li>Подготовка предложений, решений по организации проектирования в целях эффективного выполнения проекта в установленный срок;</li>
<li>Подготовка отчетных документов о результатах работы по Объекту;</li>
<li>Контроль и участие в приемке и пересдаче работ и документации по Объекту заказчику;</li>
<li>Осуществление постоянного контроля за ходом проектирования Объекта, сбор и анализ информации, определение важных проблемных вопросов по Объекту и доведение их до сведения руководителя проекта.</li>
</ul>
<p><strong>Требования:</strong></p>
<ul>
<li>Полное высшее образование (архитектурное, строительное, техническое);</li>
<li>Опыт работы в проектировании от 10 лет, опыт работы в службе заказчика в качестве комплексного ГИПа не менее 3 лет;</li>
<li>Опыт руководства проектно-изыскательскими работами на объектах общей площадью более 100 000 м2;</li>
<li>Опыт руководства проектно-изыскательскими работами при взаимодействии с иностранными проектными организациями;</li>
<li>Опыт согласования и защиты разработанных проектных решений в городских инстанциях;</li>
<li>Опыт прохождения и получения положительных заключений по проектам в экспертизах;</li>
<li>Знание процессов организации, планирования и экономику проектирования и инженерных изысканий;</li>
<li>Знание основной нормативной и технической документации в области проектирования, строительства, эксплуатации объектов;</li>
<li>Знание всех стадий проектного процесса и строительного производства;</li>
<li>Знание всех инженерных систем и норм их проектирования;</li>
<li>Высокий уровень знания ПК (AutoCAD, MS Project);</li>
<li>Знание английского языка на уровне не ниже Upper-Intermediate (крайне желательно).</li>
</ul>
<p>&nbsp;</p>
<p><strong>Условия:</strong></p>
<ul>
<li>Работа в офисе на территории работодателя с выездами на объекты строительства;</li>
<li>Работа в структуре технического заказчика;</li>
<li>Оформление по ТК РФ;</li>
<li>Присутствуют краткосрочные командировки.</li>
</ul>
<p>&nbsp;</p>
                        </div>
                    </div>



            </div>


            <div class="tender">
                <div class="tender__header">
                    <div style="border-right:none;" class="tender__title">
                        <div style="border-right:none;" class="tender__title-text">
                            Старший специалист отдела ИТ
                        </div>
                    </div>
                    <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div style="display:block;" class="tender__description">
                        <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
<ul>
<li>Осуществление эксплуатации и администрирования информационных систем компании;</li>
<li>Поддержка работоспособного состояния информационной структуры компании;</li>
<li>Осуществление работ по восстановлению работоспособности информационных систем при возникновении программных и аппаратных сбоев, а также при нарушении информационной безопасности;</li>
<li>Осуществление обучения сотрудников компании для обеспечения надежной эксплуатации и эффективной работы информационных систем;</li>
<li>Осуществление мониторинга рыночной стоимости товаров, работ, услуг, закупаемых в рамках реализуемых функций;</li>
<li>Участие в формировании проектов бюджетов на информационные технологии компании;</li>
<li>Выполнение отдельных поручений руководителя отдела в рамках функции подразделения.</li>
</ul>
<p><strong>Требования:</strong></p>
<ul>
<li>Полное высшее образование;</li>
<li>Опыт работы на аналогичной должности не менее 3-х лет;</li>
<li>Высокий уровень владения навыками и знаниями:</li>
<ul>
<li>управления виртуальной инфраструктурой предприятия VMWare;</li>
<li>управления физической структурой предприятия (физические сервера, система хранения данных, коммуникационное оборудование HP);</li>
<li>управления территориально-распределительной информационной структурой (локальные сети в главном офисе и удаленных офисах, шифрованные каналы связи (VPN), коммуникационное оборудование;</li>
<li>управления серверами защиты периметра предприятия и серверами доступа в сеть Internet (сетевые экраны, прокси сервера) Kerio Control;</li>
<li>управления доменной структурой предприятия Active Ditectory;</li>
<li>управления сервером электронной корпоративной почты Kerio Connect;</li>
<li>управления сервером БД компании MS SQL Server;</li>
<li>управления серверами мониторинга работоспособности информационной структуры компании - PRTG;</li>
<li>управления сервером резервного копирования данных Veeam;</li>
<li>управления серверами терминального доступа.</li>
</ul>
</ul>
<p><strong>Условия:</strong></p>
<ul>
<li>Работа в офисе компании;</li>
<li>Оформление в соответствии с ТК РФ.</li>
</ul>
<p>&nbsp;</p>
                        </div>
                    </div>



            </div>
            <div class="tender">
                <div class="tender__header">
                    <div style="border-right:none;" class="tender__title">
                        <div style="border-right:none;" class="tender__title-text">
                            Начальник производственно-технического отдела
                        </div>
                    </div>
                    <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div style="display:block;" class="tender__description">
                        <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
<ul>
<li>Организация работы и руководство производственно-техническим отделом в службе технического заказчика;</li>
<li>Инженерно-техническая подготовка и сопровождение объектов строительства;</li>
<li>Контроль за технической и исполнительной документацией, оформление актов по объектам, работа с проектно-сметной документацией, подготовка и организация строительного производства, координация хода строительства;</li>
<li>Обеспечение разработки, проверки и согласования организационно-технологической документации необходимой для производства работ;</li>
<li>Формирование ведомостей объемов работ, составление лимитно-заборных карт на потребность объектов строительства в материалах и оборудовании;</li>
<li>Разработка, анализ и актуализация графиков реализации проектов, графиков выполнения строительно-монтажных и пусконаладочных работ. Графиков поставки и монтажа оборудования. Разработка производственных программ;</li>
<li>Разработка и внедрение нормативов для оперативно-производственного планирования;</li>
<li>Взаимодействие с субподрядными организациями, контроль работ по проекту, недельно-суточное планирование, подсчет объемов работ по проектной документации и в натуре для составления КС-2;</li>
<li>Проверка и подтверждение фактически выполненных объемов работ;</li>
<li>Проверка и комплектование исполнительной документации;</li>
<li>Участие в приемке выполненных работ, в пусконаладочных работах на объектах;</li>
<li>Подготовка документации по завершенным объектам строительства и передача их заказчику;</li>
<li>Обеспечение своевременной сдачи законченных строительством объектов в эксплуатацию;</li>
<li>Участие в подготовке договоров подряда, разработка технических заданий для подрядных организаций;</li>
<li>Проверка качества и подготовка заключений по проектно-сметной документации;</li>
<li>Подготовка ежемесячной отчетной документации по исполнению обязательств по договорам;</li>
<li>Подготовка накопительных и сводных ведомостей по объемам работ;</li>
<li>Подготовка справочных материалов для руководства организации в рамках компетенций отдела;</li>
<li>Ведение деловой переписки от лица компании в рамках компетенций отдела.</li>
</ul>
<p><strong>Требования:</strong></p>
<ul>
<li>Высшее образование (ПГС);</li>
<li>Опыт работы в аналогичной должности в строительных организациях не менее 5 лет;</li>
<li>Уверенное знание законодательства РФ в области строительства, нормативных, распорядительных и методических документов в производственном планировании и оперативном управлении строительством;</li>
<li>Уверенный пользователь ПК.</li>
</ul>
<p><strong>Условия:</strong></p>
<ul>
<li>Работа в офисе на территории работодателя с выездами на объекты строительства;</li>
<li>Краткосрочные командировки на объекты строительства за пределами МО;</li>
<li>Оформление в соответствии с ТК РФ.</li>
</ul>
<p>&nbsp;</p>
                        </div>
                    </div>



            </div>
            <div class="tender">
                <div class="tender__header">
                    <div style="border-right:none;" class="tender__title">
                        <div style="border-right:none;" class="tender__title-text">
                            Ведущий инженер-сметчик</strong> <strong>(Сколково)</strong>
                        </div>
                    </div>
                    <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div style="display:block;" class="tender__description">
                        <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
<ul>
<li>Осуществление работ полного цикла по формированию себестоимости проектов, от создания укрупненных смет до закрытия актов приемки выполненных работ и формирования сводного сметного расчета по объекту.</li>
<li>Проверка коммерческих предложений и смет на общестроительные работы, а так же по разделам ОВ, ВК и иные работы на предмет соответствия рыночным/нормативным расценкам.</li>
<li>Расчет смет по проектам, ведомостям объемов работ на общестроительные работы, а так же по разделам ОВ, ВК и иным видам работ или проектные работы.</li>
<li>Подготовка заключений о соответствии (несоответствии) смет/коммерческих предложений рыночной/нормативной стоимости, работа с подрядными организациями по вопросу снижения или обоснования заявленной стоимости работ.</li>
<li>Проверка выполнения по формам КС3, КС2; акты сдачи-приемки выполненных работ на проектные работы, комплексные акты сдачи-приемки.</li>
<li>Ведение накопительных в разрезе договоров и объектов.</li>
<li>Самостоятельное формирование генподрядного выполнения в разрезе видов работ по проекту / проекта в целом.</li>
<li>Участие в проведение тендерных торгов в разрезе ценообразования.</li>
<li>Участие в согласовании Договоров/ДС внутри компании в рамках своих обязанностей, согласование условия Договоров с ответственными сотрудниками компании, включая устранение замечаний согласовывающих лиц (в соответствии с внутренней процедурой согласования Договоров в компании).</li>
<li>Согласование условий, замечаний по Договорам/ДС с контрагентами, Заказчиками при необходимости, в рамках своих обязанностей.</li>
<li>Координация работ специалистов Сметного отдела в рамках процессов по проекту:&nbsp;постановка задач, отслеживания сроков и качества выполнения работ инженерами-сметчиками в рамках проектной группы.</li>
<li>Подготовка отчетов в рамках реализации работ по проекту и в рамках внутренней отчетности отдела по проектной группе</li>
</ul>
<p><strong>Требования:</strong></p>
<ul>
<li>Полное высшее образование;</li>
<li>Опыт работы по составлению и проверке смет по нормативам и коммерческим расценкам на общестроительные работы, разделы ОВ, ВК, пр. работы - от 5 лет;</li>
<li>Владение пакетом MS Office (Excel обязательно) на высоком уровне;</li>
<li>Владение сметными программами (Гранд Смета, Смета.ру, Турбосметчик) на высоком уровне;</li>
<li>Знание 1С Документооборот (или аналогичной программы по КСЭД).</li>
</ul>
<p><strong><br /> Условия:</strong></p>
<ul>
<li>Работа в офисе в&nbsp;Сколково&nbsp;(корпоративный автобус от м. Парк Победы);</li>
<li>Работа в структуре технического заказчика;</li>
<li>Оформление по ТК РФ;</li>
<li>Заработная плата указана&nbsp;gross.</li>
</ul>
<p>&nbsp;</p>
                        </div>
                    </div>



            </div>
             <div class="tender">
                <div class="tender__header">
                    <div style="border-right:none;" class="tender__title">
                        <div style="border-right:none;" class="tender__title-text">
                            Начальник отдела инженерных систем
                        </div>
                    </div>
                    <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                        <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                        <div class="tender__download-link">Скачать анкету участника</div>
                    </a>
                </div>
                <div class="tender__content">
                    <div style="display:block;" class="tender__description">
                        <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
                            <ul>
                            <li>Организация эффективной работы отдела инженерных систем в службе технического заказчика;</li>
                            <li>Организация процессов по получению исходно-разрешительной документации и технических условий на подключение к инженерным сетям. При необходимости корректировка и оптимизация технических условий;</li>
                            <li>Организация процесса проверки и подготовки заключений о качестве проектно-сметной документации по внутренним инженерным системам и наружным сетям;</li>
                            <li>Взаимодействие с ресурсоснабжающими компаниями, государственными и эксплуатирующими организациями, в части согласования проектов и технических решений относительно подключения объектов к инженерным сетям;</li>
                            <li>Проработка технических решений и анализ подбора оборудования при проектировании и строительстве объектов компании по инженерным системам;</li>
                            <li>Контроль соответствия разработанной проектно-сметной документации нормативным требованиям и Заданию на проектирование.</li>
                            <li>Организация процессов по подготовке и заключению договоров с контрагентами в части инженерного обеспечения объектов;</li>
                            <li>Разработка и актуализация графиков подключения объектов к инженерным сетям.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><strong>Требования:</strong></p>
                            <ul>
                            <li>Полное высшее техническое образование;</li>
                            <li>Стаж работы в аналогичной должности от 5 лет; опыт работы в должности руководителя проекта по инженерным сетям приветствуется;</li>
                            <li>Опыт создания отдела инженерных систем в службе заказчика;</li>
                            <li>Знание процесса подключения к инженерным сетям в соответствии с российским законодательством;</li>
                            <li>Знание процедур по получению технических условий и заключения договоров на технологическое присоединения к сетям инженерного обеспечения;</li>
                            <li>Знание нормативно-технической базы в части инженерного обеспечения;</li>
                            <li>Навыки оценки земельных участков относительно возможностей подключения к различным инженерным сетям;</li>
                            <li>Навыки анализа различных возможностей для подключения к инженерным сетям, оценка рисков для различных вариантов по подключению;</li>
                            <li>Высокий уровень знания ПК.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p><strong>Условия:</strong></p>
                            <ul>
                            <li>Работа в офисе на территории работодателя с выездами на объекты строительства;</li>
                            <li>Работа в структуре технического заказчика;</li>
                            <li>Оформление по ТК РФ;</li>
                            <li>Присутствуют краткосрочные командировки на объекты</li>
                            </ul>
                            <p>&nbsp;</p>
                        </div>
                    </div>
            </div>
                 <div class="tender">
                     <div class="tender__header">
                         <div style="border-right:none;" class="tender__title">
                             <div style="border-right:none;" class="tender__title-text">
                                 Юрист
                             </div>
                         </div>
                         <a style="display:none" href="docs/anketa-uchastnika.docx" class="tender__download">
                             <svg class="tender__download-icon" width="23" height="30" viewBox="0 0 23 30" xmlns="http://www.w3.org/2000/svg"><title>D833D2A6-7FE3-4A76-82BA-9027C68AC643</title><g fill-rule="nonzero"><path d="M22.771 8.066L14.576.174A.628.628 0 0 0 14.14 0H2.592C1.189 0 .049 1.099.049 2.45v25.1c0 1.351 1.14 2.45 2.543 2.45h17.816c1.403 0 2.543-1.099 2.543-2.45V8.486a.582.582 0 0 0-.18-.42zm-8.015-6.042l6.093 5.868h-4.781c-.724 0-1.312-.567-1.312-1.263V2.024zm6.964 25.527c0 .696-.588 1.263-1.312 1.263H2.592c-.723 0-1.312-.567-1.312-1.263V2.449c0-.696.589-1.263 1.312-1.263h10.932v5.443c0 1.35 1.141 2.449 2.544 2.449h5.652V27.55z"/><path d="M16.425 15.06h-9.85a.605.605 0 0 0-.616.592c0 .328.276.593.616.593h9.85c.34 0 .616-.265.616-.593a.605.605 0 0 0-.616-.593zM17.467 18H7.616a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.615-.593zM16.425 20.356h-9.85a.605.605 0 0 0-.616.593c0 .327.276.593.616.593h9.85c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593zM13.224 23.004h-6.65a.605.605 0 0 0-.615.593c0 .327.276.593.616.593h6.649c.34 0 .616-.266.616-.593a.605.605 0 0 0-.616-.593z"/></g></svg>
                             <div class="tender__download-link">Скачать анкету участника</div>
                         </a>
                     </div>
                     <div class="tender__content">
                         <div style="display:block;" class="tender__description">
                             <div style="width:95%" class="tender__description-info"><p><strong>Обязанности:</strong></p>
                                 <ul>
                                     <li>Подготовка/правовая экспертиза, правовое сопровождение исполнения договоров, связанных с проектированием, строительством, выполнением функции технического заказчика, а также иных сделок;</li>
                                     <li>Ведение претензионной работы, подготовка материалов к рассмотрению их в суде, арбитражном суде, обобщение судебной и арбитражной практики;</li>
                                     <li>Представление интересов, защита прав и законных интересов Общества в судах общей юрисдикции, арбитражных судах, третейских судах;</li>
                                     <li>Ведение работы по исполнению судебных актов в интересах Общества;</li>
                                     <li>Участие в подготовке заключений по правовым вопросам, возникающим в деятельности Общества;</li>
                                     <li>Осуществление правовой экспертизы приказов, распоряжений и других локальных нормативных актов, издаваемых Обществом, а также подготовка таких документов;</li>
                                     <li>Оказание методической помощи по правовым вопросам структурным подразделениям Общества;</li>
                                     <li>Разработка учредительных документов Общества, сопровождение корпоративных процедур Общества;</li>
                                     <li>Контроль за полнотой информации Общества, подлежащей обязательному раскрытию в соответствии с действующим законодательством Российской Федерации, своевременное опубликование вышеуказанной информации;</li>
                                     <li>Ведение работы по регистрации недвижимого имущества и сделок с ним;</li>
                                     <li>Оформление доверенностей, выдаваемых Обществом.</li>
                                 </ul>
                                 <p>&nbsp;</p>
                                 <p><strong>Требования:</strong></p>
                                 <ul>
                                     <li>Высшее юридическое образование (магистратура/ специалитет) – государственный ВУЗ;</li>
                                     <li>Опыт работы юристом от 5 лет из них не менее 3 лет в строительных компаниях (в т.ч. выполняющих функции технического заказчика);</li>
                                     <li style="font-weight: bold;">Уверенные знания гражданского права, градостроительного законодательства и арбитражного процесса;</li>
                                     <li style="font-weight: bold;">Большой опыт работы (составление, правовая экспертиза, согласование) с договорами подряда;</li>
                                     <li style="font-weight: bold;">Опыт ведения судебных споров в качестве единственного представителя в арбитражных судах первой, апелляционной и кассационной инстанции. Наличие выигранных судебных дел;</li>
                                     <li>Понимание процесса организации строительства;</li>
                                     <li>Знание корпоративного законодательства, трудового права и законодательства о закупках;</li>
                                     <li>Наличие практики ведения переговоров;</li>
                                     <li>Опыт введения в эксплуатацию строительных объектов.</li>
                                     <li>Опыт оформления земельных участков и регистрации объектов недвижимости;</li>
                                     <li>Опыт самостоятельного сопровождения исполнительного производства;</li>
                                     <li>Грамотная устная и письменная речь;</li>
                                     <li>Умение анализировать, находить системный подход к решению поставленной задачи;</li>
                                     <li>Умение работать в команде;</li>
                                     <li>Умение распределять время работы и выстраивать приоритеты в выполнении поставленных задач;</li>
                                     <li>Ответственность, исполнительность, коммуникабельность;</li>
                                     <li>Готовность к ненормированному рабочему дню;</li>
                                     <li>Высокая стрессоустойчивость.</li>
                                 </ul>
                                 <p>&nbsp;</p>
                                 <p><strong>Условия:</strong></p>
                                 <ul>
                                     <li>Тестирование при приеме на работу;</li>
                                     <li>Работа в офисе на территории работодателя;</li>
                                     <li>Пятидневная рабочая неделя. График с 09:30 до 18:30;</li>
                                     <li>Работа в структуре технического заказчика;</li>
                                     <li>Возможны краткосрочные командировки;</li>
                                     <li>Оформление по ТК РФ.</li>
                                 </ul>
                                 <p>&nbsp;</p>
                             </div>
                         </div>
                     </div>

    </div>
</section>




