<section class="tenders-header">
    {% include "header.twig" %}

    <div class="tenders-header__wrapper">
    <h1 class="tenders-header__title">Вакансии</h1>

    <a href="index.html" class="header-return">
        <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
        <div class="header-return__text">Вернуться на главную</div>
    </a>
</div>
</section>