{% extends "core/layout.twig" %}

{% block body %}
  {% include "blocks/intro.twig" %}
  {% include "blocks/about.twig" %}
  {% include "blocks/projects.twig" %}
  {% include "blocks/news.twig" %}
  {% include "blocks/contacts.twig" %}
  {% include "blocks/popup.twig" %}
{% endblock %}
