{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Клиенты Сбербанка смогут узнать статус изготовления карты в Сбербанк Онлайн
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>10 марта 2017 года, Москва — В веб-версии интернет-банка Сбербанк Онлайн появился новый сервис, благодаря которому клиенты могут самостоятельно отслеживать сроки изготовления, доставки и готовности карты для выдачи в отделении. Эта информация будет доступна в личном кабинете Сбербанк Онлайн.</p>
                <p>«Новый сервис существенно упростит общение между клиентом и банком, — отметила старший управляющий директор блока «Розничный бизнес» Сбербанка Светлана Кирсанова. — Кстати, помимо определения статуса банковской карты наши клиенты могут получить точный адрес её выдачи: для этого достаточно пометить пункт выдачи на Яндекс.Картах. Это особенно удобно в том случае, если вы получаете карту в другом отделении».</p>
                <p>&nbsp;Раньше узнать о готовности карты можно было либо в контактном центре, либо в отделении. Также клиенты, которые оформляли карту в отделении, получали SMS-сообщение о ее доставке в отделение при готовности. Все эти возможности останутся доступными для клиентов.</p>
                <p>&nbsp;Количество пользователей веб-версией Сбербанк Онлайн составляет 23 млн человек.</p>
            </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
