{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Сбербанк принял участие в выставке Aero India 2017
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>16 февраля 2017 года, Бангалор (Индия) — Сбербанк принял участие в главной авиапромышленной выставке азиатского региона Aero India 2017.</p>
                <p>В ходе выставки Сбербанк подписал меморандум о взаимопонимании с компанией Stork GmbH - поставщиком титановой и алюминиевой продукции для индийской авиационной промышленности. В числе направлений сотрудничества — расчёты в национальных валютах (рупия-рубль), торговое финансирование, проектное финансирование в рамках программы «Make in India». Со стороны Сбербанка меморандум подписал глава по корпоративному бизнесу филиала банка в Индии – Виген Согомонян.</p>
                <p>«Сбербанк в Индии является опорным банком для обслуживания клиентов ОПК, — отметил Алексей Кечко, руководитель филиала в Индии. — Нашими клиентами являются не только дочерние компании и представительства российских предприятий, но и индийские партнёры. Участие в выставке дало нам уникальную возможность представить наши услуги и провести трёхсторонние переговоры с поставщиками и покупателями».</p>
                <p>Филиал Сбербанка в Индии обеспечивает стратегическое присутствие Группы Сбербанк в Азии. Он фокусируется на предоставлении банковских услуг для развития внешней торговли между Индией и Россией, странами СНГ и другими странами присутствия Группы.</p>
                <p>Филиал предоставляет клиентам конверсионные операции, расчетно-кассовое обслуживание, банковские гарантии, депозиты юридических лиц, кредитование в национальной валюте, а также консультации&nbsp;в области торгово-экономических связей между Россией и Индией.</p>
                <p>Уникальным продуктом филиала Сбербанка в Индии является проведение прямых расчетов в национальных валютах (рупия-рубль).</p>
                <p>Выставка Aero India 2017 прошла при&nbsp;поддержке&nbsp;министерства обороны Индии в Бангалоре с 14 по 18 февраля 2017 года.</p>
            </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
