{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Сбербанк открывает доступ к самому крупному в своей истории качественному исследованию молодежи
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>10 марта 2017 года, Москва — В конце 2016 года Сбербанк совместно с исследовательским агентством Validata провёл самое крупное в своей истории качественное исследование молодёжи. Были проведены 18 фокус-групп с детьми и молодёжью в возрасте от 5 до 25 лет, 5 фокус-групп с родителями, ряд глубинных интервью с родителями и с учителями-экспертами. Кроме того, исследование включало в себя анализ блогов молодых людей из разных городов России, а также экскурсии.</p>
                <p>«Мы нашли новые форматы получения важных инсайтов: например, ребята записывали видео, где рассказывали нам всю свою жизнь. А в Барнауле и Саратове они провели для нас экскурсии по родным городам. В результате, мы получили опыт, который позволит нам создавать принципиально новые сервисы, не похожие на обычные банковские продукты», — отметила Наталия Филиппова, управляющий директор сегмента «Молодёжь» департамента развития отношений с клиентами.</p>
                <p>Результатом исследования стал отчет о жизни современной молодежи, который помогает понимать потребителей здесь и сейчас, предлагая им актуальные услуги и коммуникацию.</p>
                <p>В числе выводов исследования: родители — лучшие друзья, успех и карьера — больше не главное, молодежь — за традиционные семейные ценности.</p>
                <p>Ознакомиться с отчётом можно по адресу <a href="http://www.sberbank.ru/family">Sberbank.ru/family</a>.</p>
                <p>Стратегическая задача для Сбербанка — оставаться с клиентом всю жизнь. Сбербанк создает продукты совместно с клиентами, используя маркетинговые исследования и методику дизайн-мышления, в центре которой всегда стоит клиент.</p>
                <p>С 2014 года банк проектирует специальные продукты и сервисы для молодёжи.&nbsp; Сегодня услугами Сбербанка пользуются более 8,8 млн клиентов до 25 лет и 1,5 млн — до 18 лет.</p>
            </div>
        </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
