{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Сбербанк запустил новый кредитный продукт для застройщиков
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>17 февраля 2017 года, Москва— Сбербанк запустил новый кредитный продукт для застройщиков, реализующих проекты жилищного строительства: кредиты под залог готовых площадей в жилых домах.</p>
                <p>Сумма кредита определяется исходя из рыночной стоимости и ликвидности площадей и может составлять до 60 % от их оценки. Срок кредитования — от 3 до 5 лет в зависимости от масштабности проекта, что позволит собственнику построенных квартир получить максимальную прибыль от продажи площадей.</p>
                <p>Клиенты Сбербанка могут получить финансирование на любые цели, предусмотренные Уставом банка: в том числе на приобретение земельных участков, проектные работы, рефинансирование кредитов как Сбербанка, так и других банков.</p>
                <p>«Мы убеждены, что преимущества продукта обеспечат высокий спрос на него среди застройщиков, — отметил старший вице-президент Сбербанка Анатолий Попов. — Одно из его главных преимуществ — возможность использовать полученный кредит на формирование собственного участия при финансировании Сбербанком новых проектов».</p>
            </div>
        </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
