{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Сбербанк снижает ставки по жилищным кредитам
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>17 февраля 2017 года, Москва – &nbsp;С 20 февраля 2017 года Сбербанк снижает ставки по ипотеке в среднем на 1,1 п.п. Ставка в случае приобретения недвижимости у застройщиков составит 10,9%, при покупке жилья на вторичном рынке 10,75-12,25%.&nbsp; Кроме того, существенно упрощена линейка ставок по жилищным кредитам. Ставка теперь будет зависеть только от вида кредита и категории клиента при любом уровне первоначального взноса и сроке кредитования.</p>
                <p>Сбербанк впервые вводит дополнительный дисконт в размере 0,5 п.п. для клиентов, которые воспользуются сервисом электронной регистрации сделки при покупке новостройки у застройщика.</p>
                <p>По заявкам до 30 июня 2017 (включительно) продлено действие дисконта 0,5 п.п. к процентной ставке по продукту «Приобретение готового жилья» в отдельных регионах и расширен их список:</p>
                <p>Москва и Московская область, Санкт-Петербург и Ленинградская область, Ростовская область, Челябинская область, Красноярский край, Алтайский край, Омская область, Приморский край, Амурская область, Чукотка, Самарская область, Магаданская область, Воронежская область, Камчатка, Хабаровский край, Сахалинская область, Калининградская область, Тюменская область, Алтайский край, Чувашская республика, ЯНАО, Республика Татарстан.</p>
                <p>Во всех регионах России продолжит действовать дисконт в размере 0,5 п.п. для молодых семей.</p>
                <p>«Сбербанк заметно снижает ставки по ипотеке, потому что понимает насколько важно решение квартирного вопроса в условиях современной жизни. &nbsp;Одновременно мы уделяем особое внимание развитию электронных и Digital- сервисов в сфере ипотечного кредитования – теперь зарегистрировать ипотечную сделку не только удобно, но и выгоднее», – отметил директор управления по работе с партнерами и ипотечного кредитования Сбербанка Николай Васев.</p>
                <p>Ставки указаны с учетом оформления добровольного страхования жизни и здоровья. Минимальный первоначальный взнос при покупке строящегося жилья у застройщиков составляет 15%. Более подробно с условиями ипотечного кредитования в Сбербанке, в том числе, с сервисом удаленной подачи&nbsp;документов в Росреестр можно ознакомиться на сайте в разделе «Кредит на жилье». Новые ставки будут доступны на сайте Сбербанка с 20 февраля.</p>             </div>
        </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
