{% extends "core/layout.twig" %}

{% block body %}
    <section class="news-header">
        {% include "blocks/header.twig" %}
        <div class="news-header__wrapper">
            <h1 class="news-header__title">
                Выставка «Видеть невидимое» начала тур по России
            </h1>

            <a href="index.html" class="header-return">
                <svg class="header-return__arrow" width="11" height="20" viewBox="0 0 11 20" xmlns="http://www.w3.org/2000/svg"><title>EF2240B5-4B31-469D-88FF-B998759E4A81</title><path d="M1.98 9.9L10.89.99 9.9 0 0 9.9l9.9 9.899.99-.99z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header-return__text">Вернуться на главную</div>
            </a>
        </div>
    </section>

    <section class="news-content">
        <div class="news-content__wrapper">
            <div class="news-content__text">
                <p>10 марта 2017 года, Казань — 9 марта в Национальной художественной галерее «Хазинэ», расположенной в Казанском Кремле, прошла церемония открытия уникальной выставки «Видеть невидимое». Вход на выставку бесплатный для всех.</p>
                <p>«Видеть невидимое» — совместный проект Сбербанка, платёжной системы Visa и Пушкинского музея. Это первая в России экспозиция тактильных картин, воспроизводящих знаменитые полотна из собрания музея и изготовленных по инновационной технологии специально для незрячих и слабовидящих людей. Знакомство этой категории посетителей с шедеврами изобразительного искусства обычно ограничивается скульптурой, фрагментами архитектуры, предметами декоративно-прикладного искусства. Выставка «Видеть невидимое» направлена на то, чтобы сделать доступной для незрячих людей ту область материальной культуры, восприятие которой затруднено из-за врождённых или приобретенных особенностей.</p>
                <p>На церемонии открытия выставки состоялся показ новой сценической  версии спектакля «Прикасаемые», созданной фондом «Со-единение» специально для проекта «Видеть невидимое». «Прикасаемые» — первая в мире постановка, в которой одновременно задействованы и слепоглухие, и зрячеслышащие актеры. В основе спектакля — реальные истории людей с одновременным нарушением зрения и слуха. Автор идеи спектакля — художественный руководитель Театра Наций Евгений Миронов, режиссер Руслан Маликов.</p>
                <p>На протяжении всей выставки для жителей Казани с инвалидностью будет организован бесплатный трансфер от дома до галереи. Специализированный автобус будет доставлять посетителей с инвалидностью на выставку, а опытный персонал поможет выйти из дома.</p>
                <p>Для выставки из собрания Пушкинского музея были выбраны шесть шедевров: «Благовещение» Сандро Боттичелли, «Мадонна с Младенцем»  Лукаса Кранаха Старшего, «Натюрморт с атрибутами искусств» Жана-Батиста Симеона Шардена, «Нападение ягуара на лошадь» Анри Руссо, «А, ты ревнуешь?» Поля Гогена, «Старый еврей с мальчиком» Пабло Пикассо. Тактильные картины с использованием технологии рельефной печати были созданы на их основе: фотографии картин подверглись специальной обработке, были подобраны такие текстуры и проработаны те особенности изображения, которые важны для понимания сюжета слепыми и слабовидящими людьми.</p>
                <p>Зрячие посетители могут открыть для себя принципиально новый тактильный опыт восприятия картин и понять ощущения невидящих людей благодаря тёмным очкам, которые выдаются при входе на выставку.</p>
                <p>На экспозиции в Казани впервые выставлена тактильная копия картины Ильи Репина «Портрет О. С. Александровой-Гейнс», подлинник которой хранится в Государственном музее изобразительных искусств Республики Татарстан. В каждом городе выставка «Видеть невидимое» будет пополняться картиной местного музея и оставаться в музее.</p>
                <p>Впервые выставка «Видеть невидимое» открылась 13 ноября, во Всемирный день слепых, в ГМИИ им. А.С. Пушкина. Теперь она вышла на федеральный уровень. В Казани экспозиция будет представлена до 30 марта 2017 года. Следующим пунктом назначения выставки станет Волгоград.</p>
            </div>
        </div>
    </section>
    {% include "blocks/contacts.twig" %}
{% endblock %}
